Repository skyra-project/skyra, pull requests merged in 2019-12, with the labels that each got.

#595 feat(pokemon): items, flavors, ability, learn, type and move commands
  package.json
  src/commands/Pokemon/ability.ts
  src/commands/Pokemon/flavors.ts
  src/commands/Pokemon/item.ts
  src/commands/Pokemon/learn.ts
  src/commands/Pokemon/move.ts
  src/commands/Pokemon/pokedex.ts
  src/commands/Pokemon/type.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Pokemon.ts
  src/lib/util/clean.ts
  yarn.lock
Labels: Meta: Feature, Meta: Refactor, Priority: High, SEM: Minor, Status: Review Ready, Type: Ribbon Migration

#611 refactor: updated pokemon i18n strings
  src/languages/en-US.ts
  src/languages/es-ES.ts
Labels: Meta: Refactor

#607 preliminary(Audit): Add Skyra Audit logs
  .github/CODEOWNERS
  README.md
  config.example.ts
  docker/influxdb/.gitignore
  docker/influxdb/Dockerfile
  docker/influxdb/config.sample.toml
  package.json
  src/commands/Announcement/announcement.ts
  src/events/guildAuditAnnouncementSend.ts
  src/events/settingsAuditUpdate.ts
  src/lib/SkyraClient.ts
  src/lib/schemas/Audit.ts
  src/lib/structures/AuditEvent.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Enums.d.ts
  src/lib/types/influxSchema/Audit.d.ts
  src/lib/types/influxSchema/database.d.ts
  src/lib/types/influxSchema/tags.d.ts
  yarn.lock
Labels: Meta: Feature, Priority: Low, Status: Help Wanted, Status: Ready To Merge

#570 refactor: use igdb published types
  package.json
  src/commands/Tools/Websearch/igdb.ts
  src/lib/util/External/igdbTypes.ts
  yarn.lock
Labels: Meta: Refactor, Meta: Typings

#610 feat: topinvites command
  src/commands/Tools/topinvites.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Feature, SEM: Minor

#625 util(Decorator): Add class method ratelimiting
  src/lib/util/Limiter.ts
  src/lib/util/util.ts
Labels: Meta: Feature, Priority: Low, Status: Review Ready

#618 security: ensure inaccessible channels cannot be accessed by commands
  package.json
  src/arguments/channel.ts
  src/arguments/channelname.ts
  src/arguments/membername.ts
  src/arguments/rolename.ts
  src/arguments/username.ts
  src/commands/Fun/markov.ts
  src/commands/Management/Configuration/setIgnoreChannels.ts
  src/commands/Management/Configuration/setImageLogs.ts
  src/commands/Management/Configuration/setMemberLogs.ts
  src/commands/Management/Configuration/setMessageLogs.ts
  src/commands/Management/Configuration/setModLogs.ts
  src/commands/Management/Configuration/setRoleChannel.ts
  src/commands/System/echo.ts
  src/commands/Tools/Websearch/igdb.ts
  src/commands/Tools/content.ts
  src/commands/Tools/quote.ts
  src/commands/Twitch/twitchsubscription.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/structures/AuditEvent.ts
  src/lib/types/Languages.d.ts
  src/lib/util/External/IgdbTypes.ts
  src/lib/util/util.ts
  src/providers/postgres.ts
  yarn.lock
Labels: Meta: Refactor, Priority: High, Type: Security

#634 misc: Remove staff role and permission level and use PL const enum
  src/commands/Admin/roleset.ts
  src/commands/Admin/settings.ts
  src/commands/Announcement/announcement.ts
  src/commands/Management/Attachment Filter/manageAttachments.ts
  src/commands/Management/Configuration/manageCommandAutodelete.ts
  src/commands/Management/Configuration/manageCommandChannel.ts
  src/commands/Management/Configuration/manageRoleReaction.ts
  src/commands/Management/Configuration/setIgnoreChannels.ts
  src/commands/Management/Configuration/setImageLogs.ts
  src/commands/Management/Configuration/setMemberLogs.ts
  src/commands/Management/Configuration/setMessageLogs.ts
  src/commands/Management/Configuration/setModLogs.ts
  src/commands/Management/Configuration/setPrefix.ts
  src/commands/Management/Configuration/setRoleChannel.ts
  src/commands/Management/Configuration/setRoleMessage.ts
  src/commands/Management/Configuration/setStarboardEmoji.ts
  src/commands/Management/Helpers/roleInfo.ts
  src/commands/Management/Members/stickyRoles.ts
  src/commands/Management/Message Filters/filter.ts
  src/commands/Management/createMute.ts
  src/commands/Management/nick.ts
  src/commands/Management/triggers.ts
  src/commands/Moderation/Management/history.ts
  src/commands/Moderation/Management/moderations.ts
  src/commands/Moderation/Management/mutes.ts
  src/commands/Moderation/Management/warnings.ts
  src/commands/Moderation/Utilities/case.ts
  src/commands/Moderation/Utilities/flow.ts
  src/commands/Moderation/Utilities/permissions.ts
  src/commands/Moderation/Utilities/raid.ts
  src/commands/Moderation/lockdown.ts
  src/commands/Moderation/prune.ts
  src/commands/Moderation/reason.ts
  src/commands/Moderation/warn.ts
  src/commands/Social/Member Management/social.ts
  src/commands/Social/autorole.ts
  src/commands/Social/reputation.ts
  src/commands/System/Admin/dm.ts
  src/commands/System/Admin/eval.ts
  src/commands/System/Admin/exec.ts
  src/commands/System/Admin/heapsnapshot.ts
  src/commands/System/Admin/reboot.ts
  src/commands/System/Admin/setavatar.ts
  src/commands/System/Admin/update.ts
  src/commands/System/echo.ts
  src/commands/System/support.ts
  src/commands/Tools/poll.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/schemas/Guilds.ts
  src/lib/setup/PermissionsLevels.ts
  src/lib/types/Enums.d.ts
  src/lib/types/Languages.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/types/settings/raw/RawGuildSettings.ts
Labels: Meta: Refactor

#635 feat: add lmgtfy command
  .github/CODEOWNERS
  src/commands/Fun/lmgtfy.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Limiter.ts
Labels: Meta: Feature, Type: Ribbon Migration

#636 Fix: slowmode showing incorrect number in reply message
  src/commands/Moderation/Utilities/slowmode.ts
  src/lib/util/constants.ts
Labels: Meta: BugFix, Priority: High

#637 fix: Resolved inconsistencies between routes and oauth2
  src/arguments/membername.ts
  src/arguments/username.ts
  src/commands/Tools/poll.ts
  src/events/rawGuildMemberAdd.ts
  src/events/rawGuildMemberRemove.ts
  src/events/rawGuildMemberUpdate.ts
  src/events/rawUserUpdate.ts
  src/events/readySweeper.ts
  src/lib/extensions/SkyraGuild.ts
  src/lib/util/Cache/MemberTags.ts
  src/lib/util/Models/ApiTransform.ts
  src/routes/oauth/oauthCallback.ts
  src/routes/oauth/oauthUser.ts
  src/routes/users/user.ts
Labels: Meta: BugFix, Priority: High

#641 fix(lmgtfy): set required permissions
  src/commands/Fun/lmgtfy.ts
Labels: Meta: BugFix, Priority: High

#642 fix(snipe): set required permissions
  src/commands/Misc/snipe.ts
Labels: Meta: BugFix, Priority: High

#650 fix: fixed followage command
  .vscode/launch.json
  src/commands/Twitch/followage.ts
  yarn.lock
Labels: Meta: BugFix

#660 chore: cleanup todos
  src/commands/Anime/anime.ts
  src/commands/Misc/reddituser.ts
  src/commands/Moderation/Utilities/time.ts
  src/lib/structures/Giveaway.ts
  src/lib/structures/GiveawayManager.ts
Labels: Meta: Cleanup

#659 fix: waifu requires permissions
  src/commands/Anime/waifu.ts
Labels: Meta: BugFix

#640 feat: vault command
  src/commands/Games/vault.ts
  src/commands/Social/profile.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/schemas/Users.ts
  src/lib/types/Languages.d.ts
  src/lib/types/settings/UserSettings.ts
  src/lib/types/settings/raw/RawUserSettings.ts
Labels: Meta: Feature, Type: Ribbon Migration

#662 refactor: batch update vault database writes
  src/commands/Games/vault.ts
Labels: Meta: Refactor

#652 feat: add emotes command
  src/commands/Tools/emotes.ts
  src/commands/Tools/topinvites.ts
  src/events/readySweeper.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/tasks/cleanup.ts
Labels: Meta: Feature, Type: Ribbon Migration

#651 feat: currenttime command
  config.example.ts
  src/commands/Google/currenttime.ts
  src/commands/Google/lmgtfy.ts
  src/commands/Google/weather.ts
  src/commands/Music/playing-time.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Google.ts
Labels: Meta: Feature, Priority: Medium, Type: Ribbon Migration

#627 Feat: highlow game
  src/commands/Games/higherLower.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Games/Slotmachine.ts
Labels: Meta: Feature, Status: Review Ready

#663 feat: Websocket Infrastructure and Music dashboard
  .vscode/settings.json
  package.json
  src/extendables/MemberExtendables.ts
  src/lib/SkyraClient.ts
  src/lib/structures/music/Queue.ts
  src/lib/types/Augments.d.ts
  src/lib/websocket/WebsocketUser.ts
  src/lib/websocket/index.ts
  src/lib/websocket/types.ts
  yarn.lock
Labels: Meta: Feature

#679 fix: vault fixes
  src/commands/Games/vault.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix

#687 feat(queries): Add deleteUserEntries
  src/lib/queries/common.d.ts
  src/lib/queries/json.ts
  src/lib/queries/postgres.ts
Labels: Meta: Feature, Priority: High

#690 feat: add clash of clans commands
  config.example.ts
  src/commands/GameIntegration/clashofclans.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/types/definitions/ClashOfClans.d.ts
Labels: Meta: Feature

#700 fix: tag add/edit wont exceeds Discord message length anymore
  src/commands/Tags/tag.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
Labels: Meta: BugFix

#695 feat: queue now uses RichDisplay
  src/commands/Music/queue.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Feature, Meta: Refactor, Type: Enhancement, Type: Ribbon Migration
