Repository skyra-project/skyra, pull requests merged in 2019-10, with the labels that each got.

#308 return entire settings
  src/routes/guilds/guild/settings.ts
Labels: Meta: BugFix, Priority: Critical

#310 src: Port 7262ebbbdfcbbbe178a51a6f46939956b91d8bc3 to unmute task
  src/tasks/unmute.ts
Labels: Meta: BugFix, Priority: Critical, SEM: Patch

#355 misc: First step at no-implicit-any
  package.json
  src/arguments/channelname.ts
  src/arguments/rolename.ts
  src/arguments/username.ts
  src/commands/Animal/shibe.ts
  src/commands/Fun/8ball.ts
  src/commands/Fun/dice.ts
  src/commands/Management/Attachment Filter/manageAttachments.ts
  src/commands/Management/Helpers/guildInfo.ts
  src/commands/Management/roles.ts
  src/commands/Misc/triggered.ts
  src/commands/Moderation/Management/mutes.ts
  src/commands/Moderation/Management/warnings.ts
  src/commands/Moderation/Utilities/raid.ts
  src/commands/Social/Member Management/social.ts
  src/commands/Social/Profile Management/banner.ts
  src/commands/Social/leaderboard.ts
  src/commands/Social/level.ts
  src/commands/Social/profile.ts
  src/commands/Social/remindme.ts
  src/commands/Social/template.ts
  src/commands/Starboard/star.ts
  src/commands/System/Admin/eval.ts
  src/commands/Tools/poll.ts
  src/commands/Tools/price.ts
  src/lib/structures/Giveaway.ts
  src/lib/structures/GiveawayManager.ts
  src/lib/types/Languages.d.ts
  src/lib/types/shims/gifencoder.d.ts
  src/lib/util/FriendlyDuration.ts
  src/lib/util/Games/ConnectFour/PlayerHuman.ts
  src/lib/util/Models/Api.ts
  src/lib/util/util.ts
  src/middlewares/json.ts
  src/tasks/poll.ts
  src/tasks/unmute.ts
  tsconfig.json
  yarn.lock
Labels: Meta: Refactor, Type: Enhancement

#359 misc: Refactor, updated discord.js, and implemented kurasuta
  .vscode/launch.json
  config.ts.example
  package.json
  src/Skyra.ts
  src/commands/Fun/changemymind.ts
  src/commands/Fun/howtoflirt.ts
  src/commands/Fun/shindeiru.ts
  src/commands/Giveaway/gcreate.ts
  src/commands/Giveaway/greroll.ts
  src/commands/Misc/chase.ts
  src/commands/Misc/cuddle.ts
  src/commands/Misc/deletthis.ts
  src/commands/Misc/f.ts
  src/commands/Misc/goodnight.ts
  src/commands/Misc/goofytime.ts
  src/commands/Misc/hug.ts
  src/commands/Misc/ineedhealing.ts
  src/commands/Misc/slap.ts
  src/commands/Misc/thesearch.ts
  src/commands/Misc/triggered.ts
  src/commands/Social/level.ts
  src/commands/Social/profile.ts
  src/commands/Social/template.ts
  src/commands/Weather/weather.ts
  src/events/commandError.ts
  src/events/debug.ts
  src/ipcMonitors/socketStatistics.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/SkyraClient.ts
  src/lib/structures/Giveaway.ts
  src/lib/types/Languages.d.ts
  src/lib/util/DatabaseInit.ts
  src/lib/util/Games/Slotmachine.ts
  src/lib/util/constants.ts
  src/main.ts
  yarn.lock
Labels: Meta: Dependencies, Meta: Refactor, Priority: Critical, Type: Enhancement

#366 feat(anime): implement UserDisplay for Anime/Manga
  .vscode/launch.json
  config.ts.example
  src/commands/Anime/anime.ts
  src/commands/Anime/manga.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/types/definitions/Kitsu.d.ts
Labels: Meta: Feature, Meta: Refactor, Type: Enhancement

#400 misc: Use QB and custom parsers more
  src/providers/postgres.ts
Labels: Meta: BugFix, Meta: Refactor, Priority: High, Type: Enhancement

#403 Add the ability to show help starting at a certain category page
  src/commands/General/Chat Bot Info/help.ts
Labels: Meta: Feature, Type: Enhancement

#402 feat: filter out deaf members
  src/lib/structures/music/Queue.ts
Labels: Meta: Refactor, Priority: Low, Type: Enhancement

#407 refactor: Added consistency for all colors
  src/commands/Animal/catfact.ts
  src/commands/Animal/dog.ts
  src/commands/Animal/fox.ts
  src/commands/Animal/kitty.ts
  src/commands/Animal/shibe.ts
  src/commands/Anime/anime.ts
  src/commands/Anime/manga.ts
  src/commands/Announcement/announcement.ts
  src/commands/Fun/love.ts
  src/commands/Fun/norris.ts
  src/commands/Fun/xkcd.ts
  src/commands/General/Chat Bot Info/help.ts
  src/commands/Management/Helpers/guildInfo.ts
  src/commands/Management/Helpers/roleInfo.ts
  src/commands/Management/roles.ts
  src/commands/Management/triggers.ts
  src/commands/Moderation/Management/mutes.ts
  src/commands/Moderation/Management/warnings.ts
  src/commands/Moderation/Utilities/permissions.ts
  src/commands/Social/Profile Management/banner.ts
  src/commands/Social/remindme.ts
  src/commands/Tools/Dictionary/urban.ts
  src/commands/Tools/avatar.ts
  src/commands/Tools/eshop.ts
  src/commands/Tools/whois.ts
  src/commands/Tools/wikipedia.ts
  src/lib/structures/SettingsMenu.ts
  src/lib/structures/WeebCommand.ts
  src/lib/util/constants.ts
  src/lib/util/util.ts
Labels: Meta: BugFix, Meta: Cleanup, Meta: Refactor, Type: Consistency

#419 feat: Added moderations command
  src/commands/Moderation/Management/moderations.ts
  src/commands/Moderation/Management/mutes.ts
  src/commands/Moderation/Management/warnings.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/structures/ModerationManagerEntry.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Cleanup, Meta: Feature, Meta: Refactor, Type: Enhancement

#422 feat: Opt-out moderation DMs, opt-out moderation naming, dark-mode profiles
  database/5.2.1.ts
  src/commands/Moderation/ban.ts
  src/commands/Moderation/kick.ts
  src/commands/Moderation/softban.ts
  src/commands/Moderation/togglemoderationdm.ts
  src/commands/Moderation/unban.ts
  src/commands/Moderation/unmute.ts
  src/commands/Moderation/unwarn.ts
  src/commands/Moderation/vmute.ts
  src/commands/Moderation/voicekick.ts
  src/commands/Moderation/vunmute.ts
  src/commands/Moderation/warn.ts
  src/commands/Social/Profile Management/toggledarkmode.ts
  src/commands/Social/level.ts
  src/commands/Social/profile.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/schemas/Guilds.ts
  src/lib/schemas/Users.ts
  src/lib/structures/ModerationCommand.ts
  src/lib/types/Languages.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/types/settings/UserSettings.ts
  src/lib/types/settings/raw/RawGuildSettings.ts
  src/lib/types/settings/raw/RawUserSettings.ts
  src/monitors/capitalsFilter.ts
  src/monitors/wordFilter.ts
Labels: Meta: Feature, Priority: High, Type: Enhancement

#423 fix: fixed for breaking changes introduced in klasa typings
  src/arguments/channelname.ts
  src/arguments/channelnames.ts
  src/arguments/membernames.ts
  src/arguments/rolename.ts
  src/arguments/rolenames.ts
  src/arguments/username.ts
  src/arguments/usernames.ts
  src/commands/Admin/roleset.ts
  src/commands/General/Chat Bot Info/help.ts
  src/commands/Management/Attachment Filter/manageAttachments.ts
  src/commands/Management/Configuration/manageCommandAutodelete.ts
  src/commands/Management/Configuration/manageCommandChannel.ts
  src/commands/Management/Configuration/manageRoleReaction.ts
  src/commands/Management/Members/stickyRoles.ts
  src/commands/Management/permissionNodes.ts
  src/commands/Music/play.ts
  src/commands/Social/Member Management/social.ts
  src/commands/Social/autorole.ts
  src/commands/Social/marry.ts
  src/commands/Social/reputation.ts
  src/commands/Starboard/star.ts
  src/commands/Tools/avatar.ts
  src/commands/Tools/color.ts
  src/commands/Tools/whois.ts
  src/commands/Tools/wikipedia.ts
  yarn.lock
Labels: Meta: BugFix, Meta: Typings, Priority: Medium, Type: Dependencies

#427 fix(weather): resolve issues with city and state name
  src/commands/Weather/weather.ts
Labels: Meta: BugFix, Priority: Low

#429 feat: tmdb commands
  config.example.ts
  src/commands/Anime/anime.ts
  src/commands/Anime/manga.ts
  src/commands/Tools/Websearch/eshop.ts
  src/commands/Tools/Websearch/itunes.ts
  src/commands/Tools/Websearch/movies.ts
  src/commands/Tools/Websearch/shows.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/types/definitions/Tmdb.d.ts
Labels: Meta: Error Handling, Priority: Low, SEM: Minor, Type: Enhancement

#430 feat: igdb command
  config.example.ts
  src/commands/Tools/Websearch/eshop.ts
  src/commands/Tools/Websearch/igdb.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Priority: Low, SEM: Minor, Type: Enhancement
