Repository skyra-project/skyra, pull requests merged in 2019-11, with the labels that each got.

#432 Core(Moderation): Upgrade to v8.0.0
  src/arguments/timespan.ts
  src/commands/Management/Attachment Filter/manageAttachments.ts
  src/commands/Management/createMute.ts
  src/commands/Moderation/Management/history.ts
  src/commands/Moderation/Management/moderations.ts
  src/commands/Moderation/Utilities/slowmode.ts
  src/commands/Moderation/Utilities/time.ts
  src/commands/Moderation/ban.ts
  src/commands/Moderation/kick.ts
  src/commands/Moderation/mute.ts
  src/commands/Moderation/reason.ts
  src/commands/Moderation/softban.ts
  src/commands/Moderation/unban.ts
  src/commands/Moderation/unmute.ts
  src/commands/Moderation/unwarn.ts
  src/commands/Moderation/vmute.ts
  src/commands/Moderation/voicekick.ts
  src/commands/Moderation/vunmute.ts
  src/commands/Moderation/warn.ts
  src/commands/Social/Profile Management/banner.ts
  src/commands/Social/daily.ts
  src/commands/Social/remindme.ts
  src/commands/Social/reputation.ts
  src/events/guildBanAdd.ts
  src/events/guildBanRemove.ts
  src/events/guildMessageLog.ts
  src/events/mentionSpamExceeded.ts
  src/inhibitors/missingBotPermissions.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/structures/Giveaway.ts
  src/lib/structures/ModerationCommand.ts
  src/lib/structures/ModerationManagerEntry.ts
  src/lib/structures/ModerationMonitor.ts
  src/lib/structures/ModerationTask.ts
  src/lib/structures/SettingsMenu.ts
  src/lib/types/DiscordAPI.d.ts
  src/lib/types/Enums.d.ts
  src/lib/types/Languages.d.ts
  src/lib/types/constants/Constants.d.ts
  src/lib/types/settings/raw/RawModerationSettings.ts
  src/lib/util/Games/ConnectFour/Board.ts
  src/lib/util/Games/ConnectFour/Game.ts
  src/lib/util/Games/ConnectFour/PlayerHuman.ts
  src/lib/util/Security/GuildSecurity.ts
  src/lib/util/Security/ModerationActions.ts
  src/lib/util/constants.ts
  src/lib/util/util.ts
  src/monitors/attachmentFilter.ts
  src/tasks/moderationEndBan.ts
  src/tasks/moderationEndMute.ts
  src/tasks/moderationEndVoiceMute.ts
  src/tasks/moderationEndWarning.ts
  src/tasks/unban.ts
  src/tasks/unmute.ts
  src/tasks/unvmute.ts
Labels: Meta: BugFix, Meta: Cleanup, Meta: Refactor, Type: Enhancement

#462 fix(i18n): Added missing keys
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix

#431 feat: reddit user command
  .gitignore
  .vscode/settings.json
  src/commands/Misc/randreddit.ts
  src/commands/Misc/reddituser.ts
  src/commands/Tools/Websearch/igdb.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/types/definitions/Reddit.d.ts
  src/lib/util/util.ts
Labels: Meta: Feature

#464 refactor(util): better roundNumber util function
  src/lib/util/util.ts
Labels: Meta: Documentation, Meta: Refactor, SEM: N/A

#469 feat: Added role restriction actions
  database/5.2.0.ts
  database/5.2.1.ts
  database/5.3.0.ts
  src/commands/Moderation/mute.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/schemas/Guilds.ts
  src/lib/types/Languages.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/types/settings/raw/RawGuildSettings.ts
  src/lib/util/Security/ModerationActions.ts
Labels: Meta: Feature

#472 feat: Added another prompt for configuring the channels
  src/commands/Management/createMute.ts
  src/commands/Moderation/mute.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Security/ModerationActions.ts
Labels: Meta: Feature, Type: Enhancement

#481 Fix(Anime): Fix 2 reported bugs
  src/commands/Anime/anime.ts
  src/commands/Tools/Websearch/igdb.ts
Labels: Meta: BugFix

#482 feat: support command
  src/commands/System/support.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Feature

#484 feat: Added Markov
  src/commands/Fun/markov.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/External/markov.ts
  src/lib/util/External/pickByWeights.ts
  src/lib/util/util.ts
Labels: Meta: Feature

#486 ci(workflow): add node_modules caching
  .github/workflows/lint.yml
  .github/workflows/tsc.yml
Labels: Meta: Github, Priority: Low, SEM: N/A, Type: Caching

#489 feat: Added message spam filter
  src/commands/Management/Message Filters/messageMode.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/schemas/Guilds.ts
  src/lib/types/Languages.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/types/settings/raw/RawGuildSettings.ts
  src/lib/util/Security/GuildSecurity.ts
  src/monitors/messageFilter.ts
Labels: Meta: Feature, Status: Needs Testing

#495 docs: mark my commands as owned by me for issue/pr assignments
  CODEOWNERS
  yarn.lock
Labels: Meta: Github, SEM: N/A

#510 docs: update contributing guidelines
  .github/CONTRIBUTING.md
Labels: Meta: Documentation, Meta: Github

#511 github: Cleanup root of files
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
Labels: Meta: Github

#512 feat: Refactor usernames and nicknames for a better system
  src/arguments/membername.ts
  src/arguments/username.ts
  src/commands/Management/Members/stickyRoles.ts
  src/commands/Moderation/Management/history.ts
  src/commands/Moderation/Management/moderations.ts
  src/commands/Social/leaderboard.ts
  src/commands/Social/marry.ts
  src/commands/Tools/poll.ts
  src/events/rawGuildMemberAdd.ts
  src/events/rawGuildMemberRemove.ts
  src/events/rawGuildMemberUpdate.ts
  src/events/readySweeper.ts
  src/lib/SkyraClient.ts
  src/lib/extensions/SkyraGuild.ts
  src/lib/structures/ModerationManagerEntry.ts
  src/lib/types/Augments.d.ts
  src/lib/util/Cache/MemberNicknames.ts
  src/lib/util/Cache/UserTags.ts
  src/lib/util/FuzzySearch.ts
  src/lib/util/util.ts
  src/routes/users/user.ts
Labels: Meta: Cleanup, Meta: Refactor, Type: Caching

#524 fix(markov): you shall not pass!!!
  src/commands/Fun/markov.ts
Labels: Meta: BugFix, Priority: Critical, Type: Security

#531 feat: Added links filter
  .gitignore
  package.json
  src/commands/Management/Attachment Filter/manageAttachments.ts
  src/commands/Management/Message Filters/linkMode.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/schemas/Guilds.ts
  src/lib/types/Languages.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/types/settings/raw/RawGuildSettings.ts
  src/lib/util/Links/Build/script.ts
  src/lib/util/Links/TLDs.ts
  src/lib/util/Links/UrlRegex.ts
  src/lib/util/Security/GuildSecurity.ts
  src/monitors/linkFilter.ts
  src/providers/postgres.ts
  src/serializers/url.ts
  tsconfig.json
Labels: Meta: Feature, Priority: Critical

#508 feat: add pokedex command
  .github/CODEOWNERS
  .vscode/settings.json
  assets/public/img/pokemon/dex.png
  config.example.ts
  package.json
  src/commands/Pokemon/pokedex.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Pokedex.ts
  src/lib/util/util.ts
  yarn.lock
Labels: Meta: Feature, Priority: Medium, SEM: Minor, Status: Review Ready, Type: Ribbon Migration

#549 ci: switch to icrawl's version of action-eslint
  .github/workflows/lint.yml
Labels: Meta: Github

#550 feat: %POSITION%` placeholder in Skyra's greetings
  src/events/rawGuildMemberAdd.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Augments.d.ts
Labels: Meta: Feature, Priority: High, Status: Review Ready

#529 feat: Twitch notifications
  config.example.ts
  src/commands/Twitch/followage.ts
  src/commands/Twitch/twitch.ts
  src/events/twitchStreamOffline.ts
  src/events/twitchStreamOnline.ts
  src/lib/SkyraClient.ts
  src/lib/schemas/Guilds.ts
  src/lib/structures/api/ApiResponse.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Enums.d.ts
  src/lib/types/constants/Constants.d.ts
  src/lib/types/definitions/Twitch.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/types/settings/raw/RawTwitchStreamSubscriptionSettings.ts
  src/lib/util/DatabaseInit.ts
  src/lib/util/Notifications/Twitch.ts
  src/lib/util/constants.ts
  src/routes/twitch/twitchStreamChange.ts
  src/serializers/twitchStreamSubscriptionEntry.ts
Labels: Meta: Feature, Priority: High, Status: WIP

#552 fix(slowmode): should be seconds
  src/commands/Moderation/Utilities/slowmode.ts
Labels: Meta: BugFix, Priority: Critical

#560 fix: it's weight not width
  src/languages/en-US.ts
  src/languages/es-ES.ts
Labels: Priority: Medium, Type: Typo

#555 fix(igdb): fixes for potentially undefined fields
  .github/CODEOWNERS
  src/commands/Tools/Websearch/igdb.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/External/igdbTypes.ts
Labels: Meta: BugFix, Meta: Error Handling, Priority: Medium, SEM: Patch

#561 Fix(Events): Unload once events
  src/events/klasaReady.ts
  src/events/readySweeper.ts
Labels: Meta: Refactor, Priority: Low, Type: Performance

#553 Feat(Core): Twitch stream notifications
  .github/CODEOWNERS
  config.example.ts
  src/commands/Twitch/followage.ts
  src/commands/Twitch/twitch.ts
  src/commands/Twitch/twitchsubscription.ts
  src/events/twitchStreamOffline.ts
  src/events/twitchStreamOnline.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/SkyraClient.ts
  src/lib/queries/common.d.ts
  src/lib/queries/json.ts
  src/lib/queries/postgres.ts
  src/lib/schemas/Guilds.ts
  src/lib/structures/api/ApiResponse.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Enums.d.ts
  src/lib/types/Languages.d.ts
  src/lib/types/constants/Constants.d.ts
  src/lib/types/definitions/Twitch.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/types/settings/raw/RawTwitchStreamSubscriptionSettings.ts
  src/lib/util/DatabaseInit.ts
  src/lib/util/Notifications/Twitch.ts
  src/lib/util/constants.ts
  src/providers/postgres.ts
  src/routes/twitch/twitchStreamChange.ts
  src/serializers/twitchsubscription.ts
Labels: Meta: Feature, Priority: High

#575 feat: Added word bound wildcards
  src/lib/util/Security/GuildSecurity.ts
  src/lib/util/Security/RegexCreator.ts
Labels: Meta: BugFix, Meta: Feature, Type: Enhancement

#580 fix(igdb): API date is in seconds now
  src/commands/Tools/Websearch/igdb.ts
Labels: Meta: BugFix, Priority: Critical

#596 docs: update contributing guide
  .github/CONTRIBUTING.md
Labels: Meta: Documentation, Meta: Github

#597 chore: weather token is for darksky, not google
  config.example.ts
  src/commands/Weather/weather.ts
Labels: Meta: Bike-Shedding

#598 fix(typo): Aelia -> Skyra
  src/commands/Music/play.ts
Labels: Meta: Bike-Shedding

#601 refactor(Mime): remove dead code
  src/lib/util/constants.ts
Labels: Meta: Typings, Priority: Low
