Repository skyra-project/skyra, pull requests merged in 2020-01, with the labels that each got.

#646 chore: Update to SG Next
  package.json
  src/commands/Admin/conf.ts
  src/commands/Admin/roleset.ts
  src/commands/Admin/settings.ts
  src/commands/Management/Configuration/manageCommandChannel.ts
  src/commands/Management/Configuration/manageRoleReaction.ts
  src/commands/Management/Configuration/setPrefix.ts
  src/commands/Management/createMute.ts
  src/commands/Management/permissionNodes.ts
  src/commands/Management/triggers.ts
  src/commands/Moderation/Utilities/time.ts
  src/commands/Moderation/mute.ts
  src/commands/Moderation/restrictAttachment.ts
  src/commands/Moderation/restrictEmbed.ts
  src/commands/Moderation/restrictReaction.ts
  src/commands/Moderation/restrictVoice.ts
  src/commands/Social/Profile Management/banner.ts
  src/commands/Social/autorole.ts
  src/commands/Twitch/twitchsubscription.ts
  src/events/rawGuildMemberAdd.ts
  src/events/rawGuildMemberRemove.ts
  src/events/settingsAuditUpdate.ts
  src/ipcMonitors/webhook.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/schemas/Audit.ts
  src/lib/schemas/Clients.ts
  src/lib/schemas/Guilds.ts
  src/lib/schemas/Users.ts
  src/lib/structures/GiveawayManager.ts
  src/lib/structures/PermissionsManager.ts
  src/lib/structures/SelfModerationCommand.ts
  src/lib/structures/SettingsMenu.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Languages.d.ts
  src/lib/types/influxSchema/Audit.d.ts
  src/lib/types/util.d.ts
  src/lib/util/Security/ModerationActions.ts
  src/lib/util/SettingsUtils.ts
  src/monitors/socialMonitor.ts
  src/monitors/triggerReaction.ts
  src/providers/postgres.ts
  src/routes/banners.ts
  src/routes/guilds/guild/settings.ts
  src/routes/oauth/oauthUser.ts
  src/serializers/emoji.ts
  src/serializers/permissionnode.ts
  src/serializers/twitchsubscription.ts
  src/serializers/url.ts
  yarn.lock
Labels: Meta: Dependencies, Priority: High, SEM: Major, Status: Help Wanted, Type: Dependencies

#721 fix: avatar as png when not animated because ios discord is dumb
  src/commands/Tools/avatar.ts
Labels: Meta: BugFix

#718 feat: Added channel argument to lock command
  src/arguments/textchannelname.ts
  src/arguments/textchannelnames.ts
  src/commands/Moderation/lockdown.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Augments.d.ts
  src/lib/util/Security/GuildSecurity.ts
  yarn.lock
Labels: Meta: Refactor

#725 fix(Moderation): Resolved missing reason in ban cases' audit logs
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/util/Security/ModerationActions.ts
Labels: Meta: BugFix, Priority: High

#736 fix(eshop): fix for potentially empty categories
  src/commands/Tools/Websearch/eshop.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  yarn.lock
Labels: Meta: BugFix

#730 Analytics(Economy): Add logs for monetary actions and events
  .github/CODEOWNERS
  docker/influxdb/config.sample.toml
  src/commands/Games/coinflip.ts
  src/commands/Games/higherLower.ts
  src/commands/Social/daily.ts
  src/commands/Social/pay.ts
  src/commands/Social/vault.ts
  src/events/analytics/moneyPayment.ts
  src/events/analytics/moneyTransaction.ts
  src/events/audit/guildAuditAnnouncementSend.ts
  src/events/audit/settingsAuditUpdate.ts
  src/extendables/UserExtendables.ts
  src/lib/SkyraClient.ts
  src/lib/schemas/Economy.ts
  src/lib/structures/AuditEvent.ts
  src/lib/structures/analytics/AuditEvent.ts
  src/lib/structures/analytics/BaseAnalyticsEvent.ts
  src/lib/structures/analytics/EconomyEvent.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Enums.d.ts
  src/lib/types/influxSchema/Economy.d.ts
  src/lib/types/influxSchema/database.d.ts
  src/lib/types/settings/Shared.ts
  src/lib/util/Games/Slotmachine.ts
  src/lib/util/Games/WheelOfFortune.ts
Labels: Meta: Feature, Priority: Medium, SEM: Minor, Status: Help Wanted

#742 feat: google search&image commands
  config.example.ts
  src/commands/Google/currenttime.ts
  src/commands/Google/gimage.ts
  src/commands/Google/gsearch.ts
  src/commands/Tools/Websearch/dsearch.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Google.ts
Labels: Meta: Feature, Type: Ribbon Migration

#744 feat: add BST to dex command
  package.json
  src/commands/Pokemon/pokedex.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Pokemon.ts
  yarn.lock
Labels: Meta: Refactor

#745 fix(8ball): fix language keys
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix

#749 fix: gsearch image access for embeds
  src/commands/Google/gsearch.ts
  src/lib/util/Google.ts
Labels: Meta: BugFix

#754 fix(Moderation): Resolved bugs in the moderation events
  src/commands/Moderation/Utilities/reason.ts
  src/events/moderation/moderationEntryEdit.ts
  src/lib/structures/ModerationManagerEntry.ts
  src/tasks/moderationEndBan.ts
  src/tasks/moderationEndMute.ts
  src/tasks/moderationEndRestrictionAttachment.ts
  src/tasks/moderationEndRestrictionEmbed.ts
  src/tasks/moderationEndRestrictionReaction.ts
  src/tasks/moderationEndRestrictionVoice.ts
  src/tasks/moderationEndVoiceMute.ts
  src/tasks/moderationEndWarning.ts
Labels: Priority: High

#767 refactor: de-embed slots and wof
  src/commands/Games/slotmachine.ts
  src/commands/Games/wheeloffortune.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  yarn.lock
Labels: Meta: Refactor

#768 meta: cleanup github stuff
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/workflows/lint.yml
  .github/workflows/tsc.yml
  README.md
  docker/bash-skyra.sh
  docker/ps-skyra.ps1
  package.json
Labels: Meta: Cleanup, Meta: Github

#746 feat: xiv commands
  .github/CODEOWNERS
  .vscode/settings.json
  config.example.ts
  src/commands/Anime/anime.ts
  src/commands/Anime/manga.ts
  src/commands/GameIntegration/clashofclans.ts
  src/commands/GameIntegration/ffxiv.ts
  src/commands/System/Admin/eval.ts
  src/commands/System/Admin/exec.ts
  src/commands/Tools/Websearch/eshop.ts
  src/commands/Tools/Websearch/igdb.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Languages.d.ts
  src/lib/util/GameIntegration/ClashOfClans.d.ts
  src/lib/util/GameIntegration/FFXIVTypings.d.ts
  src/lib/util/GameIntegration/FFXIVUtils.ts
  src/lib/util/Notifications/Twitch.ts
  src/lib/util/Pokemon.ts
  src/lib/util/util.ts
  yarn.lock
Labels: Meta: Feature, Priority: High, SEM: Minor

#787 perf: new version of confusables = much faster performance
  package.json
  src/monitors/wordFilter.ts
  yarn.lock
Labels: Meta: Dependencies, Type: Performance

#791 refactor: make single command help into embed
  src/commands/General/Chat Bot Info/help.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Refactor

#792 feat: ship command
  assets/images/social/heart.png
  src/arguments/membername.ts
  src/commands/Games/slotmachine.ts
  src/commands/Games/wheeloffortune.ts
  src/commands/Misc/ship.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Feature, Type: Ribbon Migration

#793 feat: add fortnite stats command
  config.example.ts
  src/commands/GameIntegration/fortnite.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/GameIntegration/Fortnite.d.ts
Labels: Meta: Feature, SEM: Minor, Type: Ribbon Migration
