Repository skyra-project/skyra, pull requests merged in 2020-10, with the labels that each got.

#1313 refactor: replace key in with reflect has
  src/commands/Misc/randreddit.ts
  src/commands/System/Admin/eval.ts
  src/commands/System/Admin/exec.ts
  src/config.example.ts
  src/events/rawMessageReactionAdd.ts
  src/inhibitors/customInhibitor.ts
  src/lib/orm/entities/StarboardEntity.ts
  src/lib/structures/ModerationCommand.ts
  src/lib/util/Models/ApiTransform.ts
  src/routes/guilds/guild/leaderboard.ts
  src/routes/users/leaderboard.ts
Labels: Event: Hacktoberfest

#1308 chore: update vscode code snippet
  .vscode/Skyra.code-snippets
Labels: Event: Hacktoberfest

#1311 refactor: use PermissionLevels enum for hasAtLeastPermission
  src/commands/Games/hungergames.ts
  src/commands/Music/skip.ts
  src/events/commandUnknown.ts
  src/inhibitors/disableCommand.ts
  src/inhibitors/spam.ts
  src/lib/structures/music/MusicHandler.ts
  src/monitors/Moderation/attachmentFilter.ts
  src/monitors/commandHandler.ts
Labels: Event: Hacktoberfest

#1316 fix(i18n): fix a woops in raid extended description
  src/languages/en-US.ts
  src/languages/es-ES.ts
Labels: Event: Hacktoberfest

#1309 feat(disabled): add link to support server in globally disabled commands messages
  src/languages/en-US.ts
  src/languages/es-ES.ts
Labels: Event: Hacktoberfest

#1318 fix(igdb): fix the body query
  src/commands/Tools/Websearch/igdb.ts
Labels: Meta: BugFix, Priority: High

#1317 chore(docker): make redis port equal to default config
  docker/docker-compose.yml
Labels: Event: Hacktoberfest, Priority: Low, Type: Consistency

#1319 build(influx): upgrade to v2.0.0-rc
  docker/docker-compose.yml
Labels: Event: Hacktoberfest, Meta: Dependencies, Priority: Medium, SEM: Major

#1320 fix(analytics): fixed message count
  src/commands/System/Admin/reboot.ts
  src/events/analytics/analyticsSync.ts
  src/events/analytics/resourceAnalyticsSync.ts
  src/lib/SkyraClient.ts
  src/lib/types/Augments.d.ts
  src/lib/util/Tracking/Analytics/structures/AnalyticsData.ts
  src/lib/util/Tracking/Analytics/structures/AnalyticsEvent.ts
  src/monitors/analytics/messageReceived.ts
Labels: Event: Hacktoberfest, Meta: BugFix, Meta: Refactor

#1323 fix(ttt): fixed winning logic
  src/commands/Games/tictactoe.ts
Labels: Event: Hacktoberfest, Meta: BugFix, Priority: High, Status: Review Ready, Type: Maintenance

#1324 fix(typeorm): remove caching
  package.json
  src/commands/Social/Member Management/social.ts
  src/commands/Social/mylevel.ts
  src/config.example.ts
  src/lib/orm/dbConfig.ts
  src/lib/types/Augments.d.ts
  src/routes/banners.ts
  yarn.lock
Labels: Event: Hacktoberfest

#1325 docs(): update privacy policy
  .github/CODE_OF_CONDUCT.md
  .github/PRIVACY_POLICY.md
Labels: Event: Hacktoberfest, Meta: Documentation, Priority: Critical

#1327 refactor: remove ipc
  README.md
  package.json
  src/config.example.ts
  src/ipcMonitors/socketStatistics.ts
  src/lib/SkyraClient.ts
  src/lib/structures/IPCMonitor.ts
  src/lib/structures/IPCMonitorStore.ts
  src/lib/types/Augments.d.ts
  yarn.lock
Labels: Event: Hacktoberfest, Meta: Cleanup, Meta: Refactor, SEM: Major, Type: Dependencies

#1330 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Event: Hacktoberfest, Meta: Refactor

#1329 chore: order in RPC (rock, paper, scissors) and moar loading messages!
  src/languages/en-US.ts
Labels: Event: Hacktoberfest, Status: Review Ready, Type: Enhancement

#1328 refactor(games): first version of Game backends, refactored TTT
  .vscode/launch.json
  package.json
  src/commands/Games/tictactoe.ts
  src/lib/SkyraClient.ts
  src/lib/games/base/BaseBotController.ts
  src/lib/games/base/BaseController.ts
  src/lib/games/base/BaseGame.ts
  src/lib/games/base/BaseReactionController.ts
  src/lib/games/base/BaseReactionGame.ts
  src/lib/games/tic-tac-toe/TicTacToeBotController.ts
  src/lib/games/tic-tac-toe/TicTacToeGame.ts
  src/lib/games/tic-tac-toe/TicTacToeHumanController.ts
  src/lib/util/LongLivingReactionCollector.ts
  yarn.lock
Labels: Event: Hacktoberfest, Meta: Cleanup, Meta: Refactor, SEM: Minor, Status: Review Ready, Type: Enhancement, Type: Maintenance

#1331 feat: fixed and added more shard events
  package.json
  src/Skyra.ts
  src/events/disconnect.ts
  src/events/reconnecting.ts
  src/events/shard/shardDisconnect.ts
  src/events/shard/shardError.ts
  src/events/shard/shardReady.ts
  src/events/shard/shardReconnecting.ts
  src/events/shard/shardResume.ts
  src/lib/structures/ShardEvent.ts
  yarn.lock
Labels: Event: Hacktoberfest, Meta: BugFix, Meta: Refactor, SEM: Patch, Status: Review Ready, Type: Enhancement, Type: Sharding

#1332 refactor: switch klasa's snowflake for sapphire's
  package.json
  src/arguments/snowflake.ts
  src/events/rawChannelDelete.ts
  src/serializers/snowflake.ts
  yarn.lock
Labels: Event: Hacktoberfest, Meta: Dependencies, Meta: Refactor, SEM: Major, Status: Review Ready, Type: Dependencies, Type: Maintenance

#1333 refactor: clean up whois command's format
  src/commands/Tools/whois.ts
  src/lib/types/constants/Constants.d.ts
  src/lib/util/constants.ts
Labels: Event: Hacktoberfest, Meta: Cleanup, Meta: Feature, SEM: Minor, Status: Review Ready, Type: Enhancement

#1338 fix(triggers): resolve command to the name
  src/commands/Management/triggers.ts
Labels: Event: Hacktoberfest, Meta: BugFix, SEM: Patch

#1341 refactor: help improvements
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/routes/commands.ts
Labels: Event: Hacktoberfest, Meta: Feature, Meta: Refactor, Priority: Medium

#1344 feat(starboard): added debounced message updates
  src/Skyra.ts
  src/lib/orm/entities/StarboardEntity.ts
  src/lib/util/debounce/THIRD_PARTY_LICENSES.md
  src/lib/util/debounce/index.ts
Labels: Event: Hacktoberfest, Meta: BugFix, Meta: Dependencies, Priority: High, SEM: Patch

#1348 feat(weeb): added better error handling for weeb.sh
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/structures/WeebCommand.ts
  src/lib/types/Languages.d.ts
  src/lib/types/namespaces/languages/commands/Weeb.ts
Labels: Event: Hacktoberfest, Meta: BugFix

#1349 feat: added better format to error logs
  src/events/commandError.ts
Labels: Event: Hacktoberfest

#1346 chore: move 'p' alias from 'prune' to 'play'
  src/commands/Moderation/prune.ts
  src/commands/Music/play.ts
Labels: Event: Hacktoberfest, Type: Enhancement

#1347 fix: {[SHARD 0]} -> [SHARD 0]
  src/lib/structures/ShardEvent.ts
Labels: Event: Hacktoberfest, Meta: BugFix

#1345 feat: allow checking local-based settings
  src/commands/Social/level.ts
  src/commands/Social/profile.ts
  src/lib/orm/entities/MemberEntity.ts
Labels: Event: Hacktoberfest, Meta: Feature, Type: Enhancement

#1351 fix(content): resolved error when using stickers
  src/commands/Moderation/Utilities/permissions.ts
  src/commands/Music/queue.ts
  src/commands/Tools/content.ts
  src/extendables/MessageEmbedExtendables.ts
  src/lib/structures/SettingsMenu.ts
  src/lib/util/constants.ts
  src/lib/util/util.ts
  src/serializers/customcommand.ts
Labels: Event: Hacktoberfest, Meta: Cleanup, Priority: High

#1353 fix(serializer): allow news and store
  src/serializers/channel.ts
Labels: Event: Hacktoberfest, Meta: BugFix, Priority: Critical

#1352 refactor(audio): allow no redis
  README.md
  src/events/analytics/analyticsSync.ts
  src/events/klasaReady.ts
  src/events/lavalink/rawLavalinkPlayerUpdate.ts
  src/events/lavalink/rawTrackEndEvent.ts
  src/events/lavalink/rawTrackExceptionEvent.ts
  src/lib/audio/QueueClient.ts
  src/lib/extensions/SkyraGuild.ts
Labels: Event: Hacktoberfest, Meta: Refactor, Priority: High

#1355 refactor: role command improves
  src/commands/Management/roles.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
Labels: Event: Hacktoberfest, Meta: Examples, Meta: Refactor, Priority: Low

#1356 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Event: Hacktoberfest, Meta: Refactor

#1357 feat(routes): add route for public guild data
  src/lib/structures/api/ApiResponse.ts
  src/lib/util/Models/ApiTransform.ts
  src/routes/guilds/guild/publicData.ts
  src/routes/oauth/oauthUser.ts
Labels: Event: Hacktoberfest, Meta: Feature, Priority: Low, SEM: N/A

#1359 refactor(music): changes for music dashboard
  src/commands/Moderation/dehoist.ts
  src/commands/Music/add.ts
  src/commands/Music/importqueue.ts
  src/commands/Music/join.ts
  src/commands/Music/leave.ts
  src/commands/Music/pause.ts
  src/commands/Music/play.ts
  src/commands/Music/playing.ts
  src/commands/Music/promote.ts
  src/commands/Music/queue-clear.ts
  src/commands/Music/queue.ts
  src/commands/Music/remove.ts
  src/commands/Music/repeat.ts
  src/commands/Music/resume.ts
  src/commands/Music/seek.ts
  src/commands/Music/shuffle.ts
  src/commands/Music/skip.ts
  src/commands/Music/volume.ts
  src/events/music/musicQueueSync.ts
  src/events/music/musicSongPlayNotify.ts
  src/lib/audio/Queue.ts
  src/lib/structures/MusicCommand.ts
  src/lib/util/Models/ApiTransform.ts
  src/lib/websocket/types.d.ts
  src/routes/music/publicMusicData.ts
Labels: Event: Hacktoberfest, Meta: BugFix, Meta: Feature, Meta: Refactor, Priority: High

#1360 refactor: remove publicData
  src/lib/util/Models/ApiTransform.ts
  src/routes/guilds/guild/publicData.ts
  src/routes/music/publicMusicData.ts
Labels: Event: Hacktoberfest, Meta: Refactor

#1361 feat: added login banner
  src/events/klasaReady.ts
Labels: Event: Hacktoberfest, Status: Review Ready, Type: Enhancement

#1362 misc: added more checks, enhanced dev mode line
  src/events/klasaReady.ts
Labels: Event: Hacktoberfest, Type: Enhancement

#1364 fix(audio): resolved error when deleting only entry
  scripts/audio/lremat.lua
Labels: Event: Hacktoberfest

#1363 fix(social): resolved level and profile points calculation error
  src/commands/Social/level.ts
  src/commands/Social/profile.ts
  src/lib/types/Languages.d.ts
  src/lib/types/namespaces/languages/commands/Social.ts
Labels: Event: Hacktoberfest

#1365 feat(invite): add more invite sources
  src/commands/Moderation/prune.ts
  src/monitors/Moderation/inviteFilter.ts
Labels: Event: Hacktoberfest

#1366 fix(logs): fixed format and removed author from errors
  src/events/commandError.ts
Labels: Event: Hacktoberfest

#1367 fix(case): added range checks
  src/commands/Moderation/Utilities/case.ts
Labels: Event: Hacktoberfest
