Repository skyra-project/skyra, pull requests merged in 2020-09, with the labels that each got.

#1255 fix(weeb): fix all weeb commands
  src/commands/Weeb/wbang.ts
  src/commands/Weeb/wbanghead.ts
  src/commands/Weeb/wbite.ts
  src/commands/Weeb/wblush.ts
  src/commands/Weeb/wcry.ts
  src/commands/Weeb/wcuddle.ts
  src/commands/Weeb/wdance.ts
  src/commands/Weeb/wgreet.ts
  src/commands/Weeb/whug.ts
  src/commands/Weeb/wkiss.ts
  src/commands/Weeb/wlewd.ts
  src/commands/Weeb/wlick.ts
  src/commands/Weeb/wneko.ts
  src/commands/Weeb/wnom.ts
  src/commands/Weeb/wpat.ts
  src/commands/Weeb/wpout.ts
  src/commands/Weeb/wpunch.ts
  src/commands/Weeb/wslap.ts
  src/commands/Weeb/wsleepy.ts
  src/commands/Weeb/wsmile.ts
  src/commands/Weeb/wsmug.ts
  src/commands/Weeb/wstare.ts
  src/commands/Weeb/wthumbsup.ts
  src/commands/Weeb/wtickle.ts
  src/lib/structures/WeebCommand.ts
Labels: Meta: BugFix, Meta: Refactor, Priority: Critical

#1256 fix(wiki): fixes for getting pages and get images
  src/commands/Tools/Websearch/wikipedia.ts
Labels: Meta: BugFix, Meta: Refactor

#1261 fix(choice): clean mentions from arguments
  src/commands/Fun/choice.ts
Labels: Meta: BugFix, Priority: Critical, SEM: Patch, Status: Ready To Merge, Type: Enhancement, Type: Security

#1267 refactor(invites): simplify code detection
  src/commands/Moderation/prune.ts
  src/monitors/Moderation/inviteFilter.ts
Labels: Meta: Cleanup

#1268 chore: cleaner docker
  docker/README.md
  docker/configs/.env
  docker/configs/redis.conf
  docker/docker-compose.yml
Labels: Meta: Refactor

#1270 refactor: remove user and member tags
  package.json
  src/arguments/membername.ts
  src/arguments/username.ts
  src/commands/Management/permissionNodes.ts
  src/commands/Misc/ship.ts
  src/commands/Moderation/dehoist.ts
  src/commands/Social/leaderboard.ts
  src/commands/Social/marry.ts
  src/commands/Starboard/star.ts
  src/events/guildCreate.ts
  src/events/guildMemberAdd.ts
  src/events/guildMemberUpdate.ts
  src/events/klasaReady.ts
  src/events/rawGuildMemberAdd.ts
  src/events/rawGuildMemberRemove.ts
  src/events/rawGuildMemberUpdate.ts
  src/events/rawMessageReactionAdd.ts
  src/events/rawUserUpdate.ts
  src/events/reactionBlacklist.ts
  src/events/userUpdate.ts
  src/extendables/UserManagerExtendables.ts
  src/lib/SkyraClient.ts
  src/lib/extensions/SkyraGuild.ts
  src/lib/orm/migrations/1599692515073-V24_RemoveCleanUpTask.ts
  src/lib/structures/music/Song.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Enums.d.ts
  src/lib/util/API.ts
  src/lib/util/Cache/MemberTags.ts
  src/lib/util/Cache/UserTags.ts
  src/lib/util/Models/Api.ts
  src/lib/util/Security/ModerationActions.ts
  src/lib/util/util.ts
  src/routes/users/user.ts
  src/serializers/stickyrole.ts
  src/tasks/cleanup.ts
  yarn.lock
Labels: Meta: Cleanup, Meta: Refactor, Status: Review Ready

#1275 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#1283 fix: remindme-delete
  src/commands/Social/remindme.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix

#1282 fix: reaction-triggers
  src/monitors/triggerReaction.ts
Labels: Meta: BugFix

#1287 refactor: switch to discord-api-types
  package.json
  src/commands/Admin/blocklist.ts
  src/commands/Announcement/announcement.ts
  src/commands/Fun/8ball.ts
  src/commands/Games/hungergames.ts
  src/commands/Giveaway/greroll.ts
  src/commands/Management/Helpers/guildInfo.ts
  src/commands/Management/Helpers/roleInfo.ts
  src/commands/Moderation/Management/mutes.ts
  src/commands/Moderation/Management/warnings.ts
  src/commands/Moderation/prune.ts
  src/commands/Social/divorce.ts
  src/commands/Suggestions/resolvesuggestion.ts
  src/commands/System/Admin/eval.ts
  src/config.example.ts
  src/events/commandUnknown.ts
  src/events/guildMemberAdd.ts
  src/events/moderation/moderationEntryAdd.ts
  src/events/moderation/moderationEntryEdit.ts
  src/events/rawChannelDelete.ts
  src/events/rawGuildCreate.ts
  src/events/rawGuildMemberRemove.ts
  src/events/rawGuildMemberUpdate.ts
  src/events/rawMessageDelete.ts
  src/events/rawMessageDeleteBulk.ts
  src/events/rawMessageReactionAdd.ts
  src/events/rawMessageReactionRemove.ts
  src/events/rawMessageReactionRemoveAll.ts
  src/events/rawMessageReactionRemoveEmoji.ts
  src/events/reactionBlacklist.ts
  src/events/roleReactionRemove.ts
  src/extendables/KlasaMessageExtendables.ts
  src/extendables/LanguageExtendables.ts
  src/lib/extensions/SkyraGuild.ts
  src/lib/orm/entities/GiveawayEntity.ts
  src/lib/orm/entities/StarboardEntity.ts
  src/lib/structures/InviteStore.ts
  src/lib/structures/ModerationCommand.ts
  src/lib/structures/SettingsMenu.ts
  src/lib/structures/managers/ModerationManager.ts
  src/lib/types/Augments.d.ts
  src/lib/types/DiscordAPI.d.ts
  src/lib/util/Games/ConnectFour/Game.ts
  src/lib/util/Games/ConnectFour/PlayerHuman.ts
  src/lib/util/LongLivingReactionCollector.ts
  src/lib/util/Models/Api.ts
  src/lib/util/Models/Rest.ts
  src/lib/util/Security/AntiRaid.ts
  src/lib/util/Security/ModerationActions.ts
  src/lib/util/constants.ts
  src/lib/util/initClean.ts
  src/lib/util/util.ts
  src/lib/websocket/WebsocketUser.ts
  src/monitors/triggerReaction.ts
  src/routes/oauth/logout.ts
  src/routes/oauth/oauthCallback.ts
  src/routes/oauth/oauthUser.ts
  src/tasks/reloadOnChanges.ts
  src/tasks/reminder.ts
  yarn.lock
Labels: Meta: BugFix, Meta: Cleanup, Meta: Dependencies, Meta: Refactor, Status: Needs Testing

#1292 feat(orm): added redis caching
  package.json
  src/config.example.ts
  src/lib/orm/dbConfig.ts
  yarn.lock
Labels: Meta: Dependencies, Meta: Feature, Type: Caching

#1299 fix(divorce): prevent users from divorcing themselves
  src/commands/Social/divorce.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix

#1298 feat(weather): add --fahrenheit flag
  src/commands/Google/weather.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
Labels: Meta: Feature, Status: Needs Testing

#1303 fix(weather): fixed celsius to fahrenheit conversion formula
  src/commands/Google/weather.ts
Labels: Meta: BugFix, Priority: High, Status: Ready To Merge, Type: Maintenance

#1314 refactor(modutils): i18n-ify descriptions
  src/commands/Moderation/Utilities/case.ts
  src/commands/Moderation/Utilities/flow.ts
  src/commands/Moderation/Utilities/permissions.ts
  src/commands/Moderation/Utilities/raid.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/types/namespaces/languages/commands/Moderation.ts
Labels: Event: Hacktoberfest

#1310 fix(i18n): fix typo in key "commandTimeUnsupportedTipe"
  src/commands/Moderation/Utilities/time.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/types/namespaces/languages/commands/Moderation.ts
Labels: Event: Hacktoberfest

#1307 chore(i18n): improve key name for index out of bounds
  src/commands/Music/promote.ts
  src/commands/Music/remove.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/types/namespaces/languages/commands/Music.ts
Labels: Event: Hacktoberfest

#1306 chore(config): add region comments and sort keys
  src/config.example.ts
Labels: Event: Hacktoberfest

#1305 build: remove file watching
  package.json
  src/config.example.ts
  src/lib/SkyraClient.ts
  src/lib/types/Augments.d.ts
  src/tasks/reloadOnChanges.ts
  yarn.lock
Labels: Event: Hacktoberfest

#1304 feat(analytics): message count
  .github/CODEOWNERS
  src/events/analytics/analyticsSync.ts
  src/lib/util/Tracking/Analytics/AnalyticsSchema.d.ts
  src/monitors/analytics/messageRecieved.ts
Labels: Event: Hacktoberfest
