Repository skyra-project/skyra, pull requests merged in 2020-07, with the labels that each got.

#1061 refactor: change lavalink for lavacord
  docker/lavalink/application.example.yml
  package.json
  src/arguments/song.ts
  src/commands/Music/add.ts
  src/commands/Music/join.ts
  src/commands/Music/leave.ts
  src/commands/Music/pause.ts
  src/commands/Music/play.ts
  src/commands/Music/playing-time.ts
  src/commands/Music/playing.ts
  src/commands/Music/queue-clear.ts
  src/commands/Music/queue.ts
  src/commands/Music/remove.ts
  src/commands/Music/repeat.ts
  src/commands/Music/resume.ts
  src/commands/Music/seek.ts
  src/commands/Music/shuffle.ts
  src/commands/Music/skip.ts
  src/commands/Music/volume.ts
  src/commands/Starboard/star.ts
  src/commands/System/Admin/reboot.ts
  src/config.example.ts
  src/events/klasaReady.ts
  src/events/lavalink/lavalinkClose.ts
  src/events/lavalink/rawLavalinkClose.ts
  src/events/lavalink/rawLavalinkDestroy.ts
  src/events/lavalink/rawLavalinkEvent.ts
  src/events/lavalink/rawLavalinkPlayerUpdate.ts
  src/events/lavalink/rawLavalinkRaw.ts
  src/events/lavalink/rawLavalinkReady.ts
  src/events/music/musicSongFinish.ts
  src/events/rawGuildCreate.ts
  src/events/rawVoiceServerUpdate.ts
  src/events/rawVoiceStateUpdate.ts
  src/inhibitors/musicInhibitor.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/SkyraClient.ts
  src/lib/structures/MusicBitField.ts
  src/lib/structures/MusicCommand.ts
  src/lib/structures/music/MusicHandler.ts
  src/lib/structures/music/Song.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Enums.d.ts
  src/lib/types/Languages.d.ts
  src/lib/util/LavalinkUtils.ts
  src/lib/util/Models/ApiTransform.ts
  src/lib/util/Music/Decorators.ts
  src/lib/util/Music/ManagerWrapper.ts
  src/lib/util/Pokemon.ts
  src/lib/websocket/index.ts
  src/lib/websocket/types.d.ts
  tests/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: Meta: BugFix, Meta: Cleanup, Meta: Dependencies, Meta: Refactor, Priority: Critical, SEM: Minor, Type: Dependencies

#1069 refactor(GI(FFXIV)): Add per server search
  src/commands/GameIntegration/ffxiv.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/GameIntegration/FFXIVUtils.ts
Labels: Meta: BugFix, Meta: Feature, Priority: Low

#1073 fix: content should not output to console
  src/commands/System/Admin/eval.ts
  src/commands/Tools/content.ts
  src/lib/util/ExceededLengthParser.ts
Labels: Meta: BugFix, Priority: Critical, Type: Security

#1065 refactor: move to docker-images
  docker/README.md
  docker/bash-skyra.sh
  docker/control.ps1
  docker/docker-build.yml
  docker/docker-compose.yml
  docker/lavalink/.gitignore
  docker/lavalink/Dockerfile
  docker/lavalink/README.md
  docker/lavalink/application.example.yml
  docker/postgres/.gitignore
  docker/postgres/Dockerfile.example
  package.json
Labels: Meta: Refactor, Priority: Low

#1074 refactor(orm): make money transactions reactive
  package.json
  src/commands/Games/coinflip.ts
  src/commands/Games/higherLower.ts
  src/commands/Social/daily.ts
  src/commands/Social/pay.ts
  src/commands/Social/vault.ts
  src/extendables/UserExtendables.ts
  src/lib/SkyraClient.ts
  src/lib/orm/entities/UserEntity.ts
  src/lib/types/Augments.d.ts
  src/lib/util/Games/Slotmachine.ts
  src/lib/util/Games/WheelOfFortune.ts
  yarn.lock
Labels: Meta: Refactor, Type: Dependencies, Type: Performance

#1077 refactor(sg): added anti-user-gateway
  src/lib/SkyraClient.ts
  src/lib/util/AntiUserGateway.ts
Labels: Meta: Refactor, Type: Caching, Type: Performance

#1072 feat(Analytics): Add Influx Analytics for Guild, User Count, Voice connections, and Command uses
  .github/CODEOWNERS
  docker/README.md
  docker/docker-compose.yml
  package.json
  src/commands/System/Admin/reboot.ts
  src/config.example.ts
  src/events/analytics/analyticsSync.ts
  src/events/analytics/commandUsageAnalytics.ts
  src/events/analytics/guildCreateAnalytics.ts
  src/events/analytics/guildDeleteAnalytics.ts
  src/events/klasaReady.ts
  src/finalizers/commandUseCounter.ts
  src/lib/SkyraClient.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Enums.d.ts
  src/lib/util/Tracking/Analytics/AnalyticsSchema.d.ts
  src/lib/util/Tracking/Analytics/structures/AnalyticsEvent.ts
  src/lib/util/initClean.ts
  src/monitors/commandHandler.ts
  src/tasks/poststats.ts
  src/tasks/syncAnalytics.ts
  yarn.lock
Labels: Meta: Dependencies, Meta: Feature, Meta: Refactor, Meta: Typings, Priority: Medium, SEM: Minor, Type: Dependencies, Type: Enhancement

#1092 fix(user-entity): resolve cli hang-ups
  src/lib/orm/entities/UserEntity.ts
Labels: Meta: BugFix, Meta: Cleanup, Priority: High, Type: Caching

#1093 fix(currency): add float support
  src/commands/Tools/Websearch/price.ts
Labels: Meta: BugFix

#1091 fix(rpg): change RPGRank#guild to a ManyToOne relationship
  src/lib/orm/entities/RpgGuildRankEntity.ts
  src/lib/orm/migrations/1594843508131-V14_FixRpgGuildRankEntity.ts
Labels: Meta: BugFix, Priority: High, Type: Maintenance

#1090 refactor/scripts stuff
  .all-contributorsrc
  .eslintrc.json
  .github/CONTRIBUTING.md
  .gitignore
  README.md
  database/.gitignore
  database/5.0.0.ts
  database/5.1.1.ts
  database/5.2.0.ts
  database/5.2.1.ts
  database/5.3.0.ts
  database/5.4.0.ts
  database/5.4.1.ts
  database/main.example.ts
  database/tsconfig.json
  ormconfig.js
  package.json
  scripts/SetMigrations.sql
  scripts/migrations.mjs
  scripts/tlds.mjs
  src/lib/util/Links/Build/script.ts
  tsconfig.eslint.json
Labels: Meta: Dependencies, Meta: Refactor, Priority: Low

#1094 feat(Analytics): Economy analytic
  src/events/analytics/analyticsSync.ts
  src/events/analytics/commandUsageAnalytics.ts
  src/events/klasaReady.ts
  src/lib/orm/migrations/1594757329224-V13_MigrateAnalytics.ts
  src/lib/util/Tracking/Analytics/AnalyticsSchema.d.ts
Labels: Meta: Feature, Priority: Medium, Type: Enhancement

#1096 refactor: update TLDs
  .gitignore
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#1098 refactor(user-entity): make profile and cooldowns not eager
  src/lib/orm/entities/UserEntity.ts
  src/lib/orm/repositories/UserRepository.ts
Labels: Meta: BugFix, Meta: Refactor, Type: Caching, Type: Performance

#1099 feat(sg): added custom serializers
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/schemas/Guilds.ts
  src/lib/types/Languages.d.ts
  src/providers/postgres.ts
  src/serializers/autorole.ts
  src/serializers/commandautodelete.ts
  src/serializers/disabledcommandchannel.ts
  src/serializers/stickyrole.ts
  src/serializers/triggeralias.ts
  src/serializers/triggerinclude.ts
  src/serializers/uniqueroleset.ts
Labels: Meta: Feature, Priority: High, Type: Enhancement, Type: Security

#1100 feat(giveaways): add support to specify other channels
  src/commands/Giveaway/gcreate.ts
  src/commands/Giveaway/gstart.ts
Labels: Meta: Feature, Priority: Medium, Type: Enhancement

#1102 refactor(api): change auth to be cookie-based
  src/config.example.ts
  src/events/twitch/twitchStreamOffline.ts
  src/events/twitch/twitchStreamOnline.ts
  src/lib/SkyraClient.ts
  src/lib/orm/entities/DashboardUserEntity.ts
  src/lib/orm/migrations/1594922379627-V15_ClearDashboardUsers.ts
  src/lib/structures/DbSet.ts
  src/lib/structures/api/ApiRequest.ts
  src/lib/structures/api/ApiResponse.ts
  src/lib/structures/api/CookieStore.ts
  src/lib/structures/music/MusicHandler.ts
  src/lib/types/Augments.d.ts
  src/lib/util/Models/ApiTransform.ts
  src/lib/util/util.ts
  src/lib/websocket/WebsocketHandler.ts
  src/lib/websocket/WebsocketSubscriptionStore.ts
  src/lib/websocket/WebsocketUser.ts
  src/lib/websocket/index.ts
  src/lib/websocket/types.d.ts
  src/middlewares/authenticated.ts
  src/middlewares/cookies.ts
  src/middlewares/headers.ts
  src/middlewares/json.ts
  src/routes/banners.ts
  src/routes/commands.ts
  src/routes/guilds/guild.ts
  src/routes/guilds/guild/channels.ts
  src/routes/guilds/guild/channels/channel.ts
  src/routes/guilds/guild/leaderboard.ts
  src/routes/guilds/guild/members/member.ts
  src/routes/guilds/guild/roles.ts
  src/routes/guilds/guild/roles/role.ts
  src/routes/guilds/guild/settings.ts
  src/routes/guilds/schema.ts
  src/routes/main.ts
  src/routes/oauth/logout.ts
  src/routes/oauth/oauthCallback.ts
  src/routes/oauth/oauthUser.ts
  src/routes/twitch/twitchStreamChange.ts
  src/routes/users/leaderboard.ts
  src/routes/users/user.ts
  src/routes/users/user/settings.ts
  src/routes/webhooks/b4d.ts
  src/routes/webhooks/topgg.ts
Labels: Meta: Refactor

#1106 cleanup(permissions): use an enum and improve the handlers
  src/inhibitors/permissions.ts
Labels: Meta: Cleanup, Type: Enhancement

#1110 fix(GI/ffxiv):
  src/commands/GameIntegration/ffxiv.ts
Labels: Meta: BugFix

#1107 chore: remove changelogs & json provider
  changelogs/3.0.0 Royal.diff
  changelogs/3.2.0 Ny-Royal.diff
  changelogs/3.3.0 Ny-Royal.diff
  changelogs/3.4.0 Ny-Royal.diff
  changelogs/4.0.0 Nerom.diff
  changelogs/5.0.0 Nerom v2.md
  src/config.example.ts
  src/lib/types/Augments.d.ts
Labels: Meta: Cleanup, Meta: Github

#1109 fix(Analytics): replace reserved words for command names
  src/events/analytics/commandUsageAnalytics.ts
Labels: Meta: BugFix, Priority: Critical

#1101 chore(EditorConfig): Add parameters for the other used file types
  .editorconfig
  .github/CONTRIBUTING.md
  .github/labels.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/labelsync.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/tsc.yml
  .github/workflows/update-tlds.yml
  .vscode/settings.json
  docker/README.md
  src/arguments/overwatchplayer.ts
  src/languages/en-US.ts
  src/lib/orm/migrations/1594757329224-V13_MigrateAnalytics.ts
  src/lib/util/External/escapeMarkdown.ts
  src/lib/util/Music/Decorators.ts
  src/lib/util/Pokemon.ts
Labels: Priority: Low, Type: Consistency

#1111 chore(coc): update CCCoC from 1.4 to 2.0
  .github/CODE_OF_CONDUCT.md
Labels: Meta: Documentation, Meta: Github, Type: Maintenance

#1025 refactor(moderations): add 2 aliases
  src/commands/Moderation/Management/moderations.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Cleanup, Priority: Low

#1112 refactor(fetch): throw richer FetchError instead of Error
  package.json
  src/commands/GameIntegration/clashofclans.ts
  src/commands/GameIntegration/overwatch.ts
  src/commands/Misc/randreddit.ts
  src/commands/Misc/ship.ts
  src/commands/Tools/Websearch/horoscope.ts
  src/commands/Tools/Websearch/shows.ts
  src/lib/errors/FetchError.ts
  src/lib/util/Notifications/Twitch.ts
  src/lib/util/util.ts
  src/tasks/poststats.ts
  src/tasks/twitchRefreshSubscriptions.ts
  tests/lib/util/util.test.ts
  yarn.lock
Labels: Meta: Feature, Meta: Refactor, Type: Enhancement

#1118 refactor(sticky-roles): centralize all logic and fix everything
  src/commands/Management/Members/stickyRoles.ts
  src/events/rawGuildMemberAdd.ts
  src/lib/extensions/SkyraGuild.ts
  src/lib/structures/managers/StickyRoleManager.ts
  src/lib/util/Security/ModerationActions.ts
  src/serializers/stickyrole.ts
Labels: Meta: BugFix, Meta: Cleanup, Meta: Feature, Meta: Refactor, Priority: Critical, Type: Enhancement

#1120 fix(starboard): resolved bug with the system not updating
  src/events/rawMessageReactionAdd.ts
  src/lib/orm/entities/StarboardEntity.ts
  src/lib/structures/managers/StarboardManager.ts
Labels: Meta: BugFix, Meta: Refactor, Priority: Critical, Type: Caching

#1121 fix(moderation): resolved deletion conflict of tasks
  src/lib/orm/entities/ScheduleEntity.ts
  src/lib/util/Security/ModerationActions.ts
Labels: Meta: BugFix, Priority: Critical

#1126 fix(gimage): ensure url is valid before attaching
  src/commands/Google/gimage.ts
Labels: Meta: BugFix, Priority: Medium

#1125 fix: handle music join exceptions
  src/commands/Music/join.ts
  src/events/lavalink/lavalinkException.ts
  src/events/lavalink/lavalinkWebsocketClosed.ts
  src/lib/structures/music/MusicHandler.ts
  src/lib/types/Events.d.ts
Labels: Meta: BugFix, Priority: High

#1115 feat(bot-lists): added botlist.space integration
  src/config.example.ts
  src/routes/webhooks/blspace.ts
  src/tasks/poststats.ts
Labels: Meta: Feature, Type: Enhancement

#1133 src: fix capital filter filtering non-ascii chars as upper case
  package.json
  src/monitors/Moderation/capitalsFilter.ts
  yarn.lock
Labels: Meta: BugFix, Meta: Dependencies, Priority: Low, SEM: Patch, Status: Review Ready

#1137 feat(gstart): allow winners as arg
  src/commands/Giveaway/gstart.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
Labels: Meta: Feature, Priority: Critical

#1138 fix(overwatch): ensure not-found doesn't WTF
  src/commands/GameIntegration/overwatch.ts
Labels: Meta: BugFix

#1140 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#1141 fix(pay): do not delete the message
  src/commands/Social/pay.ts
Labels: Meta: BugFix

#1142 fix(history,moderations): format data and cut long reasons
  src/commands/Moderation/Management/history.ts
  src/commands/Moderation/Management/moderations.ts
Labels: Meta: BugFix, Meta: Cleanup, Priority: High, Type: Enhancement

#1139 refactor(horoscope): use Saelem for Horoscope API
  package.json
  src/commands/Tools/Websearch/horoscope.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Pokemon.ts
  src/lib/util/Saelem.ts
  src/lib/util/constants.ts
  yarn.lock
Labels: Meta: Dependencies, Meta: Refactor, Priority: Medium

#1144 refactor(cdn): organized image locations
  src/commands/Fun/escaperope.ts
  src/commands/GameIntegration/overwatch.ts
  src/commands/Games/coinflip.ts
  src/commands/Social/Profile Management/banner.ts
  src/commands/Social/level.ts
  src/commands/Social/profile.ts
  src/commands/Twitch/twitch.ts
  src/lib/util/Pokemon.ts
  src/lib/util/Saelem.ts
Labels: Meta: Cleanup, Meta: Refactor

#1146 feat(yarn): add yarn search command
  package.json
  src/commands/Developers/yarn.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/types/definitions/Yarnpkg.d.ts
Labels: Meta: Feature

#1149 fix(linkfilter): whitelist discord.com
  src/monitors/Moderation/linkFilter.ts
Labels: Meta: BugFix

#1147 chore: remove most mentions of discordapp.com
  README.md
  src/commands/Starboard/star.ts
  src/events/rawMessageReactionAdd.ts
  src/events/reactionBlacklist.ts
  src/lib/types/DiscordAPI.d.ts
  src/lib/util/Models/Api.ts
  src/routes/oauth/oauthCallback.ts
  src/routes/oauth/oauthUser.ts
Labels: Meta: Refactor

#1148 refactor(invite): flag to link w/o permissions
  src/commands/General/Chat Bot Info/invite.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Refactor

#1162 fix(emoji): prevent everyone from being mentioned
  src/commands/Tools/emoji.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix, Priority: Critical

#1152 fix(moderation): resolve missing moderatorID in automod
  src/events/guildBanAdd.ts
  src/events/guildBanRemove.ts
  src/lib/structures/ModerationEvent.ts
  src/lib/structures/ModerationMonitor.ts
  src/lib/structures/managers/ModerationManager.ts
  src/monitors/Moderation/attachmentFilter.ts
Labels: Meta: BugFix, Priority: High

#1154 fix(gstart): require at least 1 winner
  src/commands/Giveaway/gstart.ts
Labels: Meta: BugFix

#1155 fix(slowmode): resolved all bugs
  src/commands/Moderation/Utilities/slowmode.ts
Labels: Meta: BugFix

#1157 fix(define): type can be null
  src/commands/Tools/Dictionary/define.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix

#1158 fix(remindme): check permissions in CMD#show
  src/commands/Social/remindme.ts
Labels: Meta: BugFix

#1159 fix(pnodes): Roles#highest is apparently nullable
  src/commands/Management/permissionNodes.ts
Labels: Meta: BugFix

#1161 feat(markov): capture all content
  src/commands/Fun/markov.ts
  src/lib/util/util.ts
  tests/lib/util/util.test.ts
Labels: Meta: Feature

#1160 fix(wof): floor/ceil floats
  src/lib/util/Games/WheelOfFortune.ts
Labels: Meta: BugFix

#1163 fix(yarn): fixed 2 bugs found by Q and Pyro
  src/commands/Developers/yarn.ts
  src/lib/types/definitions/Yarnpkg.d.ts
Labels: Meta: BugFix

#1164 refactor(8ball): remove ? requirement
  src/commands/Fun/8ball.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Refactor
