Repository skyra-project/skyra, pull requests merged in 2020-03, with the labels that each got.

#890 feat: multi-message quotes
  src/commands/Tools/quote.ts
Labels: Meta: Feature, Priority: Medium, Type: Enhancement

#891 refactor: run yarn install in update command
  src/commands/System/Admin/update.ts
Labels: Meta: Refactor

#895 fix: show User Kicked in member logs when kicking a user
  src/commands/Moderation/kick.ts
  src/events/rawGuildMemberRemove.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Refactor

#887 feat: refactor a lot in moderation commands
  .gitignore
  .vscode/Skyra.code-snippets
  src/commands/Moderation/Restriction/restrictAttachment.ts
  src/commands/Moderation/Restriction/restrictEmbed.ts
  src/commands/Moderation/Restriction/restrictReaction.ts
  src/commands/Moderation/Restriction/restrictVoice.ts
  src/commands/Moderation/Restriction/unrestrictAttachment.ts
  src/commands/Moderation/Restriction/unrestrictEmbed.ts
  src/commands/Moderation/Restriction/unrestrictReaction.ts
  src/commands/Moderation/Restriction/unrestrictVoice.ts
  src/commands/Moderation/addrole.ts
  src/commands/Moderation/ban.ts
  src/commands/Moderation/dehoist.ts
  src/commands/Moderation/kick.ts
  src/commands/Moderation/lockdown.ts
  src/commands/Moderation/mute.ts
  src/commands/Moderation/prune.ts
  src/commands/Moderation/removerole.ts
  src/commands/Moderation/setnickname.ts
  src/commands/Moderation/softban.ts
  src/commands/Moderation/togglemoderationdm.ts
  src/commands/Moderation/unban.ts
  src/commands/Moderation/unmute.ts
  src/commands/Moderation/unwarn.ts
  src/commands/Moderation/vmute.ts
  src/commands/Moderation/voicekick.ts
  src/commands/Moderation/vunmute.ts
  src/commands/Moderation/warn.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/structures/ModerationCommand.ts
  src/lib/types/Languages.d.ts
  src/lib/types/shims/module-alias.d.ts
  src/lib/util/Security/ModerationActions.ts
  src/lib/util/constants.ts
  src/lib/util/util.ts
Labels: Meta: Feature, Type: Ribbon Migration

#898 fix: Allow `enable[d]` and `disable[d]` in conf command
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/tsc.yml
  src/serializers/boolean.ts
Labels: Meta: Refactor

#904 fix: Prune command should use `Message#alert`
  src/commands/Moderation/prune.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
Labels: Meta: BugFix, Meta: Refactor, Priority: High

#900 fix: memberlogs to show moderation-context aware messages
  src/commands/Moderation/ban.ts
  src/commands/Moderation/kick.ts
  src/commands/Moderation/softban.ts
  src/commands/Moderation/unban.ts
  src/events/rawGuildMemberRemove.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/structures/ModerationManager.ts
  src/lib/types/Languages.d.ts
  src/lib/util/constants.ts
Labels: Meta: BugFix
