Repository skyra-project/skyra, pull requests merged in 2020-08, with the labels that each got.

#1166 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#1168 fix(hg): guard updates with permissions and existence checks
  src/commands/Games/hungergames.ts
Labels: Meta: BugFix

#1169 fix(suggest): check permissions before sending
  src/commands/Suggestions/suggest.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix

#1167 fix(moderation): resolved moderationID bug
  scripts/SetMigrations.sql
  src/commands/Games/c4.ts
  src/commands/Games/hungergames.ts
  src/commands/Games/tictactoe.ts
  src/commands/Moderation/prune.ts
  src/events/mentionSpamExceeded.ts
  src/events/rawGuildMemberUpdate.ts
  src/lib/orm/entities/ModerationEntity.ts
  src/lib/orm/migrations/1596269328762-V17_MigrateModeratorNonNull.ts
  src/lib/structures/ModerationCommand.ts
  src/lib/structures/ModerationMonitor.ts
  src/lib/util/Tracking/Analytics/structures/AnalyticsEvent.ts
  src/monitors/Moderation/attachmentFilter.ts
  src/monitors/commandHandler.ts
  src/monitors/imageLogs.ts
  src/monitors/socialMonitor.ts
Labels: Meta: BugFix

#1171 feat(rr): added new reaction roles system
  scripts/SetMigrations.sql
  src/arguments/emoji.ts
  src/arguments/snowflake.ts
  src/commands/Management/Configuration/manageReactionRoles.ts
  src/commands/Management/Configuration/manageRoleReaction.ts
  src/commands/Management/Configuration/setRoleChannel.ts
  src/commands/Management/Configuration/setRoleMessage.ts
  src/events/roleReactionAdd.ts
  src/events/roleReactionRemove.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/orm/entities/GuildEntity.ts
  src/lib/orm/migrations/1596299849081-V19_MigrateReactionRoles.ts
  src/lib/schemas/Guilds.ts
  src/lib/types/Languages.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/util/LongLivingReactionCollector.ts
  src/lib/util/util.ts
  src/providers/postgres.ts
  src/serializers/reactionrole.ts
  tests/lib/util/util.test.ts
Labels: Meta: Feature, Meta: Refactor, Type: Enhancement

#1172 chore: setup cleaner dependencies
  .yarnclean
  package.json
  src/lib/orm/migrations/1594757329224-V13_MigrateAnalytics.ts
  yarn.lock
Labels: Meta: Cleanup, Meta: Dependencies

#1174 feat(volume): add easter egg with an increased volume
  src/events/music/musicSongVolumeUpdate.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/structures/music/MusicHandler.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Feature

#1190 feat(youtube): add llrc for multiple results
  src/commands/Tools/Websearch/youtube.ts
Labels: Meta: Feature

#1194 fix: add missing/fix existing ORM checks
  scripts/SetMigrations.sql
  src/lib/orm/entities/GuildEntity.ts
  src/lib/orm/entities/UserEntity.ts
  src/lib/orm/entities/UserProfileEntity.ts
  src/lib/orm/migrations/1597088981807-V20_Update_Guild_Entity_Checks.ts
  src/lib/orm/migrations/1597266996401-V21_Add_Missing_Checks.ts
Labels: Meta: BugFix, Priority: High

#1197 style(serverinfo): use locale strings for member counts
  src/commands/Management/Helpers/guildInfo.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Bike-Shedding

#1188 feat: setup docker config for saelem w/ redis
  .gitignore
  docker/README.md
  docker/configs/.env
  docker/configs/redis.conf
  docker/docker-compose.yml
  package.json
  yarn.lock
Labels: Meta: Refactor, SEM: Minor

#1198 chore: formatting
  .all-contributorsrc
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SECURITY.md
  .github/labels.yml
  .github/workflows/codeql-analysis.yml
  .gqlconfig
  .prettierrc
  .vscode/Skyra.code-snippets
  README.md
  docker/docker-compose.yml
  pm2.ecosystem.yml
  scripts/tlds.mjs
  src/commands/Fun/pun.ts
  src/commands/Fun/wakanda.ts
  src/commands/Games/c4.ts
  src/commands/Games/hungergames.ts
  src/commands/Games/tictactoe.ts
  src/commands/Games/trivia.ts
  src/commands/General/Chat Bot Info/invite.ts
  src/commands/Moderation/prune.ts
  src/commands/Social/level.ts
  src/commands/Social/profile.ts
  src/commands/Tools/Websearch/country.ts
  src/events/analytics/resourceAnalyticsSync.ts
  src/events/mentionSpamExceeded.ts
  src/events/rawGuildMemberUpdate.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/orm/migrations/1594757329224-V13_MigrateAnalytics.json
  src/lib/orm/migrations/1596269328762-V17_MigrateModeratorNonNull.ts
  src/lib/structures/ModerationCommand.ts
  src/lib/util/Tracking/Analytics/structures/AnalyticsEvent.ts
  src/monitors/Moderation/capitalsFilter.ts
  src/monitors/commandHandler.ts
  src/monitors/imageLogs.ts
  src/monitors/socialMonitor.ts
  src/serializers/categoryortextchannel.ts
  src/tasks/poststats.ts
  src/tsconfig.json
  tests/lib/util/TriviaManager.test.ts
Labels: Meta: Bike-Shedding, Meta: Cleanup

#1196 feat: add brawlstars command
  .github/PRIVACY_POLICY.md
  docker/README.md
  src/commands/GameIntegration/brawlstars.ts
  src/config.example.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/GameIntegration/BrawlStars.d.ts
  src/lib/util/constants.ts
Labels: Meta: Feature

#1182 refactor(suggestion): follow normal suggestion flow for global suggestions
  src/commands/Suggestions/suggest.ts
  src/languages/en-US.ts
Labels: Status: Help Wanted

#1203 fix(peepolove): disable custom image support
  src/arguments/image.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
Labels: Meta: BugFix

#1204 fix(banner): fixed 2 critical bugs
  src/commands/Social/Profile Management/banner.ts
Labels: Meta: BugFix, Priority: Critical

#1209 refactor(music): ensure lavalink is up before connecting
  src/events/music/musicJoinFailed.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/structures/music/MusicHandler.ts
  src/lib/types/Enums.d.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Error Handling, Meta: Refactor

#1221 refactor(i18n): flatten functions-in-objects
  src/commands/Developers/yarn.ts
  src/commands/GameIntegration/clashofclans.ts
  src/commands/GameIntegration/fortnite.ts
  src/commands/GameIntegration/overwatch.ts
  src/commands/Games/higherLower.ts
  src/commands/General/Chat Bot Info/help.ts
  src/commands/Google/currenttime.ts
  src/commands/Misc/reddituser.ts
  src/commands/Misc/ship.ts
  src/commands/Moderation/dehoist.ts
  src/commands/Pokemon/item.ts
  src/commands/Pokemon/learn.ts
  src/commands/Pokemon/move.ts
  src/commands/Pokemon/pokedex.ts
  src/commands/Pokemon/type.ts
  src/commands/Social/vault.ts
  src/commands/Suggestions/resolvesuggestion.ts
  src/commands/Tools/Websearch/horoscope.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Refactor, Status: Ready To Merge

#1236 refactor(trivia): improved arg parsing
  src/commands/Games/trivia.ts
  src/commands/General/Chat Bot Info/help.ts
  src/lib/util/Games/TriviaManager.ts
  src/lib/util/LongLivingReactionCollector.ts
  src/lib/util/Security/AntiRaid.ts
  src/lib/util/util.ts
  tests/lib/util/util.test.ts
  tests/mocks/testutils.ts
Labels: Meta: Refactor
