Repository skyra-project/skyra, pull requests merged in 2020-06, with the labels that each got.

#1017 fix(Oauth2): code should be in body
  src/routes/oauth/oauthCallback.ts
Labels: Meta: BugFix, Priority: Critical, SEM: Patch

#1016 fix(Prune): don't make limit be defaulted
  src/commands/Moderation/prune.ts
Labels: Meta: BugFix, Priority: High

#1019 feat(Moderation): added image support
  database/5.4.0.ts
  database/5.4.1.ts
  database/main.example.ts
  package.json
  src/commands/Moderation/Restriction/restrictAttachment.ts
  src/commands/Moderation/Restriction/restrictEmbed.ts
  src/commands/Moderation/Restriction/restrictReaction.ts
  src/commands/Moderation/Restriction/restrictVoice.ts
  src/commands/Moderation/Restriction/unrestrictAttachment.ts
  src/commands/Moderation/Restriction/unrestrictEmbed.ts
  src/commands/Moderation/Restriction/unrestrictReaction.ts
  src/commands/Moderation/Restriction/unrestrictVoice.ts
  src/commands/Moderation/Utilities/reason.ts
  src/commands/Moderation/addrole.ts
  src/commands/Moderation/ban.ts
  src/commands/Moderation/kick.ts
  src/commands/Moderation/mute.ts
  src/commands/Moderation/removerole.ts
  src/commands/Moderation/setnickname.ts
  src/commands/Moderation/softban.ts
  src/commands/Moderation/unban.ts
  src/commands/Moderation/unmute.ts
  src/commands/Moderation/unwarn.ts
  src/commands/Moderation/vmute.ts
  src/commands/Moderation/voicekick.ts
  src/commands/Moderation/vunmute.ts
  src/commands/Moderation/warn.ts
  src/config.example.ts
  src/lib/queries/postgres.ts
  src/lib/structures/ModerationManager.ts
  src/lib/structures/ModerationManagerEntry.ts
  src/lib/types/settings/raw/RawModerationSettings.ts
  src/providers/postgres.ts
Labels: Meta: Feature, Meta: Refactor, Priority: High, SEM: Minor, Status: Needs Migration, Type: Enhancement

#1022 fix(Tag): escape source's codeblock
  src/commands/Tags/tag.ts
  src/lib/util/util.ts
Labels: Meta: BugFix, Priority: Medium, SEM: Patch

#1023 refactor(Moderation): use MAX instead of COUNT(*) to determine next id
  src/lib/queries/common.d.ts
  src/lib/queries/json.ts
  src/lib/queries/postgres.ts
  src/lib/structures/ModerationManager.ts
Labels: Meta: BugFix, Meta: Refactor, Priority: High, SEM: Minor, Status: Needs Testing

#1020 feat(Invites): display the infracting urls
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/monitors/Moderation/inviteFilter.ts
Labels: Meta: Feature, Priority: Medium, SEM: Minor, Type: Enhancement

#1018 test: write unit tests for remaining util functions + FriendlyDuration
  .github/workflows/test.yml
  README.md
  __mocks__/MockInstances.ts
  __mocks__/MockLanguageStore.ts
  __mocks__/image.png
  __tests__/lib/util/FriendlyDuration.test.ts
  __tests__/lib/util/util.test.ts
  __tests__/testutils.ts
  __tests__/tsconfig.json
  jest.config.js
  src/config.example.ts
  src/events/rawMessageReactionAdd.ts
  src/events/reactionBlacklist.ts
  src/lib/util/util.ts
  yarn.lock
Labels: Priority: Kirito Level, Status: Review Ready

#777 feat: suggestions module
  src/commands/Suggestions/resolvesuggestion.ts
  src/commands/Suggestions/suggest.ts
  src/commands/System/feedback.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/SkyraClient.ts
  src/lib/queries/common.d.ts
  src/lib/queries/json.ts
  src/lib/queries/postgres.ts
  src/lib/schemas/Guilds.ts
  src/lib/types/Languages.d.ts
  src/lib/types/constants/Constants.d.ts
  src/lib/types/definitions/Suggestion.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/types/settings/raw/RawSuggestionsSettings.ts
  src/lib/util/DatabaseInit.ts
Labels: Meta: Feature, Priority: Medium

#1028 fix(C4): check must be inclusive in horizontal
  src/lib/util/Games/ConnectFour/Board.ts
  src/lib/util/Games/ConnectFour/PlayerAI.ts
  src/lib/util/Games/ConnectFourManager.ts
Labels: Meta: BugFix, Meta: Documentation, Priority: High, SEM: Patch, Status: Needs Testing

#1035 refactor(pokemon): new data & better querying
  .gqlconfig
  docker/bash-skyra.sh
  docker/ps-skyra.ps1
  package.json
  src/commands/Pokemon/pokedex.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Pokemon.ts
  src/lib/util/util.ts
  tests/lib/util/util.test.ts
  yarn.lock
Labels: Meta: Refactor
