Repository skyra-project/skyra, pull requests merged in 2020-02, with the labels that each got.

#804 fix(gsearch): fixed the search results being extremely unreliable
  src/commands/Google/gimage.ts
  src/commands/Google/gsearch.ts
Labels: Meta: BugFix

#805 fix(giveaway): fixed duration and scheduling
  src/commands/Giveaway/gcreate.ts
  src/commands/Giveaway/gstart.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix, Meta: Feature, Meta: Refactor

#780 feat: RPG
  src/lib/queries/common.d.ts
  src/lib/queries/json.ts
  src/lib/queries/postgres.ts
  src/lib/types/constants/Constants.d.ts
  src/lib/types/settings/raw/RawGameSettings.ts
  src/lib/types/util.d.ts
  src/lib/util/DatabaseInit.ts
Labels: Meta: Feature, Priority: High, Status: Help Wanted

#811 chore: cleanup twitch help message
  src/languages/en-US.ts
  src/languages/es-ES.ts
Labels: Meta: Documentation

#813 docker: add build specific config
  docker/bash-skyra.sh
  docker/docker-build.yml
  docker/docker-compose.yml
  docker/ps-skyra.ps1
Labels: Meta: Cleanup, Priority: Low

#817 fix(C4): Resolved check bug
  src/lib/util/Games/ConnectFour/Board.ts
  src/lib/util/Games/ConnectFour/PlayerHuman.ts
Labels: Meta: BugFix, Meta: Documentation, Meta: Refactor, Priority: High, Status: Needs Testing

#820 chore: cleanup some ts-ignore's
  src/events/rawGuildCreate.ts
  src/events/rawGuildMemberUpdate.ts
  src/events/rawUserUpdate.ts
  src/lib/extensions/SkyraGuild.ts
  src/lib/structures/ModerationManager.ts
  src/lib/types/Augments.d.ts
  src/providers/postgres.ts
Labels: Meta: Cleanup

#833 fix: help page 13 fixes
  src/commands/General/Chat Bot Info/help.ts
  src/commands/Moderation/Restriction/restrictAttachment.ts
  src/commands/Moderation/Restriction/restrictEmbed.ts
  src/commands/Moderation/Restriction/restrictReaction.ts
  src/commands/Moderation/Restriction/restrictVoice.ts
  src/commands/Moderation/Restriction/unrestrictAttachment.ts
  src/commands/Moderation/Restriction/unrestrictEmbed.ts
  src/commands/Moderation/Restriction/unrestrictReaction.ts
  src/commands/Moderation/Restriction/unrestrictVoice.ts
Labels: Meta: BugFix, Meta: Refactor

#844 fix: fortnite command property access
  src/commands/GameIntegration/fortnite.ts
  src/lib/util/GameIntegration/Fortnite.d.ts
Labels: Meta: BugFix

#671 feat: new cache provider
  src/config.example.ts
  src/lib/queries/json.ts
  src/providers/cache.ts
Labels: Priority: Low, Type: Performance

#846 fix: filter bots from logs
  src/events/rawMessageReactionAdd.ts
  src/lib/structures/ModerationMonitor.ts
  src/lib/util/Cache/UserTags.ts
  src/lib/util/util.ts
  yarn.lock
Labels: Meta: BugFix
