Repository skyra-project/skyra, pull requests merged in 2020-12, with the labels that each got.

#1417 feat: add separation between username and nickname logs
  scripts/SetMigrations.sql
  src/events/guilds/members/guildMemberUpdateNicknameNotify.ts
  src/events/userUpdate.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/migrations/1606948188150-V32_SeparatedMemberNameUpdateLogs.ts
  src/lib/database/tableKeys/settings/Events.ts
  src/lib/types/Languages.d.ts
  src/lib/types/namespaces/languages/Settings.ts
Labels: Meta: Feature, Priority: High

#1427 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#1429 fix(guildentity): fixed saving custom commands from dashboard
  src/lib/database/entities/GuildEntity.ts
Labels: Meta: BugFix, Priority: Critical
