Repository skyra-project/skyra, pull requests merged in 2020-05, with the labels that each got.

#939 fix(manga): fixed manga images & timestamp display
  src/commands/Anime/anime.ts
  src/commands/Anime/manga.ts
  src/commands/Anime/waifu.ts
Labels: Meta: BugFix

#938 fix(Reddit): handle 500 code errors
  src/commands/Misc/randreddit.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix, Meta: Refactor

#941 fix(Remindme): removed NLP and use Klasa's argument parser instead
  src/arguments/timespan.ts
  src/commands/Social/remindme.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix, Meta: Refactor

#952 fix(Filter): cover edge cases
  __tests__/lib/util/RegexCreator.test.ts
  src/lib/util/Security/RegexCreator.ts
Labels: Meta: BugFix

#954 fix(Marry): do not allow users to marry the same user twice
  src/commands/Social/marry.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix

#955 fix(Remindme): add `reminders` alias, fix shift arg, check right perms
  src/commands/Social/remindme.ts
  src/lib/util/util.ts
Labels: Meta: BugFix

#953 fix(Slowmode): resolved negative time bugs
  src/commands/Moderation/Utilities/slowmode.ts
Labels: Meta: BugFix

#957 fix(GSearch): resolved invalid image url in certain cases
  src/commands/Google/gsearch.ts
  src/lib/util/util.ts
Labels: Meta: BugFix

#958 feat(Music): enable DJ mode for lonely listeners
  src/lib/structures/music/MusicHandler.ts
Labels: Meta: Feature, Type: Enhancement

#963 feat(Webhooks): added webhook for Bots For Discord
  src/config.example.ts
  src/lib/structures/api/ApiResponse.ts
  src/routes/webhooks/b4d.ts
Labels: Meta: Feature

#964 feat(Feedback): post as webhook
  src/commands/System/feedback.ts
  src/config.example.ts
  src/lib/SkyraClient.ts
  src/lib/types/Augments.d.ts
Labels: Type: Enhancement

#966 fix(HG): make players optional (so they are defined in the flags)
  src/commands/Games/hungergames.ts
Labels: Meta: BugFix

#965 fix(Embeds): use dynamic png for images
  src/commands/Fun/love.ts
  src/commands/General/Chat Bot Info/help.ts
  src/commands/Management/roles.ts
  src/commands/Management/triggers.ts
  src/commands/Misc/snipe.ts
  src/commands/Moderation/Management/history.ts
  src/commands/Moderation/Management/moderations.ts
  src/commands/Moderation/prune.ts
  src/commands/Social/remindme.ts
  src/commands/Social/setcolor.ts
  src/commands/System/feedback.ts
  src/commands/Tools/avatar.ts
  src/commands/Tools/quote.ts
  src/commands/Tools/topinvites.ts
  src/commands/Tools/whois.ts
  src/commands/Twitch/twitchsubscription.ts
  src/events/commandError.ts
  src/events/messageDelete.ts
  src/events/messageUpdate.ts
  src/events/rawGuildMemberAdd.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/structures/ModerationManagerEntry.ts
  src/lib/structures/SettingsMenu.ts
  src/lib/structures/StarboardMessage.ts
  src/monitors/Moderation/attachmentFilter.ts
  src/monitors/Moderation/capitalsFilter.ts
  src/monitors/Moderation/inviteFilter.ts
  src/monitors/Moderation/linkFilter.ts
  src/monitors/Moderation/messageFilter.ts
  src/monitors/Moderation/newLineFilter.ts
  src/monitors/Moderation/wordFilter.ts
  src/monitors/imageLogs.ts
Labels: Meta: BugFix

#967 fix(Twitch): squash all bugs in notifications
  src/commands/Twitch/followage.ts
  src/commands/Twitch/twitch.ts
  src/commands/Twitch/twitchsubscription.ts
  src/events/twitchStreamOffline.ts
  src/events/twitchStreamOnline.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/util/Notifications/Twitch.ts
  src/routes/twitch/twitchStreamChange.ts
  src/serializers/twitchsubscription.ts
Labels: Meta: BugFix

#980 fix(Markov): split by dot only if followed by space
  src/lib/util/External/markov.ts
Labels: Meta: BugFix

#979 feat(Reminder): add show subcommand
  src/commands/Social/remindme.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Feature

#977 cleanup(History): skip invalidated entries
  src/commands/Moderation/Management/history.ts
Labels: Meta: Cleanup, Status: Needs Testing

#975 fix(RoleSet): added reset subcommand and i18n message
  src/commands/Admin/roleset.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Feature

#972 refactor(escaperope): send a gif and alias escape
  src/commands/Fun/escaperope.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Refactor

#974 fix(Moderation): invalidate previous moderation entries
  src/events/moderation/moderationEntryEdit.ts
  src/lib/structures/ModerationManagerEntry.ts
  src/lib/util/Security/ModerationActions.ts
Labels: Meta: BugFix, Priority: Critical

#981 refactor(rawGmUpdate): build Embed function
  src/events/rawGuildMemberUpdate.ts
Labels: Meta: Refactor, Status: Ready To Merge

#976 feat(AutoModeration): per-monitor messages
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/structures/ModerationMonitor.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Adder.ts
  src/monitors/Moderation/attachmentFilter.ts
  src/monitors/Moderation/capitalsFilter.ts
  src/monitors/Moderation/inviteFilter.ts
  src/monitors/Moderation/linkFilter.ts
  src/monitors/Moderation/messageFilter.ts
  src/monitors/Moderation/newLineFilter.ts
  src/monitors/Moderation/wordFilter.ts
Labels: Meta: Cleanup, Meta: Feature, Status: Needs Testing

#971 build(update): support full rebuild option
  src/commands/System/Admin/update.ts
Labels: Meta: BugFix, Meta: Refactor

#984 chore(funding): add extra links
  .github/FUNDING.yml
Labels: Meta: Github, Status: WIP

#991 fix(twitch): fixes round 2
  src/commands/Twitch/followage.ts
  src/commands/Twitch/twitch.ts
  src/commands/Twitch/twitchsubscription.ts
  src/events/klasaReady.ts
  src/events/twitchStreamOffline.ts
  src/events/twitchStreamOnline.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/queries/common.d.ts
  src/lib/queries/json.ts
  src/lib/queries/postgres.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Languages.d.ts
  src/lib/types/definitions/Twitch.d.ts
  src/lib/util/Notifications/Twitch.ts
  src/lib/util/constants.ts
  src/tasks/twitchRefreshSubscriptions.ts
Labels: Meta: BugFix, Meta: Feature, Meta: Refactor, Priority: Critical, Status: Review Ready

#992 fix(learn): fixed for when pokemon cannot learn move
  src/commands/Pokemon/learn.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: BugFix

#993 fix(api): fixed method of checking guild manageable
  src/lib/util/API.ts
  src/routes/guilds/guild.ts
  src/routes/guilds/guild/channels.ts
  src/routes/guilds/guild/channels/channel.ts
  src/routes/guilds/guild/roles.ts
  src/routes/guilds/guild/roles/role.ts
  src/routes/guilds/guild/settings.ts
  src/routes/oauth/oauthUser.ts
Labels: Meta: BugFix, Priority: Critical, Type: Security

#995 feat: pre-command logs
  src/monitors/preCommandHandler.ts
Labels: Meta: Error Handling, Priority: Critical

#1002 fix(Twitch): escape markdown
  src/events/twitch/twitchStreamOffline.ts
  src/events/twitch/twitchStreamOnline.ts
Labels: Meta: BugFix, SEM: Patch, Status: Review Ready

#1004 feat(CustomCommands): added custom commands
  .vscode/settings.json
  __tests__/tsconfig.json
  database/.gitignore
  database/5.3.0.ts
  database/5.4.0.ts
  database/main.example.ts
  database/tsconfig.json
  src/commands/Tags/tag.ts
  src/events/commandUnknown.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/schemas/Guilds.ts
  src/lib/types/Languages.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/types/settings/raw/RawGuildSettings.ts
  src/providers/postgres.ts
  src/serializers/customcommand.ts
  src/tsconfig.json
  tsconfig.eslint.json
Labels: Meta: Feature, Meta: Refactor, SEM: Major, Status: Needs Migration

#1008 refactor: rich display class
  src/commands/Anime/anime.ts
  src/commands/Anime/manga.ts
  src/commands/GameIntegration/clashofclans.ts
  src/commands/GameIntegration/ffxiv.ts
  src/commands/GameIntegration/fortnite.ts
  src/commands/GameIntegration/overwatch.ts
  src/commands/General/Chat Bot Info/help.ts
  src/commands/Google/gimage.ts
  src/commands/Google/gsearch.ts
  src/commands/Management/roles.ts
  src/commands/Management/triggers.ts
  src/commands/Moderation/Management/history.ts
  src/commands/Moderation/Management/moderations.ts
  src/commands/Music/queue.ts
  src/commands/Pokemon/flavors.ts
  src/commands/Pokemon/learn.ts
  src/commands/Pokemon/move.ts
  src/commands/Pokemon/pokedex.ts
  src/commands/Pokemon/type.ts
  src/commands/Social/Profile Management/banner.ts
  src/commands/Social/remindme.ts
  src/commands/Tags/tag.ts
  src/commands/Tools/Dictionary/urban.ts
  src/commands/Tools/Websearch/eshop.ts
  src/commands/Tools/Websearch/igdb.ts
  src/commands/Tools/Websearch/itunes.ts
  src/commands/Tools/Websearch/movies.ts
  src/commands/Tools/Websearch/shows.ts
  src/commands/Tools/emotes.ts
  src/commands/Tools/topinvites.ts
  src/commands/Twitch/twitchsubscription.ts
  src/lib/structures/RichDisplayCommand.ts
Labels: Meta: BugFix, Meta: Refactor

#1010 fix(Music): escape markdown **and** mentions
  src/commands/Music/queue.ts
  src/events/music/musicSongPlay.ts
  src/lib/structures/music/Song.ts
  src/lib/util/util.ts
Labels: Meta: BugFix, Meta: Refactor, Priority: Critical, SEM: Patch, Type: Consistency, Type: Enhancement
