Repository skyra-project/skyra, pull requests merged in 2020-11, with the labels that each got.

#1376 fix: resolved a bunch of issues in moderation monitors
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/settings/structures/AdderManager.ts
  src/lib/misc/comparators.ts
  src/lib/structures/ModerationMonitor.ts
  src/lib/structures/SelfModerationCommand.ts
  src/monitors/Moderation/attachmentFilter.ts
  src/monitors/Moderation/capitalsFilter.ts
  src/monitors/Moderation/linkFilter.ts
  src/monitors/Moderation/messageFilter.ts
  src/monitors/Moderation/newLineFilter.ts
  src/monitors/Moderation/nomentionspam.ts
Labels: Meta: BugFix

#1375 fix(social): resolved bug with monitor when the multiplier gives a decimal number
  src/monitors/socialMonitor.ts
Labels: Meta: BugFix

#1377 refactor: vault aliases and better mrr help
  src/commands/Social/vault.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
Labels: Meta: Examples, Meta: Refactor

#1378 fix(events): resolved a bug affecting all events
  src/events/guilds/members/guildMemberUpdateNicknameNotify.ts
  src/events/guilds/members/guildMemberUpdateRolesNotify.ts
  src/events/guilds/members/notMutedMemberAddGreeting.ts
  src/events/guilds/members/notMutedMemberAddInitialRole.ts
  src/events/guilds/members/notMutedMemberAddJoinDirectMessage.ts
  src/events/guilds/members/notMutedMemberAddNotify.ts
  src/events/guilds/members/rawMemberRemoveFarewell.ts
  src/events/guilds/members/rawMemberRemoveNotify.ts
  src/events/messages/rawMessageDeleteBulkStarboard.ts
  src/events/messages/rawMessageDeleteStarboard.ts
  src/events/reactions/rawReactionAddBlockList.ts
  src/events/reactions/rawReactionAddNotify.ts
  src/events/reactions/rawReactionAddRole.ts
  src/events/reactions/rawReactionAddStarboard.ts
  src/events/reactions/rawReactionRemoveRole.ts
Labels: Meta: BugFix

#1379 fix(skip): add decorator to check for voice channel
  src/commands/Music/skip.ts
Labels: Meta: BugFix

#1380 fix(music): do not reset replay after the first replay
  src/lib/audio/Queue.ts
Labels: Meta: BugFix

#1381 fix(add): ensure users are in voice before running
  src/commands/Music/add.ts
Labels: Meta: BugFix

#1374 chore(dependencies): add missing deps to improve ws
  package.json
  yarn.lock
Labels: Meta: Dependencies, SEM: N/A, Status: Ready To Merge, Status: Review Ready, Type: Dependencies

#1384 perf(db-set): cache instances for performance
  src/lib/database/entities/UserGameIntegrationEntity.ts
  src/lib/database/structures/DbSet.ts
  src/monitors/socialMonitor.ts
Labels: Meta: Cleanup, Type: Performance

#1387 fix(catfacts): host facts locally
  assets/data/catfacts.json
  src/commands/Animal/catfact.ts
Labels: Meta: BugFix

#1388 perf(db-set): select the specific columns we want
  src/lib/database/structures/DbSet.ts
Labels: Meta: Cleanup, Type: Performance

#1390 fix(unban,emoji): throw strings instead of promises
  src/commands/Moderation/unban.ts
  src/commands/Tools/emoji.ts
Labels: Meta: BugFix

#1386 perf: /dev/null useless properties
  src/extendables/UserExtendables.ts
  src/lib/SkyraClient.ts
  src/lib/extensions/SkyraGuildMember.ts
  src/lib/extensions/SkyraUser.ts
  src/lib/types/Augments.d.ts
Labels: Type: Caching, Type: Performance

#1389 fix(exportqueue): use channel.sendFile instead of message.sendLocale
  src/commands/Music/exportqueue.ts
Labels: Meta: BugFix, Priority: High

#1385 feat: added guild fetch queue
  src/events/guilds/rawGuildCreateMemberFetch.ts
  src/events/guilds/rawGuildDeleteMemberFetch.ts
  src/lib/SkyraClient.ts
  src/lib/discord/GuildMemberFetchQueue.ts
  src/lib/types/Augments.d.ts
Labels: Meta: Feature, Priority: High

#1391 fix: lower queue throughput from 100/sh/sec to 90/sh/min
  src/lib/discord/GuildMemberFetchQueue.ts
Labels: Meta: BugFix, Priority: Critical

#1392 fix(inhibitors): added disabledCommands check
  src/inhibitors/disableCommand.ts
  src/lib/database/tableKeys/settings/All.ts
Labels: Meta: BugFix, Priority: Critical

#1393 fix(events): switch from name to event
  src/events/guilds/members/rawGuildMemberRemove.ts
  src/events/guilds/members/rawGuildMemberUpdate.ts
  src/events/guilds/rawGuildCreate.ts
  src/events/guilds/rawGuildCreateMemberFetch.ts
  src/events/guilds/rawGuildDelete.ts
  src/events/guilds/rawGuildDeleteMemberFetch.ts
  src/events/messages/rawMessageDelete.ts
  src/events/messages/rawMessageDeleteBulk.ts
  src/events/rawChannelDelete.ts
  src/events/rawVoiceServerUpdate.ts
  src/events/rawVoiceStateUpdate.ts
  src/events/reactions/rawMessageReactionAdd.ts
  src/events/reactions/rawMessageReactionRemove.ts
  src/events/reactions/rawMessageReactionRemoveAll.ts
  src/events/reactions/rawMessageReactionRemoveEmoji.ts
Labels: Priority: Critical

#1395 chore(deps): update discord.js to v12.5.0
  package.json
  yarn.lock
Labels: Meta: Dependencies, Type: Dependencies

#1397 fix: use textchannelname instead of channelname
  src/commands/Fun/markov.ts
  src/commands/Management/Configuration/manageCommandAutodelete.ts
  src/commands/Management/Configuration/manageCommandChannel.ts
  src/commands/Management/Configuration/setIgnoreChannels.ts
  src/commands/Moderation/Utilities/flow.ts
  src/commands/Tools/content.ts
  src/commands/Tools/quote.ts
Labels: Meta: BugFix

#1396 refactor: move extendables to extensions
  src/arguments/membername.ts
  src/arguments/username.ts
  src/extendables/TextChannelExtendables.ts
  src/extendables/UserManagerExtendables.ts
  src/extendables/VoiceChannelExtendables.ts
  src/lib/SkyraClient.ts
  src/lib/extensions/SkyraGuild.ts
  src/lib/extensions/SkyraGuildMember.ts
  src/lib/extensions/SkyraMessage.ts
  src/lib/extensions/SkyraTextChannel.ts
  src/lib/extensions/SkyraUser.ts
  src/lib/extensions/SkyraVoiceChannel.ts
  src/lib/extensions/index.ts
  src/lib/types/Augments.d.ts
Labels: Meta: Cleanup

#1400 fix: bump decorators
  package.json
  yarn.lock
Labels: Meta: BugFix, Priority: Critical

#1402 fix(mrr): fixed removal subcommand
  src/commands/Management/Configuration/manageReactionRoles.ts
Labels: Meta: BugFix

#1401 fix(wikipedia): fixed url parsing
  src/commands/Tools/Websearch/wikipedia.ts
Labels: Meta: BugFix

#1398 refactor(selfmod): switch attachment mode to centralised system
  scripts/SetMigrations.sql
  src/commands/Management/Attachment Filter/manageAttachments.ts
  src/commands/Management/Message Filters/attachmentMode.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/migrations/1606138444111-V29_AttachmentMode.ts
  src/lib/database/settings/ConfigurableKey.ts
  src/lib/database/settings/structures/AdderManager.ts
  src/lib/database/tableKeys/settings/Selfmod/Attachments.ts
  src/lib/types/Languages.d.ts
  src/lib/types/namespaces/languages/Monitors.ts
  src/lib/types/namespaces/languages/Settings.ts
  src/lib/types/namespaces/languages/commands/Management.ts
  src/monitors/Moderation/attachmentFilter.ts
Labels: Meta: Cleanup, Meta: Feature, Meta: Refactor, SEM: Major, Type: Consistency

#1403 fix: resolved serializer issue with custom commands
  src/lib/database/entities/GuildEntity.ts
Labels: Meta: BugFix, Priority: Critical

#1407 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#1408 chore: remove all extendables
  src/commands/GameIntegration/ffxiv.ts
  src/commands/Management/Helpers/guildInfo.ts
  src/commands/Tools/whois.ts
  src/events/messages/messageUpdateNotify.ts
  src/extendables/LanguageExtendables.ts
  src/lib/discord/SkyraEmbed.ts
  src/lib/discord/index.ts
  src/lib/types/Augments.d.ts
  src/monitors/Moderation/attachmentFilter.ts
  src/monitors/Moderation/capitalsFilter.ts
  src/monitors/Moderation/messageFilter.ts
  src/monitors/Moderation/newLineFilter.ts
  src/monitors/Moderation/wordFilter.ts
Labels: Meta: Cleanup

#1414 feat: make dj, moderator, and administrator, multi-roles
  scripts/SetMigrations.sql
  src/events/reactions/rawReactionAddBlockList.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/migrations/1606411800922-V30_AttachmentModeChecks.ts
  src/lib/database/migrations/1606650850324-V31_MultiRole.ts
  src/lib/extensions/SkyraGuildMember.ts
  src/lib/misc/comparators.ts
  src/lib/setup/PermissionsLevels.ts
  src/lib/util/API.ts
Labels: Meta: Feature, SEM: Major, Status: Ready To Merge, Type: Enhancement
