Repository skyra-project/skyra, pull requests merged in 2020-04, with the labels that each got.

#909 refactor: multi-ranges
  __tests__/languages/i18n.test.ts
  __tests__/lib/util/util.test.ts
  jest.config.js
  src/commands/Moderation/Utilities/reason.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/util/constants.ts
  src/lib/util/util.ts
Labels: Meta: Refactor

#911 feat: add duration support for new moderation commands
  src/commands/Moderation/addrole.ts
  src/commands/Moderation/removerole.ts
  src/commands/Moderation/setnickname.ts
  src/events/moderation/moderationEntryAdd.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/structures/ModerationManagerEntry.ts
  src/lib/structures/ModerationTask.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Security/ModerationActions.ts
  src/lib/util/constants.ts
  src/tasks/moderationEndAddRole.ts
  src/tasks/moderationEndRemoveRole.ts
  src/tasks/moderationEndSetNickname.ts
Labels: Meta: Feature, Meta: Refactor

#912 feat: add role change logs
  src/events/rawGuildMemberUpdate.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/schemas/Guilds.ts
  src/lib/types/Languages.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/types/settings/raw/RawGuildSettings.ts
Labels: Meta: Feature

#913 feat: Added invite scanning with validity and whitelist (code & guildID)
  package.json
  src/commands/Moderation/prune.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/SkyraClient.ts
  src/lib/schemas/Banners.ts
  src/lib/schemas/Clients.ts
  src/lib/schemas/Guilds.ts
  src/lib/structures/InviteStore.ts
  src/lib/types/Augments.d.ts
  src/lib/types/DiscordAPI.d.ts
  src/lib/types/Languages.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/types/settings/raw/RawGuildSettings.ts
  src/monitors/Moderation/inviteFilter.ts
  src/providers/postgres.ts
  src/serializers/invite.ts
  src/serializers/snowflake.ts
  yarn.lock
Labels: Meta: Feature, Priority: High, Type: Enhancement

#915 feat: horoscope command
  src/commands/GameIntegration/clashofclans.ts
  src/commands/Tools/Websearch/horoscope.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
Labels: Meta: Feature

#916 feat: option to send announcements as embeds
  src/commands/Announcement/announcement.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/schemas/Guilds.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Languages.d.ts
  src/lib/types/settings/GuildSettings.ts
  src/lib/types/settings/raw/RawGuildSettings.ts
  src/lib/util/util.ts
Labels: Meta: Feature

#917 feat: overwatch stats command
  src/arguments/overwatchplayer.ts
  src/arguments/restOverwatchPlayer.ts
  src/commands/GameIntegration/ffxiv.ts
  src/commands/GameIntegration/overwatch.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/types/definitions/Overwatch.d.ts
Labels: Meta: Feature, Type: Ribbon Migration

#919 fix(music): resolved all errors and issues
  src/events/lavalink/lavalinkStart.ts
  src/events/lavalink/rawLavalinkDestroy.ts
  src/events/lavalink/rawLavalinkEvent.ts
  src/events/lavalink/rawLavalinkPlayerUpdate.ts
  src/events/music/musicSongFinish.ts
  src/lib/types/Enums.d.ts
  src/lib/util/LavalinkUtils.ts
Labels: Meta: Error Handling, Priority: High, Type: Caching, Type: Maintenance

#926 cleanup: Improved all Canvas commands
  assets/images/memes/slap.png
  src/commands/Fun/howtoflirt.ts
  src/commands/Fun/peepolove.ts
  src/commands/Fun/shindeiru.ts
  src/commands/Misc/chase.ts
  src/commands/Misc/cuddle.ts
  src/commands/Misc/deletthis.ts
  src/commands/Misc/f.ts
  src/commands/Misc/goodnight.ts
  src/commands/Misc/goofytime.ts
  src/commands/Misc/hug.ts
  src/commands/Misc/ineedhealing.ts
  src/commands/Misc/slap.ts
  src/lib/util/util.ts
Labels: Meta: Cleanup, Meta: Feature, Meta: Refactor, Type: Maintenance

#929 fix: Tweak tags.list to send with an URD
  src/commands/Tags/tag.ts
Labels: Meta: BugFix, Meta: Feature, Type: Enhancement

#930 fix(music): fix the ws events
  src/events/music/musicAdd.ts
  src/events/music/musicConnect.ts
  src/events/music/musicRemove.ts
  src/events/music/musicShuffleQueue.ts
  src/events/music/musicSongFinish.ts
  src/events/music/musicSongPlay.ts
  src/events/music/musicSongReplay.ts
  src/events/music/musicSongSkip.ts
  src/events/music/musicVoiceChannelJoin.ts
  src/lib/structures/music/MusicHandler.ts
  src/lib/structures/music/Song.ts
  src/lib/util/Models/ApiTransform.ts
  src/lib/websocket/WebsocketUser.ts
  src/lib/websocket/types.d.ts
Labels: Meta: Refactor, Meta: Typings

#932 fix: resolved bugs in Security's RegexCreator
  __tests__/lib/util/RegexCreator.test.ts
  src/lib/util/Security/RegexCreator.ts
Labels: Meta: BugFix, Priority: Critical

#935 fix(urd): dont add page numbers when lacking permissions
  src/commands/Anime/anime.ts
  src/commands/Anime/manga.ts
  src/commands/Tools/Dictionary/urban.ts
  src/lib/structures/UserRichDisplay.ts
Labels: Meta: BugFix

#934 refactor(pokemon): rewrite big chunks of how Pokemon works
  .gqlconfig
  README.md
  package.json
  src/commands/Pokemon/ability.ts
  src/commands/Pokemon/flavors.ts
  src/commands/Pokemon/item.ts
  src/commands/Pokemon/learn.ts
  src/commands/Pokemon/move.ts
  src/commands/Pokemon/pokedex.ts
  src/commands/Pokemon/type.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Languages.d.ts
  src/lib/util/Pokemon.ts
  yarn.lock
Labels: Meta: Cleanup, Meta: Refactor, Priority: High

#936 fix(content, eval): fixes for length
  src/commands/System/Admin/eval.ts
  src/commands/Tools/content.ts
  src/languages/en-US.ts
  src/languages/es-ES.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Languages.d.ts
  src/lib/util/ExceededLengthParser.ts
Labels: Meta: BugFix, Meta: Refactor, Priority: Medium
