Repository skyra-project/skyra, pull requests merged in 2021-04, with the labels that each got.

#1721 feat(birthday): add bd alias to set-birthday
  src/commands/Birthday/set-birthday.ts
Labels: Meta: Feature, Type: Enhancement

#1720 feat(i18n): handle new v8 permissions
  src/config.ts
  src/languages/en-US/permissions.json
Labels: Meta: Feature, Type: Enhancement

#1723 feat: added auto-delete ignores
  scripts/SetMigrations.sql
  services/Skyra.Database/Migrations/20210319161938_InitCreate.Designer.cs
  services/Skyra.Database/Migrations/20210319161938_InitCreate.cs
  services/Skyra.Database/Models/Entities/Guild.cs
  services/Skyra.Database/SkyraDbContext.cs
  src/events/commands/commandRunAttach.ts
  src/events/messages/messageDeleteBulkRemoveResponses.ts
  src/events/messages/messageDeleteRemoveResponses.ts
  src/languages/en-US/settings.json
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/keys/settings/AutoDelete/All.ts
  src/lib/database/keys/settings/Messages.ts
  src/lib/database/migrations/1617272351741-V44_AddAutoDeleteIgnoreOptions.ts
  src/lib/extensions/SkyraMessage.ts
  src/lib/i18n/languageKeys/keys/Settings.ts
Labels: Meta: Feature, Priority: High, Type: Enhancement

#1722 feat(server-info): add dash alias and multi-page for roles
  src/commands/Management/Helpers/guild-info.ts
  src/commands/Management/Helpers/guildInfo.ts
  src/commands/Management/Helpers/role-info.ts
  src/lib/structures/UserPaginatedMessage.ts
Labels: Meta: Feature, Type: Enhancement

#1724 feat(tag): added aliases
  scripts/SetMigrations.sql
  src/commands/Tags/tag.ts
  src/events/commands/unknownCommand.ts
  src/languages/ckb-IR/commands/tags.json
  src/languages/de-DE/commands/tags.json
  src/languages/en-GB/commands/tags.json
  src/languages/en-US/commands/tags.json
  src/languages/en-US/serializers.json
  src/languages/es-ES/commands/tags.json
  src/languages/es-ES/serializers.json
  src/languages/fr-FR/commands/tags.json
  src/languages/hi-IN/commands/tags.json
  src/languages/hi-Latn-IN/commands/tags.json
  src/languages/nb-NO/commands/tags.json
  src/languages/nl-NL/commands/tags.json
  src/languages/ro-RO/commands/tags.json
  src/languages/ru-RU/commands/tags.json
  src/languages/sl-SI/commands/tags.json
  src/languages/tr-TR/commands/tags.json
  src/lib/customCommands/util.ts
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/migrations/1617297815771-V45_AddAliasesArrayToTags.ts
  src/lib/database/utils/Transformers.ts
  src/lib/i18n/languageKeys/keys/CustomCommandSerializer/All.ts
  src/lib/i18n/languageKeys/keys/commands/Tags.ts
  src/serializers/customcommand.ts
Labels: Meta: Feature, Type: Enhancement

#1725 fix(suggest): reset emojis if they are unknown
  src/commands/Suggestions/resolve-suggestion.ts
  src/commands/Suggestions/suggest.ts
  src/languages/en-US/settings.json
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/keys/settings/Suggestions/OnAction.ts
  src/lib/database/keys/settings/Suggestions/VotingEmojis.ts
  src/lib/i18n/languageKeys/keys/Settings.ts
Labels: Meta: BugFix, Priority: High

#1727 feat(starboard): add `starboard.maximum-age`
  scripts/SetMigrations.sql
  services/Skyra.Database/Migrations/20210319161938_InitCreate.Designer.cs
  services/Skyra.Database/Migrations/20210319161938_InitCreate.cs
  services/Skyra.Database/Models/Entities/Guild.cs
  src/events/reactions/rawReactionAddStarboard.ts
  src/languages/en-US/settings.json
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/keys/settings/Starboard.ts
  src/lib/database/migrations/1617314282232-V46_AddStarboardMaximumAge.ts
  src/lib/i18n/languageKeys/keys/Settings.ts
  src/lib/util/util.ts
  src/serializers/timespan.ts
Labels: Meta: Feature, Type: Enhancement

#1728 refactor: switch algorithm from Levenshtein to Jaro-Winkler
  src/lib/util/External/jaro-winkler.ts
  src/lib/util/External/levenshtein.ts
  src/lib/util/Parsers/FuzzySearch.ts
Labels: Meta: Refactor, Priority: High, Type: Enhancement

#1729 fix: small misc fixes
  src/commands/Tools/Websearch/youtube.ts
  src/events/ready.ts
  yarn.lock
Labels: Meta: Refactor

#1731 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#1736 feat(fun): added pop
  src/commands/Fun/pop.ts
  src/languages/en-US/commands/fun.json
  src/lib/i18n/languageKeys/keys/commands/Fun.ts
  src/lib/util/util.ts
Labels: Meta: Feature, Type: Enhancement

#1730 feat(logs): add new logs channels
  scripts/SetMigrations.sql
  services/Skyra.Database/Migrations/20210319161938_InitCreate.Designer.cs
  services/Skyra.Database/Migrations/20210319161938_InitCreate.cs
  services/Skyra.Database/Models/Entities/Guild.cs
  src/commands/Management/Configuration/setImageLogs.ts
  src/commands/Management/Configuration/setMemberLogs.ts
  src/commands/Management/Configuration/setMessageLogs.ts
  src/commands/Management/Configuration/setModLogs.ts
  src/commands/Moderation/prune.ts
  src/config.ts
  src/events/guildMessageLog.ts
  src/events/guilds/channels/channelCreateNotify.ts
  src/events/guilds/channels/channelDeleteNotify.ts
  src/events/guilds/channels/channelUpdateNotify.ts
  src/events/guilds/emojis/emojiCreateNotify.ts
  src/events/guilds/emojis/emojiDeleteNotify.ts
  src/events/guilds/emojis/emojiUpdateNotify.ts
  src/events/guilds/guildUpdateNotify.ts
  src/events/guilds/messages/guildUserMessageImageNotify.ts
  src/events/guilds/roles/roleCreateNotify.ts
  src/events/guilds/roles/roleDeleteNotify.ts
  src/events/guilds/roles/roleUpdateNotify.ts
  src/events/moderation/moderationEntryAdd.ts
  src/events/moderation/moderationEntryEdit.ts
  src/events/reactions/rawReactionAddNotify.ts
  src/languages/en-US/events/guilds-logs.json
  src/languages/en-US/guilds.json
  src/languages/en-US/settings.json
  src/languages/es-ES/settings.json
  src/languages/fr-FR/settings.json
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/keys/settings/Channels.ts
  src/lib/database/keys/settings/Channels/Logs.ts
  src/lib/database/migrations/1617645345960-V47_AddNewLogsChannels.ts
  src/lib/i18n/languageKeys/keys/All.ts
  src/lib/i18n/languageKeys/keys/Guilds.ts
  src/lib/i18n/languageKeys/keys/Settings.ts
  src/lib/i18n/languageKeys/keys/events/guilds/All.ts
  src/lib/i18n/languageKeys/keys/events/guilds/Logs.ts
  src/lib/i18n/languageKeys/keys/settings/Channels.ts
  src/lib/i18n/languageKeys/keys/settings/channels/Ignore.ts
  src/lib/i18n/languageKeys/keys/settings/channels/Logs.ts
  src/lib/moderation/managers/ModerationManager.ts
  src/lib/types/Constants.d.ts
  src/lib/types/Utils.ts
  src/lib/util/bits.ts
  src/lib/util/comparators.ts
  src/lib/util/constants.ts
Labels: Meta: Feature, Type: Enhancement

#1737 feat(guild-info): add icon, splash, and banner pages
  src/commands/Management/Helpers/guild-info.ts
  src/languages/en-US/commands/management.json
  src/lib/i18n/languageKeys/keys/commands/Management.ts
Labels: Meta: Feature, Type: Enhancement

#1738 refactor(top): change design to an embed
  src/commands/Levelling/leaderboard.ts
  src/languages/en-US/commands/social.json
  src/lib/i18n/languageKeys/keys/commands/Levelling.ts
Labels: Meta: BugFix, Meta: Feature, Priority: High

#1740 fix: twitch fixes
  src/commands/Twitch/twitchsubscription.ts
  src/events/twitch/twitchStreamOnline.ts
  src/routes/twitch/twitchStreamChange.ts
Labels: Meta: BugFix

#1741 feat(resu): add `latest` helper
  src/commands/Suggestions/resolve-suggestion.ts
  src/languages/en-US/commands/suggestion.json
Labels: Meta: Feature, Type: Enhancement

#1742 refactor(prune): document --silent, reduce alert timer
  src/commands/Moderation/prune.ts
  src/languages/en-US/commands/moderation.json
Labels: Meta: Refactor, Type: Enhancement

#1743 feat: added flip command
  src/commands/Misc/flip.ts
  src/languages/en-US/commands/misc.json
  src/lib/i18n/languageKeys/keys/commands/Misc.ts
Labels: Meta: Feature, Type: Enhancement

#1746 fix(channel-logs): handle DMChannel
  src/events/guilds/channels/channelCreateNotify.ts
  src/events/guilds/channels/channelDeleteNotify.ts
  src/events/guilds/channels/channelUpdateNotify.ts
Labels: Meta: BugFix, Priority: High

#1747 feat(audio): add more ws commands
  src/audio/lib/websocket/Shared.ts
  src/audio/lib/websocket/WebsocketUser.ts
Labels: Meta: Feature, Type: Enhancement

#1749 refactor(levelling): move autorole and social to the right category
  src/commands/Levelling/Management/autorole.ts
  src/commands/Levelling/Management/social.ts
Labels: Meta: Refactor

#1748 refactor: move word scan to worker
  src/.env
  src/.env.development
  src/events/moderation/messages/guildUserMessageWordsHandler.ts
  src/lib/SkyraClient.ts
  src/lib/env/types.ts
  src/lib/moderation/workers/WorkerHandler.ts
  src/lib/moderation/workers/WorkerManager.ts
  src/lib/moderation/workers/WorkerResponseHandler.ts
  src/lib/moderation/workers/errors/TimeoutError.ts
  src/lib/moderation/workers/errors/index.ts
  src/lib/moderation/workers/index.ts
  src/lib/moderation/workers/types.ts
  src/lib/moderation/workers/worker.ts
  src/lib/types/Augments.d.ts
  src/lib/util/util.ts
Labels: Meta: Refactor, Priority: Critical

#1750 feat(autorole): add prefix L support
  src/commands/Levelling/Management/autorole.ts
  src/languages/en-US/commands/social.json
Labels: Meta: Feature, Type: Enhancement

#1753 fix(moderation): handle payloads correctly
  src/events/moderation/messages/guildUserMessageAttachmentsHandler.ts
  src/events/moderation/messages/guildUserMessageCapitalsHandler.ts
  src/events/moderation/messages/guildUserMessageInvitesHandler.ts
  src/events/moderation/messages/guildUserMessageLinksHandler.ts
  src/events/moderation/messages/guildUserMessageMessagesHandler.ts
  src/events/moderation/messages/guildUserMessageNewLinesHandler.ts
  src/events/moderation/messages/guildUserMessageWordsHandler.ts
Labels: Meta: BugFix, Priority: Critical

#1758 refactor: add mcc alias, renamed some commands
  src/commands/Management/Configuration/manage-command-auto-delete.ts
  src/commands/Management/Configuration/manage-command-channel.ts
  src/commands/Management/Configuration/manage-reaction-roles.ts
Labels: Meta: Refactor

#1760 test: added unit tests for moderation workers
  .gitignore
  scripts/workerTsLoader.js
  src/.env.test
  src/events/moderation/messages/guildUserMessageWordsHandler.ts
  src/lib/env/types.ts
  src/lib/env/utils.ts
  src/lib/moderation/workers/WorkerHandler.ts
  src/lib/moderation/workers/WorkerManager.ts
  src/lib/moderation/workers/WorkerResponseHandler.ts
  src/lib/moderation/workers/index.ts
  src/lib/moderation/workers/types.ts
  src/lib/moderation/workers/worker.ts
  tests/lib/moderation/workers/WorkerHandler.test.ts
  tests/lib/moderation/workers/WorkerManager.test.ts
  tests/lib/moderation/workers/WorkerResponseHandler.test.ts
Labels: Priority: Critical

#1767 fix(upcomingbirthdays): show proper error message
  typescript/src/commands/Birthday/upcoming-birthdays.ts
  typescript/src/languages/en-US/commands/misc.json
  typescript/src/lib/i18n/languageKeys/keys/commands/Misc.ts
Labels: Meta: BugFix, Priority: High

#1751 feat: add initial role specifically for humans and bots
  services/Skyra.Database/Migrations/20210411174105_V02_AddRoleInitialHumanBot.Designer.cs
  services/Skyra.Database/Migrations/20210411174105_V02_AddRoleInitialHumanBot.cs
  services/Skyra.Database/Models/Entities/Guild.cs
  typescript/src/commands/Management/roles.ts
  typescript/src/events/guilds/members/notMutedMemberAddInitialRole.ts
  typescript/src/events/guilds/roles/roleDelete.ts
  typescript/src/languages/en-US/settings.json
  typescript/src/lib/database/entities/GuildEntity.ts
  typescript/src/lib/database/keys/settings/Roles.ts
  typescript/src/lib/database/migrations/1617890802896-V48_AddSeparateInitialRoles.ts
  typescript/src/lib/i18n/languageKeys/keys/Settings.ts
Labels: Meta: Feature, Status: Ready To Merge

#1778 fix(filter): use workers and handle confusables
  scripts/SetMigrations.sql
  typescript/src/commands/Management/Message Filters/filter.ts
  typescript/src/languages/en-US/serializers.json
  typescript/src/lib/database/entities/GuildEntity.ts
  typescript/src/lib/database/migrations/1618562933625-V49_StripConfusablesFromWordFilter.ts
  typescript/src/lib/i18n/languageKeys/keys/Serializers.ts
  typescript/src/serializers/word.ts
Labels: Meta: BugFix, Priority: Critical

#1786 fix(bits): resolved infinite loop bug
  typescript/src/lib/util/bits.ts
  typescript/unit-tests/tests/lib/bits.test.ts
Labels: Meta: BugFix, Priority: Critical

#1787 fix(audio): reconnect to the voice channel as opposed to playing
  typescript/src/audio/lib/queue/Queue.ts
  typescript/src/audio/lib/queue/QueueStore.ts
  typescript/src/events/ready.ts
Labels: Meta: BugFix, Priority: High

#1788 refactor(entities): remove db-side check constraints
  scripts/SetMigrations.sql
  scripts/migrations.mjs
  typescript/src/languages/en-US/moderation.json
  typescript/src/lib/database/database.config.ts
  typescript/src/lib/database/entities/BannerEntity.ts
  typescript/src/lib/database/entities/GiveawayEntity.ts
  typescript/src/lib/database/entities/MemberEntity.ts
  typescript/src/lib/database/entities/ModerationEntity.ts
  typescript/src/lib/database/entities/StarboardEntity.ts
  typescript/src/lib/database/entities/UserEntity.ts
  typescript/src/lib/database/entities/UserProfileEntity.ts
  typescript/src/lib/database/migrations/1618951687674-V50_RemoveDatabaseChecks.ts
  typescript/src/lib/i18n/languageKeys/keys/commands/Moderation.ts
Labels: Meta: Cleanup, Meta: Refactor, Priority: Critical

#1792 fix(content): check for empty strings
  typescript/src/commands/Tools/content.ts
  typescript/src/languages/en-US/commands/tools.json
  typescript/src/lib/i18n/languageKeys/keys/commands/Tools.ts
Labels: Meta: BugFix

#1793 feat(command-error): ignore DM reply-after-block errors
  typescript/src/events/commands/commandError.ts
Labels: Meta: Feature

#1794 fix(ow): default missing data
  typescript/src/commands/GameIntegration/overwatch.ts
  typescript/src/lib/types/definitions/Overwatch.ts
Labels: Meta: BugFix

#1795 fix(star): resolved id of null error
  typescript/src/lib/database/entities/StarboardEntity.ts
Labels: Meta: BugFix

#1796 fix(top): check for the existence of at least one entry
  typescript/src/commands/Levelling/leaderboard.ts
  typescript/src/languages/en-US/commands/social.json
  typescript/src/lib/i18n/languageKeys/keys/commands/Levelling.ts
Labels: Meta: BugFix

#1798 refactor(gstart): make the argument parser stricter
  typescript/src/commands/Giveaway/gcreate.ts
  typescript/src/commands/Giveaway/gstart.ts
  typescript/src/languages/en-US/arguments.json
  typescript/src/lib/i18n/languageKeys/keys/Arguments.ts
Labels: Meta: BugFix, Meta: Refactor

#1799 refactor(moderation): make timespan argument stricter
  typescript/src/lib/moderation/structures/ModerationCommand.ts
  typescript/src/lib/moderation/structures/SetUpModerationCommand.ts
Labels: Meta: Refactor, Type: Enhancement

#1800 fix(kitty): check for valid image URLs
  typescript/src/commands/Animal/kitty.ts
Labels: Meta: BugFix

#1801 feat: added AFK command and handler
  typescript/src/.env
  typescript/src/.env.development
  typescript/src/commands/Misc/afk.ts
  typescript/src/config.ts
  typescript/src/events/guilds/messages/guildUserMessageAfkHandler.ts
  typescript/src/events/ready.ts
  typescript/src/languages/en-US/commands/misc.json
  typescript/src/languages/en-US/events/messages.json
  typescript/src/lib/SkyraClient.ts
  typescript/src/lib/env/types.ts
  typescript/src/lib/i18n/languageKeys/keys/commands/Misc.ts
  typescript/src/lib/i18n/languageKeys/keys/events/messages/All.ts
  typescript/src/lib/types/Augments.d.ts
Labels: Meta: Feature, Type: Enhancement

#1803 feat(weather): add kelvin
  typescript/src/commands/Google/weather.ts
  typescript/src/languages/en-US/commands/google.json
  typescript/src/lib/i18n/languageKeys/keys/commands/Google.ts
  typescript/src/lib/weather/utils.ts
Labels: Meta: Feature, Type: Enhancement

#1804 refactor: update TLDs
  typescript/src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#1790 feat(social): enhance the social module
  services/Skyra.Database/Migrations/20210422211300_V03_NewSocialFeaturesAndValueRename.Designer.cs
  services/Skyra.Database/Migrations/20210422211300_V03_NewSocialFeaturesAndValueRename.cs
  services/Skyra.Database/Models/Entities/Guild.cs
  services/Skyra.Database/SkyraDbContext.cs
  typescript/src/events/guilds/messages/guildUserMessagePointsHandler.ts
  typescript/src/events/guilds/messages/guildUserMessageSocialPointsAddMember.ts
  typescript/src/events/guilds/messages/guildUserMessageSocialPointsAddMemberRewardLevel.ts
  typescript/src/events/guilds/messages/guildUserMessageSocialPointsAddMemberRewardRole.ts
  typescript/src/events/guilds/messages/guildUserMessageSocialPointsAddUser.ts
  typescript/src/languages/en-US/events/guilds-messages.json
  typescript/src/languages/en-US/settings.json
  typescript/src/lib/database/entities/GuildEntity.ts
  typescript/src/lib/database/keys/settings/Social.ts
  typescript/src/lib/database/migrations/1619089555427-V51_NewSocialFeaturesAndValueRename.ts
  typescript/src/lib/i18n/languageKeys/keys/Settings.ts
  typescript/src/lib/i18n/languageKeys/keys/events/guilds/All.ts
  typescript/src/lib/i18n/languageKeys/keys/events/guilds/Messages.ts
  typescript/src/lib/types/Enums.d.ts
Labels: Meta: Feature, Type: Enhancement

#1789 feat: dockerize skyra
  .all-contributorsrc
  .github/dependabot.yml
  .github/workflows/continuous-delivery.yml
  .gitignore
  .gqlconfig
  .vscode/settings.json
  assets/docker-hub/GRPC.md
  assets/docker-hub/SKYRA.md
  assets/docker-hub/playwithdocker-grpc-stack.yml
  codecov.yml
  docker/docker-compose.yml
  package.json
  scripts/build/clean.mjs
  scripts/build/grpc.mjs
  scripts/workerTsLoader.js
  typescript/Dockerfile
  typescript/src/.env
  typescript/src/.env.development
  typescript/src/commands/General/Chat Bot Info/analytics.ts
  typescript/src/commands/System/Admin/exec.ts
  typescript/src/commands/System/Admin/update.ts
  typescript/src/config.ts
  typescript/src/lib/SkyraClient.ts
  typescript/src/lib/env/types.ts
  typescript/src/lib/types/AnalyticsSchema.ts
  typescript/src/lib/types/Constants.ts
  typescript/src/lib/types/Enums.ts
  typescript/src/lib/util/APIs/Hastebin.ts
  typescript/src/lib/util/APIs/Pokemon.ts
  typescript/src/lib/util/APIs/Saelem.ts
  typescript/src/lib/util/Parsers/ExceededLength.ts
  typescript/src/package.json
  yarn.lock
Labels: Meta: Feature, Meta: Refactor, Priority: Medium, SEM: Major, Status: Review Ready, Type: Enhancement
