Repository skyra-project/skyra, pull requests merged in 2021-02, with the labels that each got.

#1542 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#1546 docs: remove references to Klasa
  .github/CONTRIBUTING.md
  README.md
  package.json
  src/languages/en-US/commands/general.json
  src/languages/en-US/commands/system.json
  src/lib/util/decorators.ts
Labels: Meta: Refactor, Priority: Critical

#1551 refactor: improve permissions handling
  src/lib/extensions/SkyraGuildMember.ts
  src/lib/structures/preconditions/PermissionsPrecondition.ts
Labels: Meta: Refactor, Type: Enhancement

#1549 fix(bs,coc): automatically prefix #, check tags more strictly
  src/commands/GameIntegration/brawlstars.ts
  src/commands/GameIntegration/clashofclans.ts
Labels: Meta: BugFix, Meta: Feature, Type: Enhancement

#1550 fix(urban): check for amount of pages
  src/commands/Tools/Dictionary/urban.ts
  src/languages/en-US/commands/tools.json
  src/lib/i18n/languageKeys/keys/commands/Tools.ts
Labels: Meta: BugFix

#1555 fix(roles): do filter checks correctly
  src/arguments/channelName.ts
  src/arguments/commandName.ts
  src/arguments/roleName.ts
  src/commands/Management/roles.ts
Labels: Meta: BugFix, Priority: Critical

#1556 fix(update): unset NODE_ENV in exec
  src/commands/System/Admin/update.ts
Labels: Meta: BugFix, Priority: Critical

#1557 fix(moderation): check for member's ownership
  src/lib/extensions/SkyraGuildMember.ts
  src/lib/moderation/structures/ModerationCommand.ts
Labels: Meta: BugFix, Priority: High

#1558 chore: correct copy paste
  src/languages/en-US/commands/gameIntegration.json
Labels: SEM: N/A

#1559 fix(item): fixed item details parsing
  package.json
  src/commands/Pokemon/item.ts
  yarn.lock
Labels: Meta: BugFix, Meta: Refactor, Priority: High

#1562 fix: restore command and channel disable checks
  package.json
  src/events/mentionPrefixOnly.ts
  src/preconditions/Enabled.ts
  yarn.lock
Labels: Meta: BugFix, Priority: Critical

#1572 fix(twitch-online): fixed unnecessary message check
  src/events/twitch/twitchStreamOnline.ts
Labels: Meta: BugFix, Priority: Critical

#1571 fix(sprite): cover edge cases for CAP
  src/commands/Pokemon/sprite.ts
  src/languages/en-US/commands/pokemon.json
  src/lib/i18n/languageKeys/keys/commands/Pokemon.ts
  src/lib/util/APIs/Pokemon.ts
Labels: Meta: BugFix, Priority: Medium

#1570 feat: added custom commands
  package.json
  src/commands/Tags/tag.ts
  src/languages/en-US/serializers.json
  src/lib/customCommands/errors/InvalidTypeError.ts
  src/lib/customCommands/errors/MissingArgumentsError.ts
  src/lib/customCommands/errors/ParserNotRunError.ts
  src/lib/customCommands/errors/index.ts
  src/lib/customCommands/index.ts
  src/lib/customCommands/setup.ts
  src/lib/customCommands/util.ts
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/utils/Transformers.ts
  src/lib/i18n/languageKeys/keys/CustomCommandSerializer/All.ts
  src/serializers/customcommand.ts
  yarn.lock
Labels: Meta: Feature, Type: Enhancement

#1574 fix(custom-commands): resolved critical bugs, updated deps
  package.json
  src/lib/customCommands/errors/InvalidTypeError.ts
  src/lib/customCommands/util.ts
  yarn.lock
Labels: Meta: BugFix, Priority: Critical

#1578 fix(pnodes): resolved deny formatting
  src/commands/Management/permissionNodes.ts
  src/languages/en-US/commands/management.json
  src/lib/i18n/languageKeys/keys/commands/Management.ts
Labels: Meta: BugFix, Priority: Critical

#1582 feat: added Skyra.Database and Skyra.Grpc
  .github/CODEOWNERS
  assets/protos/member.proto
  services/Skyra.Database/Extensions/DbSetExtensions.cs
  services/Skyra.Database/Models/Banner.cs
  services/Skyra.Database/Models/Client.cs
  services/Skyra.Database/Models/Giveaway.cs
  services/Skyra.Database/Models/Guild.cs
  services/Skyra.Database/Models/Member.cs
  services/Skyra.Database/Models/Migration.cs
  services/Skyra.Database/Models/Moderation.cs
  services/Skyra.Database/Models/RpgBattle.cs
  services/Skyra.Database/Models/RpgClass.cs
  services/Skyra.Database/Models/RpgGuild.cs
  services/Skyra.Database/Models/RpgGuildRank.cs
  services/Skyra.Database/Models/RpgItem.cs
  services/Skyra.Database/Models/RpgUser.cs
  services/Skyra.Database/Models/RpgUserItem.cs
  services/Skyra.Database/Models/Schedule.cs
  services/Skyra.Database/Models/Starboard.cs
  services/Skyra.Database/Models/Suggestion.cs
  services/Skyra.Database/Models/TwitchStreamSubscription.cs
  services/Skyra.Database/Models/User.cs
  services/Skyra.Database/Models/UserCooldown.cs
  services/Skyra.Database/Models/UserGameIntegration.cs
  services/Skyra.Database/Models/UserProfile.cs
  services/Skyra.Database/Models/UserSpousesUser.cs
  services/Skyra.Database/Skyra.Database.csproj
  services/Skyra.Database/SkyraDbContext.cs
  services/Skyra.Grpc/Program.cs
  services/Skyra.Grpc/Properties/launchSettings.json
  services/Skyra.Grpc/Services/MemberService.cs
  services/Skyra.Grpc/Skyra.Grpc.csproj
  services/Skyra.Grpc/Startup.cs
  services/Skyra.Grpc/appsettings.Development.json
  services/Skyra.Grpc/appsettings.json
  services/Skyra.Tests/Skyra.Tests.csproj
  services/Skyra.Tests/UnitTest1.cs
  services/Skyra.sln
Labels: Meta: Feature

#1584 fix(selfmod-command): resolved a few issues
  src/arguments/timespan.ts
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/settings/structures/AdderManager.ts
  src/lib/moderation/structures/SelfModerationCommand.ts
  src/lib/util/Security/ModerationActions.ts
  src/lib/util/comparators.ts
  tests/lib/comparators.ts
Labels: Meta: BugFix, Priority: Critical

#1590 ci: merge continuous integration
  .github/workflows/continuous-integration-dotnet.yml
  .github/workflows/continuous-integration.yml
  codecov.yml
Labels: Meta: Github, Priority: High, Type: Enhancement, Type: Maintenance

#1588 fix(dsearch): check if the image is a valid URL
  src/commands/Tools/Websearch/dsearch.ts
Labels: Meta: BugFix

#1587 fix(serializers): check for error.argument existence
  src/lib/database/settings/structures/Serializer.ts
Labels: Meta: BugFix, Priority: High

#1586 fix(gstart,gcreate): check target channel's permissions
  src/commands/Giveaway/gcreate.ts
  src/commands/Giveaway/gstart.ts
Labels: Meta: BugFix, Priority: High

#1597 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#1600 feat(case): add option to delete cases
  src/commands/Moderation/Utilities/case.ts
  src/languages/en-US/commands/moderation.json
  src/lib/i18n/languageKeys/keys/commands/Moderation.ts
Labels: Meta: Feature, Priority: Medium

#1601 fix: update `caseExtended`
  src/languages/en-US/commands/moderation.json
Labels: Meta: Feature, Priority: Medium
