Repository skyra-project/skyra, pull requests merged in 2021-11, with the labels that each got.

#2111 feat: allow `PaginatedMessages` in DMs & use components & make `youtube` use `PaginatedMessage`
  jest.config.ts
  package.json
  src/commands/Admin/conf.ts
  src/commands/Animation/anime.ts
  src/commands/Animation/kitsu-anime.ts
  src/commands/Animation/kitsu-manga.ts
  src/commands/Animation/manga.ts
  src/commands/GameIntegration/clashofclans.ts
  src/commands/GameIntegration/ffxiv.ts
  src/commands/GameIntegration/fortnite.ts
  src/commands/GameIntegration/overwatch.ts
  src/commands/General/help.ts
  src/commands/Google/gimage.ts
  src/commands/Google/gsearch.ts
  src/commands/Management/Configuration/manage-reaction-roles.ts
  src/commands/Management/Profile Management/banner.ts
  src/commands/Management/roles.ts
  src/commands/Management/triggers.ts
  src/commands/Misc/reddituser.ts
  src/commands/Misc/remindme.ts
  src/commands/Moderation/Management/history.ts
  src/commands/Moderation/Management/moderations.ts
  src/commands/Pokemon/flavors.ts
  src/commands/Pokemon/learn.ts
  src/commands/Pokemon/move.ts
  src/commands/Pokemon/pokedex.ts
  src/commands/Pokemon/type.ts
  src/commands/Relationships/married.ts
  src/commands/Relationships/marry.ts
  src/commands/Starwars/swfilm.ts
  src/commands/Starwars/swperson.ts
  src/commands/Starwars/swplanet.ts
  src/commands/Tags/tag.ts
  src/commands/Tools/Dictionary/define.ts
  src/commands/Tools/Dictionary/urban.ts
  src/commands/Tools/Websearch/country.ts
  src/commands/Tools/Websearch/eshop.ts
  src/commands/Tools/Websearch/igdb.ts
  src/commands/Tools/Websearch/itunes.ts
  src/commands/Tools/Websearch/movies.ts
  src/commands/Tools/Websearch/shows.ts
  src/commands/Tools/Websearch/youtube.ts
  src/commands/Tools/topinvites.ts
  src/commands/Twitch/twitchsubscription.ts
  src/languages/en-US/commands/gameIntegration.json
  src/languages/en-US/commands/pokemon.json
  src/languages/en-US/globals.json
  src/languages/nl-NL/globals.json
  src/lib/i18n/languageKeys/keys/Globals.ts
  src/lib/setup/PaginatedMessage.ts
  src/lib/setup/index.ts
  src/lib/structures/HelpPaginatedMessage.ts
  src/lib/structures/commands/PaginatedMessageCommand.ts
  src/lib/types/definitions/Fortnite.ts
  src/lib/util/APIs/FFXIVUtils.ts
  src/lib/util/APIs/Pokemon.ts
  yarn.lock
Labels: Priority: High, Meta: BugFix, Meta: Cleanup, Meta: Dependencies, Meta: Feature

#2114 refactor: info enhancements
  src/commands/General/info.ts
  src/languages/en-US/commands/general.json
  src/languages/es-ES/commands/general.json
Labels: Priority: Critical, Meta: Refactor

#2115 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#2116 fix(i18next): update the pluralization keys
  src/languages/en-US/arguments.json
  src/languages/en-US/arguments/range.json
  src/languages/en-US/commands/game.json
  src/languages/en-US/commands/general.json
  src/languages/en-US/commands/misc.json
  src/languages/en-US/commands/moderation.json
  src/languages/en-US/commands/music.json
  src/languages/en-US/commands/social.json
  src/languages/en-US/commands/starboard.json
  src/languages/en-US/commands/tools.json
  src/languages/en-US/commands/twitch.json
  src/languages/en-US/events/guilds-logs.json
  src/languages/en-US/events/guilds-members.json
  src/languages/en-US/events/moderation.json
  src/languages/en-US/giveaway.json
  src/languages/en-US/moderation.json
  src/languages/en-US/promptList.json
  src/languages/en-US/serializers.json
Labels: Meta: BugFix
