Repository skyra-project/skyra, pull requests merged in 2021-06, with the labels that each got.

#1899 refactor: migrate to updated @sapphire/utilities & bump CI to Node 16
  .github/workflows/continuous-integration.yml
  .github/workflows/update-tlds.yml
  package.json
  typescript/src/audio/preconditions/AudioEnabled.ts
  typescript/src/commands/Management/Message Filters/attachmentMode.ts
  typescript/src/commands/Management/Message Filters/capitalsMode.ts
  typescript/src/commands/Management/Message Filters/filterMode.ts
  typescript/src/commands/Management/Message Filters/inviteMode.ts
  typescript/src/commands/Management/Message Filters/linkMode.ts
  typescript/src/commands/Management/Message Filters/messageMode.ts
  typescript/src/commands/Management/Message Filters/newlineMode.ts
  typescript/src/commands/Management/Reaction Filters/reactionMode.ts
  typescript/src/commands/Moderation/prune.ts
  typescript/src/commands/Tools/content.ts
  typescript/src/commands/Tools/topinvites.ts
  typescript/src/events/guilds/channels/channelCreateNotify.ts
  typescript/src/events/guilds/channels/channelDeleteNotify.ts
  typescript/src/events/guilds/channels/channelUpdateNotify.ts
  typescript/src/events/guilds/members/notMutedMemberAddGreeting.ts
  typescript/src/events/guilds/members/rawMemberRemoveFarewell.ts
  typescript/src/events/guilds/messages/guildUserMessagePointsHandler.ts
  typescript/src/events/guilds/messages/guildUserMessageSocialPointsAddMemberRewardLevel.ts
  typescript/src/events/guilds/messages/guildUserMessageSocialPointsAddMemberRewardRole.ts
  typescript/src/events/messages/messageDeleteBulkRemoveResponses.ts
  typescript/src/events/messages/messageDeleteRemoveResponses.ts
  typescript/src/events/moderation/messages/guildUserMessageMentionsHandler.ts
  typescript/src/events/reactions/rawReactionAddBlockList.ts
  typescript/src/events/reactions/rawReactionAddStarboard.ts
  typescript/src/lib/api/utils.ts
  typescript/src/lib/database/entities/GiveawayEntity.ts
  typescript/src/lib/database/entities/GuildEntity.ts
  typescript/src/lib/database/entities/ModerationEntity.ts
  typescript/src/lib/database/migrations/1594583300041-V07_MigrateModeration.ts
  typescript/src/lib/database/settings/schema/SchemaKey.ts
  typescript/src/lib/database/settings/structures/AdderManager.ts
  typescript/src/lib/env/utils.ts
  typescript/src/lib/extensions/SkyraGuildMember.ts
  typescript/src/lib/moderation/managers/ModerationManager.ts
  typescript/src/lib/moderation/structures/ModerationEvent.ts
  typescript/src/lib/moderation/structures/ModerationMessageEvent.ts
  typescript/src/lib/moderation/structures/SelfModerationCommand.ts
  typescript/src/lib/moderation/structures/SetUpModerationCommand.ts
  typescript/src/lib/structures/commands/ChannelConfigurationCommand.ts
  typescript/src/lib/types/Utils.ts
  typescript/src/lib/util/Sanitizer/initClean.ts
  typescript/src/lib/util/Security/ModerationActions.ts
  typescript/src/lib/util/comparators.ts
  typescript/src/package.json
  typescript/unit-tests/tests/lib/comparators.test.ts
  yarn.lock
Labels: Meta: Dependencies, Meta: Refactor

#1901 refactor: migrate from `promisify(setTimeout)` to `timers/promises`
  typescript/src/commands/Games/hungergames.ts
  typescript/src/commands/System/Admin/eval.ts
  typescript/src/lib/extensions/SkyraMessage.ts
  typescript/src/lib/util/Promisified/sleep.ts
  typescript/unit-tests/tests/lib/sleep.test.ts
Labels: Meta: Refactor

#1877 refactor: use UserError where applicable
  typescript/src/commands/GameIntegration/ffxiv.ts
  typescript/src/commands/Misc/afk.ts
  typescript/src/commands/Tags/tag.ts
  typescript/src/lib/database/settings/Utils.ts
  typescript/src/lib/database/settings/structures/PermissionNodeManager.ts
  typescript/src/lib/games/Slotmachine.ts
  typescript/src/lib/games/WheelOfFortune.ts
  typescript/src/lib/util/APIs/FFXIVUtils.ts
  typescript/src/lib/util/Parsers/FuzzySearch.ts
  typescript/src/lib/util/PromptList.ts
  typescript/src/lib/util/Security/ModerationActions.ts
  typescript/src/lib/util/decorators.ts
  typescript/src/lib/util/util.ts
Labels: Meta: Error Handling, Meta: Refactor

#1902 refactor: increase code quality
  package.json
  services/Skyra.Grpc/Services/UserService.cs
  services/Skyra.IntegrationTests/Grpc/UserTests.cs
  typescript/Dockerfile
  typescript/src/.env
  typescript/src/.env.development
  typescript/src/commands/Fun/dice.ts
  typescript/src/commands/Fun/love.ts
  typescript/src/commands/Fun/markov.ts
  typescript/src/commands/Fun/rate.ts
  typescript/src/commands/GameIntegration/fortnite.ts
  typescript/src/commands/Misc/chase.ts
  typescript/src/commands/Misc/deletthis.ts
  typescript/src/commands/Misc/randreddit.ts
  typescript/src/commands/Misc/slap.ts
  typescript/src/commands/Relationships/marry.ts
  typescript/src/commands/System/Admin/eval.ts
  typescript/src/commands/Tools/Websearch/price.ts
  typescript/src/config.ts
  typescript/src/languages/en-US/colors.json
  typescript/src/languages/en-US/commands/misc.json
  typescript/src/languages/en-US/commands/social.json
  typescript/src/lib/database/utils/Adder.ts
  typescript/src/lib/discord/SkyraEmbed.ts
  typescript/src/lib/env/types.ts
  typescript/src/lib/i18n/languageKeys/keys/All.ts
  typescript/src/lib/i18n/languageKeys/keys/Colors.ts
  typescript/src/lib/i18n/languageKeys/keys/System.ts
  typescript/src/lib/i18n/languageKeys/keys/commands/Levelling.ts
  typescript/src/lib/i18n/languageKeys/keys/commands/Misc.ts
  typescript/src/lib/structures/color/B10.ts
  typescript/src/lib/structures/color/HEX.ts
  typescript/src/lib/structures/color/HSL.ts
  typescript/src/lib/structures/color/RGB.ts
  typescript/src/lib/types/definitions/Reddit.ts
  typescript/src/lib/util/APIs/Pokemon.ts
  typescript/src/lib/util/APIs/Saelem.ts
  typescript/src/lib/util/External/markov.ts
  typescript/src/lib/util/Parsers/ExceededLength.ts
  typescript/src/lib/util/PromptList.ts
  typescript/src/lib/util/Sanitizer/clean.ts
  typescript/src/lib/util/util.ts
  typescript/src/serializers/permissionnode.ts
  yarn.lock
Labels: Meta: Refactor
