Repository skyra-project/skyra, pull requests merged in 2021-09, with the labels that each got.

#2022 refactor: remove useless parameters
  src/lib/SkyraClient.ts
  src/lib/database/settings/SettingsManager.ts
  src/lib/database/settings/base/SettingsCollection.ts
  src/lib/structures/managers/StarboardManager.ts
  src/lib/util/Leaderboard.ts
Labels: Meta: Refactor

#2023 fix: resolved error during boot
  src/listeners/guilds/members/rawGuildMemberUpdate.ts
Labels: Meta: BugFix

#2028 chore: updated dependencies, updated a few things
  Dockerfile
  package.json
  src/audio/listeners/music/musicRemoveNotify.ts
  src/commands/Giveaway/gcreate.ts
  src/commands/Google/weather.ts
  src/commands/Moderation/voicekick.ts
  src/lib/setup/index.ts
  src/lib/util/Sanitizer/initClean.ts
  src/lib/util/Security/ModerationActions.ts
  yarn.lock
Labels: Meta: Dependencies, Meta: Refactor

#2030 refactor(*): switch last types and routes to v9
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  package.json
  src/commands/Tools/vote.ts
  src/lib/api/utils.ts
  src/routes/oauth/oauthUser.ts
  tests/lib/bits.test.ts
  yarn.lock
Labels: Priority: High, Meta: Refactor

#2033 fix(api): fixed thread channels in ApiTransformer
  src/lib/api/ApiTransformers.ts
Labels: Priority: Critical, Meta: BugFix, Meta: Refactor

#2036 feat: update Pokemon to v6 & fix CVE-2021-3777 and CVE-2021-3807
  package.json
  src/.env
  src/.env.development
  src/commands/Pokemon/ability.ts
  src/commands/Pokemon/flavors.ts
  src/commands/Pokemon/item.ts
  src/commands/Pokemon/learn.ts
  src/commands/Pokemon/move.ts
  src/commands/Pokemon/pokedex.ts
  src/commands/Pokemon/sprite.ts
  src/commands/Pokemon/type.ts
  src/languages/en-GB/commands/pokemon.json
  src/languages/en-US/commands/pokemon.json
  src/lib/i18n/languageKeys/keys/commands/Pokemon.ts
  src/lib/i18n/translate.ts
  src/lib/util/APIs/Pokemon.ts
  src/lib/util/functions/booleans.ts
  src/lib/util/functions/numbers.ts
  yarn.lock
Labels: Type: Security, Priority: High, Meta: Cleanup, Meta: Dependencies, Meta: Feature, Meta: Refactor

#2037 fix: twitch pings and some minor refactors
  src/commands/Announcement/announcement.ts
  src/languages/en-US/events/twitch.json
  src/languages/es-ES/events/twitch.json
  src/lib/i18n/languageKeys/keys/events/twitch/All.ts
  src/lib/util/util.ts
  src/listeners/twitch/twitchStreamOffline.ts
  src/listeners/twitch/twitchStreamOnline.ts
Labels: Meta: BugFix, Meta: Refactor

#2043 feat(giveaway): ping roles when the giveaway is for them specifically
  src/languages/en-US/giveaway.json
  src/lib/database/entities/GiveawayEntity.ts
  src/lib/i18n/languageKeys/keys/Giveaway.ts
Labels: Priority: Medium, Meta: Feature

#2053 refactor: remove `subcommand` analytics tag
  src/languages/en-US/commands/misc.json
  src/lib/database/migrations/1594757329224-V13_MigrateAnalytics.ts
  src/lib/types/AnalyticsSchema.ts
  src/lib/types/Augments.d.ts
  src/listeners/analytics/commandUsageAnalytics.ts
  src/listeners/commands/commandSuccessAnalytics.ts
Labels: Meta: Refactor

#2059 feat: add support for multipliers in `dice`
  src/commands/Fun/dice.ts
  src/languages/en-US/commands/fun.json
Labels: Type: Enhancement, Meta: Feature
