Repository skyra-project/skyra, pull requests merged in 2021-03, with the labels that each got.

#1602 refactor(pnodes): resolved a few bugs and refactored system
  scripts/SetMigrations.sql
  src/arguments/command.ts
  src/arguments/commandMatch.ts
  src/arguments/commandName.ts
  src/commands/Management/permissionNodes.ts
  src/languages/en-US/commands/management.json
  src/lib/database/migrations/1614640993140-V36_RemoveEveryonePermissionNodes.ts
  src/lib/database/settings/structures/PermissionNodeManager.ts
  src/lib/i18n/languageKeys/keys/commands/Management.ts
  src/lib/structures/preconditions/PermissionsPrecondition.ts
  src/preconditions/PermissionNodes.ts
Labels: Meta: BugFix, Meta: Cleanup, Meta: Feature, Meta: Refactor, Priority: Critical

#1604 feat(remindme): add rmm alias
  src/commands/Social/remindme.ts
Labels: Meta: Feature

#1603 feat(wgreet): add wsalute alias
  src/commands/Weeb/wgreet.ts
Labels: Meta: Feature

#1605 feat: added skyrafact command
  src/commands/Misc/skyrafact.ts
  src/languages/en-US/commands/misc.json
  src/lib/i18n/languageKeys/keys/commands/Misc.ts
Labels: Meta: Feature

#1608 feat: add zalgo command and hide easter eggs in pokedex & flavors
  package.json
  src/commands/Misc/vaporwave.ts
  src/commands/Misc/zalgo.ts
  src/commands/Pokemon/flavors.ts
  src/commands/Pokemon/pokedex.ts
  src/languages/en-US/commands/misc.json
  src/lib/i18n/languageKeys/keys/commands/Misc.ts
  yarn.lock
Labels: Meta: Feature

#1611 fix(pnodes): half-revert bugfix to fix the last bug
  src/languages/en-US/preconditions.json
  src/lib/i18n/languageKeys/keys/Preconditions.ts
  src/lib/structures/commands/SkyraCommand.ts
  src/lib/structures/preconditions/PermissionsPrecondition.ts
  src/preconditions/Everyone.ts
  src/preconditions/PermissionNodes.ts
  src/preconditions/ServerOwner.ts
Labels: Meta: BugFix, Priority: Critical

#1610 feat(eval): add sql flag to run sql
  src/commands/System/Admin/eval.ts
  src/languages/en-US/system.json
  src/lib/database/utils/DbSet.ts
  src/lib/i18n/languageKeys/keys/System.ts
  src/lib/util/Parsers/ExceededLength.ts
Labels: Meta: Cleanup, Meta: Feature, Meta: Refactor

#1623 fix(eshop): fixed the api fetch
  src/commands/Tools/Websearch/eshop.ts
  src/languages/ckb-IR/commands/tools.json
  src/languages/de-DE/commands/tools.json
  src/languages/en-GB/commands/tools.json
  src/languages/en-US/commands/tools.json
  src/languages/es-ES/commands/tools.json
  src/languages/fr-FR/commands/tools.json
  src/languages/hi-IN/commands/tools.json
  src/languages/hi-Latn-IN/commands/tools.json
  src/languages/nl-NL/commands/tools.json
  src/languages/ro-RO/commands/tools.json
  src/languages/ru-RU/commands/tools.json
  src/languages/sl-SI/commands/tools.json
  src/languages/tr-TR/commands/tools.json
  src/lib/i18n/languageKeys/keys/commands/Tools.ts
Labels: Meta: BugFix, Priority: Medium

#1622 feat: implement outflux in stats
  docker/docker-compose.yml
  src/commands/System/stats.ts
  src/lib/util/constants.ts
Labels: Meta: Feature

#1636 fix(announcement): resolved bugs with parsing ids
  src/commands/Announcement/announcement.ts
  src/lib/util/util.ts
  tests/lib/util.test.ts
Labels: Meta: BugFix, Meta: Refactor, Priority: High

#1637 feat: add analytics command
  .vscode/Skyra.code-snippets
  src/commands/General/Chat Bot Info/analytics.ts
  src/commands/System/stats.ts
  src/languages/en-US/commands/general.json
  src/lib/i18n/languageKeys/keys/commands/General.ts
Labels: Meta: Feature, Meta: Refactor, Priority: High, Type: Performance

#1613 feat: add database grpc services
  .github/workflows/continuous-integration.yml
  .gitignore
  assets/protos/giveaway.proto
  assets/protos/guild.proto
  assets/protos/member.proto
  assets/protos/runner.proto
  assets/protos/schedule.proto
  assets/protos/shared.proto
  assets/protos/social.proto
  assets/protos/starboard.proto
  assets/protos/user.proto
  scripts/test.ps1
  services/.gitignore
  services/Directory.Build.props
  services/Skyra.Database/IDatabase.cs
  services/Skyra.Database/Migrations/20210312162453_InitCreate.Designer.cs
  services/Skyra.Database/Migrations/20210312162453_InitCreate.cs
  services/Skyra.Database/Models/Entities/Schedule.cs
  services/Skyra.Database/Models/PointsQuery.cs
  services/Skyra.Database/Models/UserProfileData.cs
  services/Skyra.Database/SkyraDatabase.cs
  services/Skyra.Database/SkyraDbContext.cs
  services/Skyra.Database/packages.lock.json
  services/Skyra.Grpc/Properties/launchSettings.json
  services/Skyra.Grpc/Services/GiveawayService.cs
  services/Skyra.Grpc/Services/GuildService.cs
  services/Skyra.Grpc/Services/MemberService.cs
  services/Skyra.Grpc/Services/RunnerService.cs
  services/Skyra.Grpc/Services/ScheduleService.cs
  services/Skyra.Grpc/Services/SocialService.cs
  services/Skyra.Grpc/Services/StarboardService.cs
  services/Skyra.Grpc/Services/UserService.cs
  services/Skyra.Grpc/Skyra.Grpc.csproj
  services/Skyra.Grpc/Startup.cs
  services/Skyra.Grpc/packages.lock.json
  services/Skyra.IntegrationTests/Database/SkyraDatabaseTests.cs
  services/Skyra.IntegrationTests/Database/Utils.cs
  services/Skyra.IntegrationTests/Grpc/MemberTests.cs
  services/Skyra.IntegrationTests/Grpc/SkyraGrpcTests.cs
  services/Skyra.IntegrationTests/Grpc/StarboardTests.cs
  services/Skyra.IntegrationTests/Grpc/UserTests.cs
  services/Skyra.IntegrationTests/Skyra.IntegrationTests.csproj
  services/Skyra.IntegrationTests/packages.lock.json
  services/Skyra.Shared/Results/Result.cs
  services/Skyra.Shared/Results/ResultStatus.cs
  services/Skyra.Shared/Results/Result{T}.cs
  services/Skyra.Shared/Skyra.Shared.csproj
  services/Skyra.UnitTests/Database/Extensions/DbSetExtensionTests.cs
  services/Skyra.UnitTests/Database/SkyraDatabaseTests.cs
  services/Skyra.UnitTests/Grpc/MemberServiceTests.cs
  services/Skyra.UnitTests/Grpc/Stubs/TestDatabase.cs
  services/Skyra.UnitTests/Skyra.UnitTests.csproj
  services/Skyra.UnitTests/packages.lock.json
  services/Skyra.sln
  services/Skyra.sln.DotSettings.user
Labels: Meta: Feature, Meta: Refactor, Priority: Critical, SEM: Minor, Status: Review Ready, Type: Enhancement

#1651 feat: add back lmgtfy command
  src/commands/Google/lmgtfy.ts
  src/languages/en-US/commands/google.json
  src/lib/i18n/languageKeys/keys/commands/Google.ts
Labels: Meta: Feature

#1652 fix(readme): rewrite self-hosting documentation
  README.md
Labels: Meta: Documentation, SEM: N/A

#1654 docs(readme): move translation section
  README.md
Labels: Meta: Documentation, SEM: N/A

#1656 fix(readme): partial rewrite of dependencies list
  README.md
Labels: Meta: Documentation, SEM: N/A

#1655 fix(birthday): improved date parsing and scheduling
  .vscode/Skyra.code-snippets
  package.json
  scripts/SetMigrations.sql
  src/commands/Birthday/reset-birthday.ts
  src/commands/Birthday/set-birthday.ts
  src/commands/Birthday/upcoming-birthdays.ts
  src/commands/Birthday/view-birthday.ts
  src/commands/General/Chat Bot Info/analytics.ts
  src/commands/Giveaway/gcreate.ts
  src/commands/Misc/Birthday/set-birthday.ts
  src/commands/Moderation/Utilities/time.ts
  src/commands/Social/daily.ts
  src/commands/Social/remindme.ts
  src/events/moderation/moderationEntryAdd.ts
  src/events/moderation/moderationEntryEdit.ts
  src/events/ready.ts
  src/languages/en-US/commands/misc.json
  src/lib/SkyraClient.ts
  src/lib/birthday/index.ts
  src/lib/birthday/types.ts
  src/lib/birthday/utils.ts
  src/lib/database/migrations/1615269810077-V37_BirthdayIntegration.ts
  src/lib/database/migrations/1616108184492-V38_UpdateBirthdayIntegration.ts
  src/lib/i18n/languageKeys/keys/commands/Misc.ts
  src/lib/i18n/structures/Handler.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Constants.d.ts
  src/lib/util/constants.ts
  src/lib/util/iterator.ts
  src/lib/util/util.ts
  src/tasks/birthday.ts
  tests/lib/Birthday.test.ts
  tests/lib/i18n/LanguageHelp.test.ts
  tests/lib/i18n/translate.test.ts
  tests/lib/util.test.ts
Labels: Meta: BugFix, Meta: Feature, Meta: Refactor, Priority: High, SEM: Minor

#1658 feat(custom-commands): add empty formatter
  src/commands/Tags/tag.ts
  src/lib/customCommands/setup.ts
Labels: Meta: Feature

#1659 fix(conf): show the correct data
  src/commands/Admin/conf.ts
Labels: Meta: BugFix

#1660 fix(birthday): handle unavailable guild and correct permissions
  src/tasks/removeBirthdayRole.ts
Labels: Meta: BugFix, Priority: High

#1661 fix(social): rename category to not clash with command name
  src/commands/Levelling/Member Management/social.ts
  src/commands/Levelling/Profile Management/banner.ts
  src/commands/Levelling/Profile Management/toggledarkmode.ts
  src/commands/Levelling/autorole.ts
  src/commands/Levelling/balance.ts
  src/commands/Levelling/daily.ts
  src/commands/Levelling/divorce.ts
  src/commands/Levelling/leaderboard.ts
  src/commands/Levelling/level.ts
  src/commands/Levelling/married.ts
  src/commands/Levelling/marry.ts
  src/commands/Levelling/mylevel.ts
  src/commands/Levelling/pay.ts
  src/commands/Levelling/profile.ts
  src/commands/Levelling/remindme.ts
  src/commands/Levelling/reputation.ts
  src/commands/Levelling/setcolor.ts
  src/commands/Levelling/vault.ts
Labels: Meta: BugFix, Type: Enhancement

#1662 fix(info): remove what and details
  src/commands/General/Chat Bot Info/info.ts
Labels: Meta: BugFix, Type: Enhancement

#1663 fix(exceeded-length): pass missing parameters to i18next
  src/lib/util/Parsers/ExceededLength.ts
Labels: Meta: BugFix

#1667 feat(autorole): add level syntax support
  src/commands/Levelling/autorole.ts
  src/languages/en-US/commands/social.json
  src/lib/i18n/languageKeys/keys/Commands.ts
  src/lib/i18n/languageKeys/keys/commands/Levelling.ts
Labels: Meta: Feature, Type: Enhancement

#1668 feat(social): added `social.ignored-roles` configuration key
  scripts/SetMigrations.sql
  services/Skyra.Database/Migrations/20210319161938_InitCreate.Designer.cs
  services/Skyra.Database/Migrations/20210319161938_InitCreate.cs
  services/Skyra.Database/Models/Entities/Guild.cs
  services/Skyra.Database/SkyraDbContext.cs
  src/events/guilds/messages/guildUserMessagePointsHandler.ts
  src/languages/en-US/settings.json
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/keys/settings/Social.ts
  src/lib/database/migrations/1616188199786-V40_AddSocialIgnoredRoles.ts
  src/lib/i18n/languageKeys/keys/Settings.ts
Labels: Meta: Feature, Type: Enhancement

#1669 feat(audio): added `music.allowed-voice-channels` and `music.allowed-roles`
  scripts/SetMigrations.sql
  services/Skyra.Database/Migrations/20210319161938_InitCreate.Designer.cs
  services/Skyra.Database/Migrations/20210319161938_InitCreate.cs
  services/Skyra.Database/Models/Entities/Guild.cs
  services/Skyra.Database/SkyraDbContext.cs
  src/audio/commands/Music/join.ts
  src/audio/lib/structures/MusicCommand.ts
  src/audio/preconditions/AudioEnabled.ts
  src/languages/en-US/commands/music.json
  src/languages/en-US/preconditions.json
  src/languages/en-US/settings.json
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/keys/settings/Music.ts
  src/lib/database/migrations/1616191193015-V41_AddMusicAllowedVoiceChannelsAndRoles.ts
  src/lib/i18n/languageKeys/keys/Preconditions.ts
  src/lib/i18n/languageKeys/keys/Settings.ts
  src/lib/i18n/languageKeys/keys/commands/Music.ts
  src/serializers/voicechannel.ts
Labels: Meta: Feature, SEM: Minor, Type: Enhancement

#1673 feat(lockdown): add optional role filter
  src/commands/Moderation/lockdown.ts
  src/languages/en-US/commands/moderation.json
Labels: Meta: Feature, Type: Enhancement

#1674 fix(prune): resolved user error when extra arguments are passed
  src/commands/Moderation/prune.ts
Labels: Meta: BugFix, Priority: High

#1672 feat(giveaway): add `allowed_roles`
  scripts/SetMigrations.sql
  services/Skyra.Database/Migrations/20210319161938_InitCreate.Designer.cs
  services/Skyra.Database/Migrations/20210319161938_InitCreate.cs
  services/Skyra.Database/Models/Entities/Giveaway.cs
  services/Skyra.Database/SkyraDbContext.cs
  src/commands/Giveaway/gcreate.ts
  src/commands/Giveaway/gstart.ts
  src/languages/en-US/commands/giveaway.json
  src/lib/database/entities/GiveawayEntity.ts
  src/lib/database/migrations/1616201639503-V42_AddAllowedRolesIntoGiveaways.ts
Labels: Meta: Feature, Type: Enhancement

#1675 feat(birthday): add i18n-aware date parser
  src/commands/Birthday/set-birthday.ts
  src/languages/en-GB/commands/misc.json
  src/languages/en-GB/globals.json
  src/languages/en-US/commands/misc.json
  src/languages/en-US/globals.json
  src/languages/es-ES/commands/misc.json
  src/languages/es-ES/globals.json
  src/lib/birthday/formats.ts
  src/lib/birthday/index.ts
  src/lib/i18n/languageKeys/keys/Globals.ts
  src/lib/i18n/languageKeys/keys/commands/Misc.ts
  tests/lib/Birthday.test.ts
Labels: Meta: Feature, Type: Enhancement

#1676 feat(suggest): add support for external messages and attachments
  src/commands/Suggestions/suggest.ts
  src/languages/en-US/commands/suggestion.json
Labels: Meta: Feature, Type: Enhancement

#1682 fix(autoroles): resolved bug in update
  src/commands/Levelling/autorole.ts
Labels: Meta: BugFix, Priority: High

#1683 feat(tags): add rename subcommand
  src/commands/Tags/tag.ts
  src/languages/en-US/commands/tags.json
  src/lib/i18n/languageKeys/keys/commands/Tags.ts
Labels: Meta: Feature, Type: Enhancement

#1685 feat(reddituser): add awarder and awardee karma
  src/commands/Misc/reddituser.ts
  src/languages/en-US/commands/misc.json
  src/lib/i18n/languageKeys/keys/commands/Misc.ts
  src/lib/types/definitions/Reddit.ts
Labels: Meta: Feature, Type: Enhancement

#1684 feat: add date support to timespan
  src/arguments/timespan.ts
  src/languages/en-US/arguments.json
  src/languages/en-US/commands/social.json
Labels: Meta: Feature, Type: Enhancement

#1687 feat(coinflip): add aliases for coin names
  src/commands/Currency/coinflip.ts
  src/languages/ckb-IR/commands/game.json
  src/languages/de-DE/commands/game.json
  src/languages/en-GB/commands/game.json
  src/languages/en-US/commands/game.json
  src/languages/es-ES/commands/game.json
  src/languages/fr-FR/commands/game.json
  src/languages/hi-IN/commands/game.json
  src/languages/hi-Latn-IN/commands/game.json
  src/languages/nb-NO/commands/game.json
  src/languages/nl-NL/commands/game.json
  src/languages/ro-RO/commands/game.json
  src/languages/ru-RU/commands/game.json
  src/languages/sl-SI/commands/game.json
  src/languages/tr-TR/commands/game.json
  src/lib/i18n/languageKeys/keys/commands/Games.ts
Labels: Meta: Feature, Type: Enhancement

#1688 feat(reputation): add reminder flag
  src/commands/Misc/reputation.ts
  src/languages/en-US/commands/social.json
  src/lib/i18n/languageKeys/keys/commands/Levelling.ts
Labels: Meta: Feature, Type: Enhancement

#1689 fix(kitten): switch api to one that works
  src/commands/Animal/kitty.ts
  src/languages/en-US/commands/animal.json
Labels: Meta: BugFix, Priority: High

#1692 fix(star): resolved critical error
  src/commands/Starboard/star.ts
  src/lib/database/entities/StarboardEntity.ts
  src/lib/structures/managers/StarboardManager.ts
Labels: Meta: BugFix, Priority: High

#1699 fix(guild-info): truncate role list to 15 highest
  src/commands/Management/Helpers/guildInfo.ts
  src/languages/en-US/commands/tools.json
  src/lib/i18n/languageKeys/keys/commands/Tools.ts
Labels: Meta: BugFix, Priority: High, Type: Enhancement

#1698 fix(help): check permissions in PM branches
  src/commands/General/Chat Bot Info/help.ts
Labels: Meta: BugFix, Priority: High

#1696 fix(mrr): reduce the amount of entries per page from 20 to 15
  src/commands/Management/Configuration/manageReactionRoles.ts
Labels: Meta: BugFix, Priority: High

#1695 feat(command-error): handle Internal Server Error messages
  src/events/commands/commandError.ts
Labels: Meta: Feature, Priority: High, Type: Enhancement

#1694 fix(resu): handle maximum range and improve error message
  src/commands/Suggestions/resolvesuggestion.ts
  src/languages/en-US/commands/suggestion.json
Labels: Meta: BugFix, Priority: High

#1693 fix(tags): format and send errors from parser to the user
  src/commands/Tags/tag.ts
  src/languages/en-US/commands/tags.json
  src/lib/i18n/languageKeys/keys/commands/Tags.ts
Labels: Meta: BugFix, Priority: High

#1697 fix(vote): handle users who blocked the bot
  src/commands/Tools/vote.ts
  src/languages/en-US/commands/tools.json
  src/lib/i18n/languageKeys/keys/commands/Tools.ts
Labels: Meta: BugFix, Priority: High, Type: Enhancement

#1700 fix(guild-member-update): check view audit logs permission
  src/events/guilds/members/rawGuildMemberUpdate.ts
Labels: Meta: BugFix, Priority: High

#1701 refactor(guild-entity): remove undesired words in keys
  scripts/SetMigrations.sql
  services/Skyra.Database/Migrations/20210319161938_InitCreate.Designer.cs
  services/Skyra.Database/Migrations/20210319161938_InitCreate.cs
  services/Skyra.Database/Models/Entities/Guild.cs
  services/Skyra.Database/SkyraDbContext.cs
  src/events/guilds/messages/guildUserMessageTriggersHandler.ts
  src/events/moderation/messages/guildUserMessageLinksHandler.ts
  src/events/reactions/rawReactionAddBlockList.ts
  src/events/reactions/rawReactionAddNotify.ts
  src/languages/en-US/commands/management.json
  src/languages/en-US/settings.json
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/keys/settings/Selfmod/Links.ts
  src/lib/database/keys/settings/Selfmod/Reactions.ts
  src/lib/database/migrations/1616786337398-V43_RemovedReferencesToUndesiredWords.ts
  src/lib/i18n/languageKeys/keys/Settings.ts
  src/lib/types/Enums.d.ts
Labels: Meta: Refactor

#1703 fix(ffxiv): improve extended help
  src/languages/en-US/commands/gameIntegration.json
  src/languages/es-ES/commands/gameIntegration.json
Labels: Meta: Documentation

#1706 refactor(i18n): rename guild to server
  src/languages/en-US/commands/management.json
  src/languages/en-US/commands/misc.json
  src/languages/en-US/commands/moderation.json
  src/languages/en-US/commands/social.json
  src/languages/en-US/commands/system.json
  src/languages/en-US/commands/tags.json
  src/languages/en-US/moderationActions.json
  src/languages/en-US/permissions.json
  src/languages/en-US/preconditions.json
  src/languages/en-US/serializers.json
  src/languages/en-US/system.json
Labels: Meta: Documentation, Meta: Refactor

#1705 feat(utils): added message formatter
  src/.env.test
  src/commands/Moderation/prune.ts
  src/commands/Tools/content.ts
  src/config.ts
  src/languages/en-US/commands/tools.json
  src/lib/util/Parsers/ExceededLength.ts
  src/lib/util/formatters.ts
  src/lib/util/util.ts
  tests/jest.setup.ts
  tests/lib/formatters.test.ts
  tests/lib/util.test.ts
  tests/mocks/MockInstances.ts
Labels: Meta: Feature, Type: Enhancement

#1707 feat(error): add Sentry error logging
  src/commands/Giveaway/greroll.ts
  src/commands/System/Admin/reboot.ts
  src/events/commands/commandError.ts
  src/events/errors/apiError.ts
  src/events/errors/error.ts
  src/events/errors/eventError.ts
  src/events/errors/eventErrorSentry.ts
  src/events/errors/taskError.ts
  src/events/errors/taskErrorSentry.ts
  src/events/guilds/messages/guildUserMessageTriggersHandler.ts
  src/events/mentionSpamExceeded.ts
  src/events/messages/rawMessageDeleteBulkStarboard.ts
  src/events/messages/rawMessageDeleteStarboard.ts
  src/events/reactions/rawMessageReactionRemoveAll.ts
  src/events/reactions/rawMessageReactionRemoveEmoji.ts
  src/events/reactions/rawReactionAddRole.ts
  src/events/reactions/rawReactionRemoveRole.ts
  src/languages/en-US/events/errors.json
  src/lib/database/entities/GiveawayEntity.ts
  src/lib/extensions/SkyraMessage.ts
  src/lib/games/base/BaseReactionController.ts
  src/lib/games/base/BaseReactionGame.ts
  src/lib/i18n/languageKeys/keys/events/errors/All.ts
  src/lib/structures/SettingsMenu.ts
  src/lib/structures/commands/WeebCommand.ts
  src/lib/structures/events/AnalyticsEvent.ts
  src/lib/types/Augments.d.ts
  src/lib/types/Enums.d.ts
  src/lib/types/definitions/Internals.ts
Labels: Meta: Refactor

#1708 fix(language): display possibles in error message
  src/arguments/language.ts
Labels: Meta: BugFix, Priority: High

#1709 fix(settings): reset all if reload fails
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/settings/base/IBaseEntity.ts
  src/lib/database/settings/base/SettingsCollection.ts
  src/lib/database/settings/index.ts
Labels: Meta: BugFix, Priority: Critical

#1710 fix(play): change code order
  src/audio/commands/Music/play.ts
Labels: Meta: BugFix, Priority: High

#1715 fix(birthday): correct date format in extended help
  src/languages/en-GB/commands/misc.json
  src/languages/en-GB/globals.json
  src/languages/en-US/commands/misc.json
  src/languages/en-US/globals.json
  src/languages/es-ES/commands/misc.json
  src/languages/es-ES/globals.json
  src/lib/i18n/languageKeys/keys/Globals.ts
Labels: Meta: BugFix

#1716 fix(echo): add support for news channels
  src/commands/System/echo.ts
Labels: Meta: Feature
