Repository skyra-project/skyra, pull requests merged in 2021-07, with the labels that each got.

#1935 fix(logging): fixed failed task logging
  typescript/src/lib/database/entities/ScheduleEntity.ts
  typescript/src/lib/types/Augments.d.ts
Labels: Meta: BugFix

#1932 fix: fixed permission nodes updating
  .vscode/settings.json
  typescript/src/lib/database/settings/structures/PermissionNodeManager.ts
  typescript/unit-tests/tests/lib/database/settings/structures/PermissionNodeManager.test.ts
  typescript/unit-tests/tests/mocks/MockInstances.ts
Labels: Meta: BugFix, Priority: Critical

#1942 feat(history): add subcommand aliases
  typescript/src/commands/Moderation/Management/history.ts
Labels: Meta: Feature, Priority: High

#1943 refactor(lockdown): fixed a few bugs, reset to previous
  typescript/src/commands/Moderation/lockdown.ts
  typescript/src/lib/structures/managers/LockdownManager.ts
  typescript/src/lib/structures/managers/index.ts
  typescript/src/lib/util/Security/GuildSecurity.ts
  typescript/src/lib/util/Timers.ts
Labels: Meta: BugFix, Meta: Refactor, Priority: High

#1944 feat(tag): add {(author|user|member).mention}
  typescript/src/commands/Tags/tag.ts
  typescript/src/lib/customCommands/errors/InvalidTypeError.ts
  typescript/src/lib/customCommands/util.ts
Labels: Meta: Feature, Priority: High

#1945 feat(define): add `def` alias
  typescript/src/commands/Tools/Dictionary/define.ts
Labels: Meta: Feature

#1946 refactor(settings): modernize events
  scripts/SetMigrations.sql
  scripts/migrations.mjs
  services/Skyra.Database/Migrations/20210713150528_V06_EventsModernization.Designer.cs
  services/Skyra.Database/Migrations/20210713150528_V06_EventsModernization.cs
  services/Skyra.Database/Models/Entities/Guild.cs
  services/Skyra.Database/SkyraDbContext.cs
  typescript/src/commands/Management/Configuration/setMemberAddLogs.ts
  typescript/src/commands/Management/Configuration/setMemberRemoveLogs.ts
  typescript/src/commands/Management/Configuration/setMessageDeleteLogs.ts
  typescript/src/commands/Management/Configuration/setMessageUpdateLogs.ts
  typescript/src/commands/Moderation/kick.ts
  typescript/src/events/guildMessageLog.ts
  typescript/src/events/guilds/members/guildMemberAdd.ts
  typescript/src/events/guilds/members/guildMemberUpdateNicknameNotify.ts
  typescript/src/events/guilds/members/guildMemberUpdateRolesNotify.ts
  typescript/src/events/guilds/members/notMutedMemberAddNotify.ts
  typescript/src/events/guilds/members/rawMemberRemoveNotify.ts
  typescript/src/events/guilds/messages/guildUserMessageImageNotify.ts
  typescript/src/events/messages/guildMessageDeleteNotify.ts
  typescript/src/events/messages/messageUpdateNotify.ts
  typescript/src/events/reactions/rawReactionAddBlockList.ts
  typescript/src/events/reactions/rawReactionAddNotify.ts
  typescript/src/events/userUpdate.ts
  typescript/src/languages/en-US/commands/management.json
  typescript/src/languages/en-US/settings.json
  typescript/src/lib/database/entities/GuildEntity.ts
  typescript/src/lib/database/keys/settings/Channels/Logs.ts
  typescript/src/lib/database/keys/settings/Events.ts
  typescript/src/lib/database/migrations/1626169505546-V54_EventsModernization.ts
  typescript/src/lib/i18n/languageKeys/keys/Settings.ts
  typescript/src/lib/i18n/languageKeys/keys/commands/Management.ts
  typescript/src/lib/i18n/languageKeys/keys/settings/channels/Logs.ts
  typescript/src/lib/moderation/structures/ModerationMessageEvent.ts
  typescript/src/lib/types/Augments.d.ts
  typescript/src/lib/util/constants.ts
Labels: Meta: Refactor, Priority: High

#1949 feat(social): add `reset --all`
  typescript/src/commands/Levelling/Management/social.ts
  typescript/src/languages/en-US/commands/social.json
  typescript/src/lib/i18n/languageKeys/keys/commands/Levelling.ts
  typescript/src/lib/util/Leaderboard.ts
Labels: Meta: Feature, Type: Enhancement

#1963 refactor: update paginated messages
  package.json
  typescript/src/audio/commands/Music/queue.ts
  typescript/src/commands/Animation/anime.ts
  typescript/src/commands/Animation/manga.ts
  typescript/src/commands/GameIntegration/clashofclans.ts
  typescript/src/commands/GameIntegration/ffxiv.ts
  typescript/src/commands/GameIntegration/fortnite.ts
  typescript/src/commands/GameIntegration/overwatch.ts
  typescript/src/commands/General/help.ts
  typescript/src/commands/Google/gimage.ts
  typescript/src/commands/Google/gsearch.ts
  typescript/src/commands/Levelling/leaderboard.ts
  typescript/src/commands/Management/Configuration/manage-reaction-roles.ts
  typescript/src/commands/Management/Helpers/guild-info.ts
  typescript/src/commands/Management/Profile Management/banner.ts
  typescript/src/commands/Management/roles.ts
  typescript/src/commands/Management/triggers.ts
  typescript/src/commands/Misc/afk.ts
  typescript/src/commands/Misc/reddituser.ts
  typescript/src/commands/Misc/remindme.ts
  typescript/src/commands/Moderation/Management/history.ts
  typescript/src/commands/Moderation/Management/moderations.ts
  typescript/src/commands/Pokemon/flavors.ts
  typescript/src/commands/Pokemon/learn.ts
  typescript/src/commands/Pokemon/move.ts
  typescript/src/commands/Pokemon/pokedex.ts
  typescript/src/commands/Pokemon/type.ts
  typescript/src/commands/Relationships/married.ts
  typescript/src/commands/Tags/tag.ts
  typescript/src/commands/Tools/Dictionary/define.ts
  typescript/src/commands/Tools/Dictionary/urban.ts
  typescript/src/commands/Tools/Websearch/country.ts
  typescript/src/commands/Tools/Websearch/eshop.ts
  typescript/src/commands/Tools/Websearch/igdb.ts
  typescript/src/commands/Tools/Websearch/itunes.ts
  typescript/src/commands/Tools/Websearch/movies.ts
  typescript/src/commands/Tools/Websearch/shows.ts
  typescript/src/commands/Tools/emotes.ts
  typescript/src/commands/Tools/topinvites.ts
  typescript/src/commands/Twitch/twitchsubscription.ts
  typescript/src/events/messages/guildMessageDeleteRichDisplay.ts
  typescript/src/lib/structures/SkyraLazyPaginatedMessage.ts
  typescript/src/lib/structures/SkyraPaginatedMessage.ts
  typescript/src/lib/structures/UserLazyPaginatedMessage.ts
  typescript/src/lib/structures/UserPaginatedMessage.ts
  typescript/src/lib/structures/index.ts
  typescript/src/package.json
  yarn.lock
Labels: Meta: Dependencies, Meta: Refactor, Priority: Medium

#1965 refactor(permissions): switch to functional
  package.json
  typescript/src/arguments/channelName.ts
  typescript/src/arguments/roleName.ts
  typescript/src/arguments/song.ts
  typescript/src/arguments/userName.ts
  typescript/src/audio/commands/Music/importqueue.ts
  typescript/src/audio/commands/Music/skip.ts
  typescript/src/audio/commands/Music/volume.ts
  typescript/src/audio/lib/queue/Decorators.ts
  typescript/src/audio/lib/websocket/WebsocketUser.ts
  typescript/src/commands/Games/hungergames.ts
  typescript/src/commands/Misc/afk.ts
  typescript/src/commands/Suggestions/resolve-suggestion.ts
  typescript/src/commands/Suggestions/suggest.ts
  typescript/src/events/commands/commandSuccessAutoDelete.ts
  typescript/src/events/commands/unknownCommand.ts
  typescript/src/events/guilds/messages/guildUserMessageAfkHandler.ts
  typescript/src/events/mentionPrefixOnly.ts
  typescript/src/events/messages/messageDelete.ts
  typescript/src/events/messages/messageUpdateNotify.ts
  typescript/src/events/moderation/messages/guildUserMessageMentionsHandler.ts
  typescript/src/lib/SkyraClient.ts
  typescript/src/lib/extensions/SkyraGuildMember.ts
  typescript/src/lib/moderation/structures/ModerationCommand.ts
  typescript/src/lib/moderation/structures/ModerationMessageEvent.ts
  typescript/src/lib/moderation/structures/SetUpModerationCommand.ts
  typescript/src/lib/structures/preconditions/PermissionsPrecondition.ts
  typescript/src/lib/util/common/guards.ts
  typescript/src/lib/util/common/index.ts
  typescript/src/lib/util/decorators.ts
  typescript/src/lib/util/functions/index.ts
  typescript/src/lib/util/functions/permissions.ts
  typescript/src/preconditions/Administrator.ts
  typescript/src/preconditions/DJ.ts
  typescript/src/preconditions/Enabled.ts
  typescript/src/preconditions/Moderator.ts
  typescript/src/preconditions/Spam.ts
Labels: Meta: Refactor

#1966 fix(hg): use regular sending over editable
  typescript/src/commands/Games/hungergames.ts
Labels: Meta: BugFix, Priority: High

#1969 refactor: move utilities to specific files
  typescript/src/arguments/song.ts
  typescript/src/audio/commands/Music/exportqueue.ts
  typescript/src/audio/commands/Music/importqueue.ts
  typescript/src/audio/lib/queue/Queue.ts
  typescript/src/commands/Admin/conf.ts
  typescript/src/commands/Animal/kitty.ts
  typescript/src/commands/Announcement/announcement.ts
  typescript/src/commands/Birthday/upcoming-birthdays.ts
  typescript/src/commands/Fun/markov.ts
  typescript/src/commands/GameIntegration/fortnite.ts
  typescript/src/commands/Levelling/leaderboard.ts
  typescript/src/commands/Misc/triggered.ts
  typescript/src/commands/Moderation/prune.ts
  typescript/src/commands/System/Admin/dm.ts
  typescript/src/commands/System/donate.ts
  typescript/src/events/guilds/channels/channelUpdateNotify.ts
  typescript/src/events/guilds/emojis/emojiUpdateNotify.ts
  typescript/src/events/guilds/guildUpdateNotify.ts
  typescript/src/events/guilds/roles/roleUpdateNotify.ts
  typescript/src/events/reactions/rawMessageReactionAdd.ts
  typescript/src/events/reactions/rawMessageReactionRemove.ts
  typescript/src/events/reactions/rawReactionRemoveRole.ts
  typescript/src/events/userUpdate.ts
  typescript/src/lib/SkyraClient.ts
  typescript/src/lib/birthday/utils.ts
  typescript/src/lib/discord/GuildMemberFetchQueue.ts
  typescript/src/lib/grpc/structures/base/ClientHandler.ts
  typescript/src/lib/moderation/managers/ModerationManager.ts
  typescript/src/lib/moderation/workers/WorkerResponseHandler.ts
  typescript/src/lib/structures/AnalyticsData.ts
  typescript/src/lib/structures/events/AnalyticsEvent.ts
  typescript/src/lib/util/External/markov.ts
  typescript/src/lib/util/Notifications/Twitch.ts
  typescript/src/lib/util/Security/RegexCreator.ts
  typescript/src/lib/util/common/comparators.ts
  typescript/src/lib/util/common/index.ts
  typescript/src/lib/util/common/iterators.ts
  typescript/src/lib/util/common/promises.ts
  typescript/src/lib/util/util.ts
  typescript/src/lib/weather/utils.ts
  typescript/src/routes/guilds/guild/leaderboard.ts
  typescript/unit-tests/tests/lib/util.test.ts
  typescript/unit-tests/tests/lib/util/common/comparators.test.ts
  typescript/unit-tests/tests/lib/util/common/iterators.test.ts
  typescript/unit-tests/tests/lib/util/common/promises.test.ts
Labels: Meta: Refactor

#1970 refactor(channels): switch to functional
  typescript/src/audio/commands/Music/skip.ts
  typescript/src/audio/commands/Music/volume.ts
  typescript/src/audio/events/music/musicVoiceChannelJoin.ts
  typescript/src/audio/events/voiceStateUpdate.ts
  typescript/src/commands/Announcement/announcement.ts
  typescript/src/commands/Games/hungergames.ts
  typescript/src/commands/Management/create-mute.ts
  typescript/src/commands/Misc/f.ts
  typescript/src/commands/Misc/snipe.ts
  typescript/src/commands/Moderation/Utilities/flow.ts
  typescript/src/commands/Moderation/lockdown.ts
  typescript/src/commands/Moderation/prune.ts
  typescript/src/commands/Suggestions/suggest.ts
  typescript/src/events/guildMessageLog.ts
  typescript/src/events/guilds/members/notMutedMemberAddGreeting.ts
  typescript/src/events/guilds/members/rawMemberRemoveFarewell.ts
  typescript/src/events/guilds/messages/guildUserMessageTriggersHandler.ts
  typescript/src/events/messages/guildMessageDeleteSnipe.ts
  typescript/src/events/moderation/moderationEntryAdd.ts
  typescript/src/events/moderation/moderationEntryEdit.ts
  typescript/src/events/reactions/rawMessageReactionAdd.ts
  typescript/src/events/reactions/rawMessageReactionRemove.ts
  typescript/src/events/reactions/rawReactionAddStarboard.ts
  typescript/src/events/twitch/twitchStreamOffline.ts
  typescript/src/events/twitch/twitchStreamOnline.ts
  typescript/src/lib/extensions/SkyraDMChannel.ts
  typescript/src/lib/extensions/SkyraNewsChannel.ts
  typescript/src/lib/extensions/SkyraTextChannel.ts
  typescript/src/lib/extensions/SkyraVoiceChannel.ts
  typescript/src/lib/extensions/index.ts
  typescript/src/lib/moderation/structures/ModerationMessageEvent.ts
  typescript/src/lib/types/Augments.d.ts
  typescript/src/lib/types/Discord.d.ts
  typescript/src/lib/util/Parsers/ExceededLength.ts
  typescript/src/lib/util/functions/channels.ts
  typescript/src/lib/util/functions/permissions.ts
  typescript/src/tasks/birthday.ts
Labels: Meta: Refactor

#1971 refactor: removed references of `client#set{Interval,Timeout}`
  typescript/src/commands/Fun/markov.ts
  typescript/src/events/reactions/rawReactionAddNotify.ts
  typescript/src/lib/SkyraClient.ts
  typescript/src/lib/database/repositories/UserRepository.ts
  typescript/src/lib/moderation/workers/WorkerHandler.ts
  typescript/src/lib/moderation/workers/WorkerResponseHandler.ts
  typescript/src/lib/moderation/workers/worker.ts
  typescript/src/lib/structures/InviteStore.ts
  typescript/src/lib/structures/managers/ScheduleManager.ts
  typescript/src/lib/util/Timers.ts
  typescript/unit-tests/jest.setup.ts
Labels: Meta: Refactor

#1985 fix(star-wars): resolved several bugs in several commands
  package.json
  typescript/src/commands/Starwars/swperson.ts
  typescript/src/commands/Starwars/swplanet.ts
  typescript/src/commands/Starwars/swship.ts
  typescript/src/commands/Starwars/swvehicle.ts
  typescript/src/languages/de-DE/commands/starwars.json
  typescript/src/languages/en-GB/commands/starwars.json
  typescript/src/languages/en-US/commands/starwars.json
  typescript/src/languages/es-ES/commands/starwars.json
  typescript/src/languages/fa-IR/commands/starwars.json
  typescript/src/languages/fr-FR/commands/starwars.json
  typescript/src/languages/hi-IN/commands/starwars.json
  typescript/src/languages/hi-Latn-IN/commands/starwars.json
  typescript/src/languages/ja-JP/commands/starwars.json
  typescript/src/languages/nb-NO/commands/starwars.json
  typescript/src/languages/nl-NL/commands/starwars.json
  typescript/src/languages/ro-RO/commands/starwars.json
  typescript/src/languages/ru-RU/commands/starwars.json
  typescript/src/languages/sl-SI/commands/starwars.json
  typescript/src/languages/tr-TR/commands/starwars.json
  typescript/src/lib/i18n/languageKeys/keys/commands/StarWars.ts
  yarn.lock
Labels: Meta: BugFix, Meta: Dependencies, Meta: Refactor, Priority: Critical

#1984 refactor: remove even more structures
  typescript/src/commands/Levelling/profile.ts
  typescript/src/commands/Management/Profile Management/banner.ts
  typescript/src/commands/Management/create-mute.ts
  typescript/src/lib/extensions/SkyraGuild.ts
  typescript/src/lib/extensions/SkyraGuildMember.ts
  typescript/src/lib/extensions/SkyraMessage.ts
  typescript/src/lib/extensions/SkyraUser.ts
  typescript/src/lib/moderation/structures/SetUpModerationCommand.ts
  typescript/src/lib/types/Augments.d.ts
  typescript/src/lib/util/Parsers/ExceededLength.ts
  typescript/src/lib/util/Parsers/FuzzySearch.ts
  typescript/src/lib/util/common/guards.ts
  typescript/src/lib/util/functions/index.ts
  typescript/src/lib/util/functions/members.ts
  typescript/src/lib/util/functions/messages.ts
  typescript/src/lib/util/functions/users.ts
Labels: Meta: Refactor

#1987 refactor: update for Bots for Discord rebrand
  typescript/src/.env
  typescript/src/.env.development
  typescript/src/languages/en-US/commands/misc.json
  typescript/src/lib/env/types.ts
  typescript/src/routes/webhooks/discords.ts
  typescript/src/tasks/poststats.ts
Labels: Meta: Refactor, Priority: Critical, Type: Maintenance

#1988 feat: added media only channels
  scripts/SetMigrations.sql
  typescript/src/events/messages/guildUserMessageMediaOnly.ts
  typescript/src/languages/en-US/settings.json
  typescript/src/lib/database/entities/GuildEntity.ts
  typescript/src/lib/database/keys/settings/Channels.ts
  typescript/src/lib/database/migrations/1627318321333-V55_MediaOnlyChannels.ts
  typescript/src/lib/i18n/languageKeys/keys/settings/Channels.ts
  typescript/src/lib/util/util.ts
Labels: Meta: Feature, Priority: Critical

#1990 fix: use `<message>.channel.send` when sending attachments
  typescript/src/audio/commands/Music/exportqueue.ts
  typescript/src/commands/Fun/changemymind.ts
  typescript/src/commands/Fun/howtoflirt.ts
  typescript/src/commands/Fun/peepolove.ts
  typescript/src/commands/Fun/shindeiru.ts
  typescript/src/commands/Fun/think.ts
  typescript/src/commands/Fun/wakanda.ts
  typescript/src/commands/Fun/where.ts
  typescript/src/commands/Google/weather.ts
  typescript/src/commands/Levelling/level.ts
  typescript/src/commands/Levelling/profile.ts
  typescript/src/commands/Misc/chase.ts
  typescript/src/commands/Misc/cuddle.ts
  typescript/src/commands/Misc/deletthis.ts
  typescript/src/commands/Misc/f.ts
  typescript/src/commands/Misc/good-night.ts
  typescript/src/commands/Misc/goofytime.ts
  typescript/src/commands/Misc/hug.ts
  typescript/src/commands/Misc/ineedhealing.ts
  typescript/src/commands/Misc/slap.ts
  typescript/src/commands/Misc/thesearch.ts
  typescript/src/commands/Misc/triggered.ts
  typescript/src/lib/util/Parsers/ExceededLength.ts
Labels: Meta: BugFix, Priority: Critical

#1989 feat(animation): add anilist
  jest.config.ts
  src/commands/Animation/anime.ts
  src/commands/Animation/kitsu-anime.ts
  src/commands/Animation/kitsu-manga.ts
  src/commands/Animation/manga.ts
  src/commands/GameIntegration/ffxiv.ts
  src/commands/Google/gimage.ts
  src/commands/Starwars/swfilm.ts
  src/commands/Starwars/swperson.ts
  src/commands/Starwars/swplanet.ts
  src/commands/Starwars/swship.ts
  src/commands/Starwars/swspecies.ts
  src/commands/Starwars/swvehicle.ts
  src/languages/ckb-IR/commands/animation.json
  src/languages/ckb-IR/commands/anime.json
  src/languages/de-DE/commands/animation.json
  src/languages/de-DE/commands/anime.json
  src/languages/en-GB/commands/animation.json
  src/languages/en-GB/commands/anime.json
  src/languages/en-US/commands/animation.json
  src/languages/en-US/commands/anime.json
  src/languages/es-ES/commands/animation.json
  src/languages/es-ES/commands/anime.json
  src/languages/fa-IR/commands/animation.json
  src/languages/fa-IR/commands/anime.json
  src/languages/fr-FR/commands/animation.json
  src/languages/fr-FR/commands/anime.json
  src/languages/hi-IN/commands/animation.json
  src/languages/hi-IN/commands/anime.json
  src/languages/hi-Latn-IN/commands/animation.json
  src/languages/hi-Latn-IN/commands/anime.json
  src/languages/ja-JP/commands/animation.json
  src/languages/ja-JP/commands/anime.json
  src/languages/nb-NO/commands/animation.json
  src/languages/nb-NO/commands/anime.json
  src/languages/nl-NL/commands/animation.json
  src/languages/nl-NL/commands/anime.json
  src/languages/ro-RO/commands/animation.json
  src/languages/ro-RO/commands/anime.json
  src/languages/ru-RU/commands/animation.json
  src/languages/ru-RU/commands/anime.json
  src/languages/sl-SI/commands/animation.json
  src/languages/sl-SI/commands/anime.json
  src/languages/tr-TR/commands/animation.json
  src/languages/tr-TR/commands/anime.json
  src/lib/i18n/languageKeys/keys/commands/Animation.ts
  src/lib/types/Constants.ts
  src/lib/types/definitions/AniList.ts
  src/lib/types/definitions/FFXIVTypings.ts
  src/lib/types/definitions/index.ts
  src/lib/util/APIs/AniList.ts
  src/lib/util/APIs/Pokemon.ts
Labels: Meta: Cleanup, Meta: Feature, Meta: Refactor, Priority: Medium, Status: Review Ready

#1974 refactor: switch to skia
  .github/CONTRIBUTING.md
  .github/workflows/continuous-integration.yml
  Dockerfile
  package.json
  src/arguments/image.ts
  src/commands/Fun/changemymind.ts
  src/commands/Fun/howtoflirt.ts
  src/commands/Fun/peepolove.ts
  src/commands/Fun/shindeiru.ts
  src/commands/Fun/think.ts
  src/commands/Fun/wakanda.ts
  src/commands/Fun/where.ts
  src/commands/Google/weather.ts
  src/commands/Levelling/level.ts
  src/commands/Levelling/profile.ts
  src/commands/Misc/chase.ts
  src/commands/Misc/cuddle.ts
  src/commands/Misc/deletthis.ts
  src/commands/Misc/f.ts
  src/commands/Misc/good-night.ts
  src/commands/Misc/goofytime.ts
  src/commands/Misc/hug.ts
  src/commands/Misc/ineedhealing.ts
  src/commands/Misc/ship.ts
  src/commands/Misc/slap.ts
  src/commands/Misc/thesearch.ts
  src/commands/Misc/triggered.ts
  src/commands/Tools/color.ts
  src/lib/games/Slotmachine.ts
  src/lib/games/WheelOfFortune.ts
  src/lib/setup/Canvas.ts
  src/lib/types/Augments.d.ts
  src/lib/types/shims/gifencoder.d.ts
  src/lib/util/util.ts
  src/lib/weather/utils.ts
  tests/lib/util/common/promises.test.ts
  yarn.lock
Labels: Meta: Dependencies, Meta: Refactor
