Repository skyra-project/skyra, pull requests merged in 2021-01, with the labels that each got.

#1469 refactor: use proper augmentations, remove more Klasa
  src/config.example.ts
  src/lib/SkyraClient.ts
  src/lib/types/Augments.d.ts
  src/lib/util/constants.ts
  yarn.lock
Labels: Meta: Refactor, SEM: Major

#1471 fix: member joined timestamp not working
  src/events/guilds/members/rawGuildMemberRemove.ts
  src/events/guilds/members/rawMemberRemoveFarewell.ts
  src/events/guilds/members/rawMemberRemoveNotify.ts
Labels: Meta: BugFix, Meta: Feature, Meta: Refactor

#1472 refactor: remove finalizers
  jest.config.ts
  src/events/commandUnknown.ts
  src/events/commands/commandSuccessAnalytics.ts
  src/events/commands/commandSuccessAutoDelete.ts
  src/inhibitors/cooldown.ts
  src/languages/en-US/commands/system.json
  src/lib/types/Enums.d.ts
  src/monitors/commandHandler.ts
  yarn.lock
Labels: Meta: Cleanup, Meta: Refactor, SEM: Major

#1473 refactor: switch to @skyra/editable-commands
  package.json
  src/commands/Announcement/subscribe.ts
  src/commands/Games/hungergames.ts
  src/commands/Social/marry.ts
  src/commands/System/Admin/load.ts
  src/commands/System/Admin/reload.ts
  src/lib/extensions/SkyraMessage.ts
  src/lib/extensions/index.ts
  src/lib/types/namespaces/languages/commands/Admin.ts
  src/lib/types/namespaces/languages/commands/Management.ts
  src/lib/types/namespaces/languages/commands/Social.ts
  yarn.lock
Labels: Meta: BugFix, Meta: Dependencies, Meta: Feature, Meta: Refactor

#1480 fix(yarn): escape URI component for the package's name
  src/commands/Developers/yarn.ts
Labels: Meta: BugFix

#1479 fix(dsearch): pass more parameters, prettify embed, handle errors
  src/commands/Misc/randreddit.ts
  src/commands/Tools/Websearch/dsearch.ts
  src/languages/en-US/commands/tools.json
  src/lib/errors/QueryError.ts
  src/lib/i18n/languageKeys/keys/commands/Tools.ts
  src/lib/structures/commands/WeebCommand.ts
  src/lib/util/util.ts
Labels: Meta: BugFix, Type: Enhancement

#1478 fix(filter): check word's length
  src/commands/Management/Message Filters/filter.ts
  src/languages/en-US/commands/management.json
  src/lib/i18n/languageKeys/keys/commands/Management.ts
Labels: Meta: BugFix, Type: Enhancement

#1481 fix(gsearch): properly parse URL for images
  package.json
  src/arguments/song.ts
  src/commands/Google/gsearch.ts
  src/lib/util/APIs/Google.ts
  yarn.lock
Labels: Meta: BugFix, Meta: Dependencies

#1482 fix(moderation): increase duration lengths
  scripts/SetMigrations.sql
  src/commands/Moderation/Utilities/time.ts
  src/lib/database/entities/GuildEntity.ts
  src/lib/database/entities/ModerationEntity.ts
  src/lib/database/migrations/1610659806881-V34_IncreasedModerationDurations.ts
Labels: Meta: BugFix, Priority: Critical, SEM: Major, Type: Enhancement

#1483 chore: update version
  package.json
  src/config.example.ts
Labels: SEM: Patch

#1484 refactor: remove monitors
  src/commands/Fun/markov.ts
  src/commands/System/Admin/eval.ts
  src/commands/System/Admin/load.ts
  src/commands/System/Admin/reload.ts
  src/config.example.ts
  src/events/analytics/guilds/guildCreateAnalytics.ts
  src/events/analytics/guilds/guildDeleteAnalytics.ts
  src/events/analytics/messages/messageAnalytics.ts
  src/events/commandUnknown.ts
  src/events/guilds/messages/guildUserMessageImageNotify.ts
  src/events/guilds/messages/guildUserMessagePointsHandler.ts
  src/events/guilds/messages/guildUserMessageTriggersHandler.ts
  src/events/messages/message.ts
  src/events/messages/messageUpdate.ts
  src/events/messages/userMessageCommandHandler.ts
  src/events/messages/userMessageGuildHandler.ts
  src/events/moderation/messages/guildUserMessageAttachmentsHandler.ts
  src/events/moderation/messages/guildUserMessageCapitalsHandler.ts
  src/events/moderation/messages/guildUserMessageInvitesHandler.ts
  src/events/moderation/messages/guildUserMessageLinksHandler.ts
  src/events/moderation/messages/guildUserMessageMentionsHandler.ts
  src/events/moderation/messages/guildUserMessageMessagesHandler.ts
  src/events/moderation/messages/guildUserMessageNewLinesHandler.ts
  src/events/moderation/messages/guildUserMessageWordsHandler.ts
  src/lib/structures/moderation/ModerationMessageEvent.ts
  src/lib/types/Enums.d.ts
  src/lib/types/definitions/Internals.d.ts
  src/monitors/analytics/messageReceived.ts
  yarn.lock
Labels: Meta: Cleanup, Meta: Refactor

#1487 refactor: code cleanup
  src/commands/Social/Profile Management/banner.ts
  src/commands/Social/pay.ts
  src/commands/Social/reputation.ts
  src/events/guilds/messages/guildUserMessagePointsHandler.ts
  src/lib/database/repositories/UserRepository.ts
Labels: Meta: Cleanup, Meta: Refactor

#1490 fix(transformers): handle null values
  src/lib/util/util.ts
Labels: Meta: BugFix, Priority: Critical

#1491 fix(i18n): fix roles string location
  src/commands/Management/roles.ts
  src/languages/ckb-IR/commands/tools.json
  src/languages/en-GB/commands/tools.json
  src/languages/en-US/commands/management.json
  src/languages/en-US/commands/tools.json
  src/languages/es-ES/commands/tools.json
  src/languages/fr-FR/commands/tools.json
  src/languages/hi-IN/commands/tools.json
  src/languages/hin-IN/commands/tools.json
  src/languages/nl-NL/commands/tools.json
  src/languages/ro-RO/commands/tools.json
  src/languages/ru-RU/commands/tools.json
  src/languages/sl-SI/commands/tools.json
  src/languages/tr-TR/commands/tools.json
Labels: Meta: BugFix, Priority: Critical

#1494 refactor: add better message delete event handlers
  src/events/messages/messageDeleteBulkRemoveResponses.ts
  src/events/messages/messageDeleteRemoveResponses.ts
  src/lib/extensions/SkyraMessage.ts
  yarn.lock
Labels: Meta: BugFix, Meta: Refactor

#1497 feat(reload): add language reloading
  src/commands/System/Admin/reload.ts
  src/languages/en-US/commands/system.json
  src/lib/i18n/languageKeys/keys/commands/System.ts
Labels: Meta: Feature

#1498 fix(mcad): ensure arg is not undefined
  src/commands/Management/Configuration/manageCommandAutodelete.ts
Labels: Meta: BugFix

#1502 fix(giveaway): initialize entry before inserting to queue
  src/lib/database/entities/GiveawayEntity.ts
  src/lib/structures/managers/GiveawayManager.ts
Labels: Meta: BugFix

#1503 fix(starboard): don't edit after destroy
  src/lib/database/entities/StarboardEntity.ts
  src/lib/structures/managers/StarboardManager.ts
Labels: Meta: BugFix

#1504 fix(trivia): resolved consistent error
  src/commands/Games/trivia.ts
Labels: Meta: BugFix

#1500 fix: fixed hastebin outputs by switching to self-hosted version
  docker/docker-compose.yml
  src/commands/System/Admin/exec.ts
  src/lib/util/Parsers/ExceededLength.ts
Labels: Meta: BugFix, Priority: Medium

#1510 fix(reload): fix arg resolution
  package.json
  src/commands/System/Admin/reload.ts
  yarn.lock
Labels: Meta: BugFix, Meta: Dependencies, Type: Dependencies

#1511 feat: pokemon sprite command
  .vscode/Skyra.code-snippets
  src/commands/Pokemon/sprite.ts
  src/languages/en-US/commands/pokemon.json
  src/lib/i18n/languageKeys/keys/commands/Pokemon.ts
  src/lib/util/APIs/Pokemon.ts
Labels: Meta: Feature

#1512 refactor: remove last traces of RichDisplay
  package.json
  src/commands/GameIntegration/overwatch.ts
  src/commands/General/Chat Bot Info/help.ts
  src/lib/structures/commands/PaginatedMessageCommand.ts
  yarn.lock
Labels: Meta: Refactor

#1517 feat: add languages route
  src/routes/languages.ts
Labels: Meta: BugFix, Meta: Feature

#1519 fix: added deleted arguments from Klasa
  src/arguments/duration.ts
  src/arguments/time.ts
Labels: Meta: BugFix, Priority: Critical

#1521 refactor(audio): refactored a couple of things, fixed another couple of things
  src/events/audio/lavalink/rawLavalinkClose.ts
  src/events/audio/lavalink/rawLavalinkError.ts
  src/events/audio/lavalink/rawLavalinkEvent.ts
  src/events/audio/lavalink/rawLavalinkOpen.ts
  src/events/audio/lavalink/rawLavalinkPlayerUpdate.ts
  src/events/audio/lavalink/rawTrackEndEvent.ts
  src/events/audio/lavalink/rawTrackExceptionEvent.ts
  src/events/audio/lavalink/rawTrackStuckEvent.ts
  src/events/audio/lavalink/rawWebSocketClosedEvent.ts
  src/events/audio/music/musicAddNotify.ts
  src/events/audio/music/musicConnect.ts
  src/events/audio/music/musicFinish.ts
  src/events/audio/music/musicFinishNotify.ts
  src/events/audio/music/musicLeave.ts
  src/events/audio/music/musicPrune.ts
  src/events/audio/music/musicQueueSync.ts
  src/events/audio/music/musicRemove.ts
  src/events/audio/music/musicRemoveNotify.ts
  src/events/audio/music/musicReplayUpdate.ts
  src/events/audio/music/musicReplayUpdateNotify.ts
  src/events/audio/music/musicSongPause.ts
  src/events/audio/music/musicSongPauseNotify.ts
  src/events/audio/music/musicSongPlay.ts
  src/events/audio/music/musicSongPlayNotify.ts
  src/events/audio/music/musicSongReplay.ts
  src/events/audio/music/musicSongResume.ts
  src/events/audio/music/musicSongResumeNotify.ts
  src/events/audio/music/musicSongSeekUpdate.ts
  src/events/audio/music/musicSongSeekUpdateNotify.ts
  src/events/audio/music/musicSongSkip.ts
  src/events/audio/music/musicSongSkipNotify.ts
  src/events/audio/music/musicSongVolumeUpdate.ts
  src/events/audio/music/musicSongVolumeUpdateNotify.ts
  src/events/audio/music/musicVoiceChannelJoin.ts
  src/events/audio/music/musicVoiceChannelLeave.ts
  src/events/audio/rawVoiceServerUpdate.ts
  src/events/audio/rawVoiceStateUpdate.ts
  src/events/errors/error.ts
  src/lib/structures/events/AudioEvent.ts
Labels: Meta: BugFix, Meta: Refactor, Priority: Critical

#1523 fix: prune role from all role related settings when it is deleted
  src/events/guilds/roles/roleDelete.ts
Labels: Meta: BugFix, Priority: High

#1522 fix(roleset): fixed message for adding /updating rolesets
  src/commands/Admin/roleset.ts
  src/languages/en-GB/commands/admin.json
  src/languages/en-US/commands/admin.json
  src/languages/es-ES/commands/admin.json
  src/languages/nl-NL/commands/admin.json
  src/languages/ro-RO/commands/admin.json
Labels: Meta: BugFix, Priority: High

#1525 fix(country): resolve timezones issue
  src/commands/Tools/Websearch/country.ts
  src/languages/en-US/commands/tools.json
  src/lib/i18n/languageKeys/keys/commands/Tools.ts
Labels: Meta: BugFix, Priority: High

#1526 fix: reload settings on error
  src/lib/database/settings/base/SettingsCollection.ts
Labels: Meta: BugFix

#1527 fix(moderation): check for NaNs
  src/lib/structures/commands/SelfModerationCommand.ts
Labels: Meta: BugFix, Priority: High

#1528 fix(moderation): check for ranges
  src/lib/structures/commands/ModerationCommand.ts
Labels: Meta: BugFix, Priority: High

#1529 fix(trivia): resolved truefalse error
  src/commands/Games/trivia.ts
  src/lib/games/TriviaManager.ts
Labels: Meta: BugFix, Priority: High

#1532 fix(api): fix authentication for dashboard
  src/routes/oauth/oauthUser.ts
Labels: Meta: BugFix, Priority: Critical

#1533 fix(api): fix auth for real
  package.json
  src/lib/api/types.d.ts
  src/lib/api/utils.ts
  src/lib/util/constants.ts
  src/lib/util/util.ts
  src/routes/banners.ts
  src/routes/commands.ts
  src/routes/guilds/guild.ts
  src/routes/guilds/guild/channels.ts
  src/routes/guilds/guild/channels/channel.ts
  src/routes/guilds/guild/leaderboard.ts
  src/routes/guilds/guild/members/member.ts
  src/routes/guilds/guild/roles.ts
  src/routes/guilds/guild/roles/role.ts
  src/routes/guilds/guild/settings.ts
  src/routes/languages.ts
  src/routes/main.ts
  src/routes/oauth/oauthUser.ts
  src/routes/users/leaderboard.ts
  src/routes/users/user.ts
  src/routes/users/user/settings.ts
  yarn.lock
Labels: Meta: BugFix, Priority: Critical
