Repository skyra-project/skyra, pull requests merged in 2021-10, with the labels that each got.

#2073 fix: disable `country` command for until we can find an API replacement
  src/commands/Tools/Websearch/country.ts
Labels: hacktoberfest-accepted

#2074 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#2075 fix(reaction-roles): fixed removal for custom emojis
  scripts/SetMigrations.sql
  src/lib/database/migrations/1633184279614-V57_MigrateReactionRolesToOnlyId.ts
  src/listeners/reactions/rawReactionRemoveRole.ts
Labels: Meta: BugFix

#2106 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor
