Repository skyra-project/skyra, pull requests merged in 2021-12, with the labels that each got.

#2139 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#2146 refactor(stats): change to timestamp
  src/commands/System/stats.ts
  src/languages/en-US/commands/system.json
Labels: Meta: Refactor

#2156 fix(heapsnapshot): fixed it for docker
  Dockerfile
  src/commands/System/Admin/heapsnapshot.ts
Labels: Priority: Critical, Meta: BugFix

#2132 refactor: use sweepers
  src/config.ts
Labels: Meta: Dependencies
