Repository skyra-project/skyra, pull requests merged in 2021-05, with the labels that each got.

#1817 fix: resolve various permissions
  package.json
  typescript/src/commands/General/Chat Bot Info/help.ts
  typescript/src/commands/Management/Configuration/manage-reaction-roles.ts
  typescript/src/commands/Tools/poll.ts
  typescript/src/lib/util/decorators.ts
Labels: Meta: BugFix, Priority: High

#1818 refactor: switch to @sapphire/fetch
  scripts/tlds.mjs
  typescript/src/arguments/song.ts
  typescript/src/audio/commands/Music/importqueue.ts
  typescript/src/commands/Animal/dog.ts
  typescript/src/commands/Animal/fox.ts
  typescript/src/commands/Animal/kitty.ts
  typescript/src/commands/Animal/shibe.ts
  typescript/src/commands/Animation/anime.ts
  typescript/src/commands/Animation/manga.ts
  typescript/src/commands/Developers/yarn.ts
  typescript/src/commands/Fun/norris.ts
  typescript/src/commands/Fun/pun.ts
  typescript/src/commands/Fun/xkcd.ts
  typescript/src/commands/GameIntegration/brawlstars.ts
  typescript/src/commands/GameIntegration/clashofclans.ts
  typescript/src/commands/GameIntegration/fortnite.ts
  typescript/src/commands/GameIntegration/overwatch.ts
  typescript/src/commands/General/Chat Bot Info/analytics.ts
  typescript/src/commands/Google/currenttime.ts
  typescript/src/commands/Misc/randreddit.ts
  typescript/src/commands/Misc/reddituser.ts
  typescript/src/commands/Tools/Dictionary/define.ts
  typescript/src/commands/Tools/Dictionary/urban.ts
  typescript/src/commands/Tools/Websearch/country.ts
  typescript/src/commands/Tools/Websearch/dsearch.ts
  typescript/src/commands/Tools/Websearch/eshop.ts
  typescript/src/commands/Tools/Websearch/igdb.ts
  typescript/src/commands/Tools/Websearch/itunes.ts
  typescript/src/commands/Tools/Websearch/movies.ts
  typescript/src/commands/Tools/Websearch/price.ts
  typescript/src/commands/Tools/Websearch/shows.ts
  typescript/src/commands/Tools/Websearch/wikipedia.ts
  typescript/src/commands/Tools/Websearch/youtube.ts
  typescript/src/commands/Tools/emoji.ts
  typescript/src/events/guilds/messages/guildUserMessageImageNotify.ts
  typescript/src/lib/errors/QueryError.ts
  typescript/src/lib/games/TriviaManager.ts
  typescript/src/lib/structures/commands/WeebCommand.ts
  typescript/src/lib/util/APIs/FFXIVUtils.ts
  typescript/src/lib/util/APIs/Google.ts
  typescript/src/lib/util/APIs/Hastebin.ts
  typescript/src/lib/util/APIs/Pokemon.ts
  typescript/src/lib/util/APIs/Saelem.ts
  typescript/src/lib/util/Notifications/Twitch.ts
  typescript/src/lib/util/util.ts
  typescript/src/lib/weather/utils.ts
  typescript/src/package.json
  typescript/src/routes/oauth/oauthUser.ts
  typescript/src/tasks/poststats.ts
  typescript/unit-tests/tests/lib/util.test.ts
  yarn.lock
Labels: Meta: Refactor, Priority: Medium

#1820 test: remove ts-jest in favour of babel
  .gitignore
  babel.config.js
  package.json
  tsconfig.eslint.json
  typescript/integration-tests/jest.config.ts
  typescript/src/lib/moderation/structures/SelfModerationCommand.ts
  typescript/src/lib/structures/commands/ChannelConfigurationCommand.ts
  typescript/src/lib/structures/commands/PaginatedMessageCommand.ts
  typescript/src/lib/structures/commands/WeebCommand.ts
  typescript/unit-tests/jest.config.ts
  yarn.lock
Labels: Meta: Refactor, Priority: Kirito Level

#1822 feat(join-and-leave): add auto-delete timer options
  scripts/SetMigrations.sql
  services/Skyra.Database/Migrations/20210502160754_V04_JoinAndLeaveMessageAutoDelete.Designer.cs
  services/Skyra.Database/Migrations/20210502160754_V04_JoinAndLeaveMessageAutoDelete.cs
  services/Skyra.Database/Models/Entities/Guild.cs
  typescript/src/events/guilds/members/notMutedMemberAddGreeting.ts
  typescript/src/events/guilds/members/rawMemberRemoveFarewell.ts
  typescript/src/languages/en-US/settings.json
  typescript/src/lib/database/entities/GuildEntity.ts
  typescript/src/lib/database/keys/settings/Messages.ts
  typescript/src/lib/database/migrations/1619969827210-V52_JoinAndLeaveMessageAutoDelete.ts
  typescript/src/lib/i18n/languageKeys/keys/Settings.ts
Labels: Meta: Feature, Type: Enhancement

#1821 feat(afk): add a bunch of control sub-commands
  typescript/src/commands/Misc/afk.ts
  typescript/src/events/guilds/messages/guildUserMessageAfkHandler.ts
  typescript/src/languages/en-US/arguments.json
  typescript/src/languages/en-US/commands/misc.json
  typescript/src/lib/i18n/languageKeys/keys/Arguments.ts
  typescript/src/lib/i18n/languageKeys/keys/commands/Misc.ts
Labels: Meta: Feature, Priority: High, Type: Enhancement

#1824 feat(giveaway): added giveaway-end command
  typescript/src/commands/Giveaway/gend.ts
  typescript/src/languages/en-US/commands/giveaway.json
  typescript/src/lib/i18n/languageKeys/keys/commands/Giveaway.ts
Labels: Meta: Feature, Priority: High, Type: Enhancement

#1829 fix: afk help description
  typescript/src/languages/en-US/commands/misc.json
Labels: Meta: Documentation, Type: Enhancement

#1832 refactor: unguard owner-only commands, leave important ones
  typescript/src/commands/General/Chat Bot Info/info.ts
  typescript/src/commands/General/Chat Bot Info/ping.ts
  typescript/src/commands/System/Admin/disable.ts
  typescript/src/commands/System/Admin/dm.ts
  typescript/src/commands/System/Admin/enable.ts
  typescript/src/commands/System/Admin/eval.ts
  typescript/src/commands/System/Admin/exec.ts
  typescript/src/commands/System/Admin/heapsnapshot.ts
  typescript/src/commands/System/Admin/reboot.ts
  typescript/src/commands/System/Admin/reload.ts
  typescript/src/commands/System/Admin/update.ts
  typescript/src/commands/System/echo.ts
Labels: Meta: Refactor, Type: Enhancement

#1831 fix(pnodes): add admin override
  typescript/src/lib/structures/preconditions/PermissionsPrecondition.ts
Labels: Meta: BugFix, Priority: High, Type: Enhancement

#1830 fix(cad): use timespan
  typescript/src/commands/Management/Configuration/manage-command-auto-delete.ts
Labels: Meta: BugFix, Priority: High

#1827 feat(prune): make options flags
  typescript/src/commands/Moderation/prune.ts
  typescript/src/languages/en-US/commands/moderation.json
  typescript/src/lib/util/comparators.ts
  typescript/unit-tests/tests/lib/comparators.test.ts
Labels: Meta: Feature, Meta: Refactor, Type: Enhancement

#1828 feat(afk): added settings to add role and customise prefix
  scripts/SetMigrations.sql
  services/Skyra.Database/Migrations/20210503141534_V05_AfkSettings.Designer.cs
  services/Skyra.Database/Migrations/20210503141534_V05_AfkSettings.cs
  services/Skyra.Database/Models/Entities/Guild.cs
  services/Skyra.Database/SkyraDbContext.cs
  typescript/src/commands/Misc/afk.ts
  typescript/src/events/guilds/messages/guildUserMessageAfkHandler.ts
  typescript/src/languages/en-US/settings.json
  typescript/src/lib/database/entities/GuildEntity.ts
  typescript/src/lib/database/keys/settings/Afk.ts
  typescript/src/lib/database/keys/settings/All.ts
  typescript/src/lib/database/migrations/1620050724729-V53_AfkSettings.ts
  typescript/src/lib/i18n/languageKeys/keys/Settings.ts
Labels: Meta: Feature, Priority: High, Type: Enhancement

#1835 feat(good-night): add gn alias
  typescript/src/commands/Misc/good-night.ts
Labels: Meta: Feature, Type: Enhancement

#1844 fix: resolve proper case id
  typescript/src/arguments/case.ts
  typescript/src/commands/Suggestions/suggest.ts
  typescript/src/lib/database/entities/ModerationEntity.ts
  typescript/src/lib/database/migrations/1594413973851-V01_MigrateClientStorage.ts
  typescript/src/lib/database/migrations/1594582514749-V02_MigrateDashboardUsers.ts
  typescript/src/lib/database/migrations/1594582821724-V03_MigrateBanners.ts
  typescript/src/lib/database/migrations/1594582905434-V04_MigrateGiveaways.ts
  typescript/src/lib/database/migrations/1594583243068-V06_MigrateMembers.ts
  typescript/src/lib/database/migrations/1594583300041-V07_MigrateModeration.ts
  typescript/src/lib/database/migrations/1594625931497-V08_MigrateUsers.ts
  typescript/src/lib/database/migrations/1594628900945-V09_MigrateSuggestion.ts
  typescript/src/lib/database/migrations/1594629639526-V10_MigrateTwitchSubscription.ts
  typescript/src/lib/database/migrations/1594649287397-V11_MigrateRpg.ts
  typescript/src/lib/database/migrations/1594669268323-V12_ClearOldTables.ts
  typescript/src/lib/database/migrations/1594757329224-V13_MigrateAnalytics.ts
  typescript/src/lib/database/migrations/1597266996401-V21_AddMissingChecks.ts
  typescript/src/lib/database/migrations/1605027257347-V26_RemoveCommandUserCounter.ts
  typescript/src/lib/database/migrations/1605460185741-V28_SuggestionIdRemoveFromGuild.ts
  typescript/src/lib/database/migrations/1606138444111-V29_AttachmentMode.ts
  typescript/src/lib/database/migrations/1610450637243-V33_LimitLessLanguageCodes.ts
  typescript/src/lib/database/migrations/1610659806881-V34_IncreasedModerationDurations.ts
  typescript/src/lib/database/migrations/1614640993140-V36_RemoveEveryonePermissionNodes.ts
  typescript/src/lib/database/migrations/1616108184492-V38_UpdateBirthdayIntegration.ts
  typescript/src/lib/database/migrations/1617297815771-V45_AddAliasesArrayToTags.ts
  typescript/src/lib/database/migrations/1618562933625-V49_StripConfusablesFromWordFilter.ts
  typescript/src/lib/database/migrations/1619089555427-V51_NewSocialFeaturesAndValueRename.ts
  typescript/src/lib/database/repositories/UserRepository.ts
  typescript/src/lib/moderation/managers/ModerationManager.ts
Labels: Meta: BugFix, Status: Needs Testing

#1846 fix(moderation): make duration optional
  typescript/src/lib/moderation/structures/ModerationCommand.ts
Labels: Meta: BugFix, Priority: Critical

#1847 feat(fun): added think command
  assets/images/memes/think.png
  typescript/src/commands/Fun/think.ts
  typescript/src/languages/de-DE/commands/fun.json
  typescript/src/languages/en-US/commands/fun.json
  typescript/src/lib/i18n/languageKeys/keys/commands/Fun.ts
Labels: Meta: Feature, Type: Enhancement

#1849 fix(marry): check prompt results correctly
  typescript/src/commands/Relationships/marry.ts
Labels: Meta: BugFix

#1850 feat: added `where` command
  assets/images/memes/where.png
  typescript/src/commands/Fun/where.ts
  typescript/src/languages/en-US/commands/fun.json
  typescript/src/lib/i18n/languageKeys/keys/commands/Fun.ts
Labels: Meta: Feature

#1862 fix(mcad): fixed time arg
  typescript/src/commands/Management/Configuration/manage-command-auto-delete.ts
Labels: Meta: BugFix, Priority: High

#1869 fix(tasks): ensure cache is populated before schedules are initialized
  typescript/src/lib/SkyraClient.ts
Labels: Meta: BugFix, Meta: Refactor, Priority: Medium

#1871 feat: add back sprite support to pokemon
  package.json
  typescript/src/commands/Pokemon/flavors.ts
  typescript/src/commands/Pokemon/learn.ts
  typescript/src/commands/Pokemon/pokedex.ts
  typescript/src/commands/Pokemon/sprite.ts
  typescript/src/languages/en-GB/commands/pokemon.json
  typescript/src/languages/en-US/commands/pokemon.json
  typescript/src/lib/util/APIs/Pokemon.ts
  yarn.lock
Labels: Meta: Feature, Priority: Medium
