Repository skyra-project/skyra, pull requests merged in 2022-02, with the labels that each got.

#2188 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#2194 fix(remindme): add maximum
  src/commands/Misc/remindme.ts
Labels: Meta: BugFix

#2207 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#2210 feat: add dragonite notice to all pokemon commands
  src/commands/Pokemon/ability.ts
  src/commands/Pokemon/flavors.ts
  src/commands/Pokemon/item.ts
  src/commands/Pokemon/learn.ts
  src/commands/Pokemon/move.ts
  src/commands/Pokemon/pokedex.ts
  src/commands/Pokemon/sprite.ts
  src/commands/Pokemon/type.ts
  src/languages/en-GB/commands/pokemon.json
  src/languages/en-US/commands/pokemon.json
  src/lib/i18n/languageKeys/keys/commands/Pokemon.ts
Labels: Priority: Medium, Meta: Refactor
