Repository skyra-project/skyra, pull requests merged in 2022-04, with the labels that each got.

#2246 refactor: remove `dsearch`
  src/commands/General/v7.ts
  src/commands/Tools/Websearch/dsearch.ts
  src/languages/de-DE/commands/tools.json
  src/languages/en-GB/commands/tools.json
  src/languages/en-US/commands/tools.json
  src/languages/es-ES/commands/tools.json
  src/languages/fa-IR/commands/tools.json
  src/languages/fr-FR/commands/tools.json
  src/languages/hi-IN/commands/tools.json
  src/languages/hi-Latn-IN/commands/tools.json
  src/languages/it-IT/commands/tools.json
  src/languages/ja-JP/commands/tools.json
  src/languages/nb-NO/commands/tools.json
  src/languages/nl-NL/commands/tools.json
  src/languages/pt-BR/commands/tools.json
  src/languages/ro-RO/commands/tools.json
  src/languages/ru-RU/commands/tools.json
  src/languages/sl-SI/commands/tools.json
  src/languages/tr-TR/commands/tools.json
  src/lib/database/migrations/1594757329224-V13_MigrateAnalytics.json
  src/lib/i18n/languageKeys/keys/commands/Tools.ts
Labels: Meta: Refactor

#2248 refactor: update TLDs
  src/lib/util/Links/TLDs.ts
Labels: Meta: Refactor

#2252 refactor: remove Pokémon commands
  .docker/README.md
  .docker/docker-compose.yml
  README.md
  package.json
  src/.env
  src/.env.development
  src/commands/General/v7-pokemon.ts
  src/commands/Pokemon/ability.ts
  src/commands/Pokemon/flavors.ts
  src/commands/Pokemon/item.ts
  src/commands/Pokemon/learn.ts
  src/commands/Pokemon/move.ts
  src/commands/Pokemon/pokedex.ts
  src/commands/Pokemon/sprite.ts
  src/commands/Pokemon/type.ts
  src/languages/de-DE/commands/pokemon.json
  src/languages/de-DE/system.json
  src/languages/en-GB/commands/pokemon.json
  src/languages/en-GB/system.json
  src/languages/en-US/commands/general.json
  src/languages/en-US/commands/pokemon.json
  src/languages/en-US/system.json
  src/languages/es-ES/commands/pokemon.json
  src/languages/es-ES/system.json
  src/languages/fa-IR/commands/pokemon.json
  src/languages/fa-IR/system.json
  src/languages/fr-FR/commands/pokemon.json
  src/languages/fr-FR/system.json
  src/languages/hi-IN/commands/pokemon.json
  src/languages/hi-IN/system.json
  src/languages/hi-Latn-IN/commands/pokemon.json
  src/languages/hi-Latn-IN/system.json
  src/languages/it-IT/commands/pokemon.json
  src/languages/it-IT/system.json
  src/languages/ja-JP/commands/pokemon.json
  src/languages/ja-JP/system.json
  src/languages/nb-NO/commands/pokemon.json
  src/languages/nb-NO/system.json
  src/languages/nl-NL/commands/pokemon.json
  src/languages/nl-NL/system.json
  src/languages/pt-BR/commands/pokemon.json
  src/languages/pt-BR/system.json
  src/languages/ro-RO/commands/pokemon.json
  src/languages/ro-RO/system.json
  src/languages/ru-RU/commands/pokemon.json
  src/languages/ru-RU/system.json
  src/languages/sl-SI/commands/pokemon.json
  src/languages/sl-SI/system.json
  src/languages/tr-TR/commands/pokemon.json
  src/languages/tr-TR/system.json
  src/lib/database/migrations/1594757329224-V13_MigrateAnalytics.json
  src/lib/env/types.ts
  src/lib/i18n/languageKeys/keys/Commands.ts
  src/lib/i18n/languageKeys/keys/System.ts
  src/lib/i18n/languageKeys/keys/commands/General.ts
  src/lib/i18n/languageKeys/keys/commands/Pokemon.ts
  src/lib/util/APIs/Pokemon.ts
  src/lib/util/constants.ts
  yarn.lock
Labels: Meta: Refactor

#2254 refactor: remove gRPC
  .eslintignore
  .github/workflows/continuous-integration.yml
  jest.config.ts
  package.json
  scripts/build/clean.mjs
  scripts/build/grpc.mjs
  src/.env
  src/.env.development
  src/.env.test
  src/Skyra.ts
  src/lib/env/types.ts
  src/lib/grpc/ModelStore.ts
  src/lib/grpc/index.ts
  src/lib/grpc/structures/base/ClientHandler.ts
  src/lib/grpc/structures/errors/ResponseError.ts
  src/lib/grpc/structures/errors/index.ts
  src/lib/grpc/structures/index.ts
  src/lib/setup/Grpc.ts
  src/lib/setup/index.ts
  src/lib/types/Augments.d.ts
  yarn.lock
Labels: SEM: Major, Meta: Refactor

#2255 refactor: remove outflux
  .docker/README.md
  .docker/docker-compose.yml
  README.md
  src/.env
  src/.env.development
  src/commands/General/analytics.ts
  src/languages/de-DE/commands/general.json
  src/languages/en-GB/commands/general.json
  src/languages/en-US/commands/general.json
  src/languages/es-ES/commands/general.json
  src/languages/fa-IR/commands/general.json
  src/languages/fr-FR/commands/general.json
  src/languages/hi-IN/commands/general.json
  src/languages/hi-Latn-IN/commands/general.json
  src/languages/it-IT/commands/general.json
  src/languages/ja-JP/commands/general.json
  src/languages/nb-NO/commands/general.json
  src/languages/nl-NL/commands/general.json
  src/languages/pt-BR/commands/general.json
  src/languages/ro-RO/commands/general.json
  src/languages/ru-RU/commands/general.json
  src/languages/sl-SI/commands/general.json
  src/languages/tr-TR/commands/general.json
  src/lib/env/types.ts
  src/lib/i18n/languageKeys/keys/commands/General.ts
Labels: SEM: Major, Meta: Refactor

#2256 refactor: switch to `@skyra/env-utilities`
  package.json
  src/commands/Animation/kitsu-anime.ts
  src/commands/Animation/kitsu-manga.ts
  src/commands/System/Admin/heapsnapshot.ts
  src/commands/System/Admin/reboot.ts
  src/commands/Tools/Dictionary/define.ts
  src/commands/Tools/Websearch/eshop.ts
  src/commands/Tools/Websearch/horoscope.ts
  src/commands/Tools/Websearch/igdb.ts
  src/commands/Tools/Websearch/movies.ts
  src/commands/Tools/Websearch/price.ts
  src/commands/Tools/Websearch/shows.ts
  src/commands/Tools/Websearch/youtube.ts
  src/commands/Twitch/followage.ts
  src/commands/Twitch/twitch.ts
  src/commands/Twitch/twitchsubscription.ts
  src/config.ts
  src/lib/SkyraClient.ts
  src/lib/database/database.config.ts
  src/lib/env/augments.d.ts
  src/lib/env/index.ts
  src/lib/env/types.ts
  src/lib/env/utils.ts
  src/lib/moderation/workers/WorkerHandler.ts
  src/lib/moderation/workers/WorkerManager.ts
  src/lib/structures/AnalyticsData.ts
  src/lib/structures/commands/WeebCommand.ts
  src/lib/structures/listeners/AnalyticsListener.ts
  src/lib/types/Augments.d.ts
  src/lib/util/APIs/Hastebin.ts
  src/lib/util/APIs/Saelem.ts
  src/lib/util/APIs/StarWars.ts
  src/listeners/commands/commandError.ts
  src/listeners/errors/listenerErrorSentry.ts
  src/listeners/errors/taskErrorSentry.ts
  src/listeners/ready.ts
  yarn.lock
Labels: Meta: Refactor

#2261 fix(content): allow news channels
  src/commands/Tools/content.ts
Labels: Meta: BugFix

#2262 refactor: merge info and stats
  src/commands/General/info.ts
  src/commands/System/stats.ts
  src/languages/en-GB/commands/system.json
  src/languages/en-US/commands/general.json
  src/languages/en-US/commands/system.json
  src/lib/i18n/languageKeys/keys/commands/General.ts
  src/lib/i18n/languageKeys/keys/commands/System.ts
Labels: Meta: BugFix, Meta: Refactor
